Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

check-licenses:
  name: Check Licenses
  description: Checks that all files have correct copyright licenses
  entry: python -m CheckLicensesInFiles
  language: python

check-release-notes-format:
  name: Check Release Notes Format
  description: Validate release note filename and contents format before commit
  entry: python  -m CheckReleaseNoteFormat
  language: python
  additional_dependencies:
  - requests

pyright:
  name: pyright
  description: Checks that all files pass pyright checks
  entry: pyright
  language: system

Update documentation
  _modules/mantidimaging/core/operations/sum_stack_intensities/sum_intensities.html
  _modules/mantidimaging/gui/windows/operations/view.html
  api/mantidimaging.core.operations.sum_stack_intensities.html
  api/mantidimaging.core.operations.sum_stack_intensities.sum_intensities.html
  api/mantidimaging.gui.windows.operations.html
  api/mantidimaging.gui.windows.operations.view.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
  user_docs/explanations/operations/index.html
Due: none

Create Fit Parameter Mapping
  mantidimaging/core/utility/sensible_roi.py
  mantidimaging/gui/windows/spectrum_viewer/model.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

Create Tests to Validate 2D Parameter Mapping
  mantidimaging/gui/windows/spectrum_viewer/test/model_test.py
Due: check-licenses, pyright

fixup
  mantidimaging/gui/windows/spectrum_viewer/test/model_test.py
Due: check-licenses, pyright

Create Map overlay and Param Selection
  mantidimaging/gui/widgets/spectrum_widgets/export_image_widget.py
  mantidimaging/gui/widgets/spectrum_widgets/export_settings_widget.py
Due: check-licenses, pyright

Update Param Map on_fit_all_regions & Param Selection
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Add Chi^2 Threshold and Opacity Control
  mantidimaging/gui/widgets/spectrum_widgets/export_image_widget.py
  mantidimaging/gui/widgets/spectrum_widgets/export_settings_widget.py
  mantidimaging/gui/windows/spectrum_viewer/model.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/core/io/utility.html
  _modules/mantidimaging/gui/windows/main/presenter.html
  _modules/mantidimaging/gui/windows/recon/view.html
  api/mantidimaging.core.io.html
  api/mantidimaging.core.io.utility.html
  api/mantidimaging.gui.windows.main.html
  api/mantidimaging.gui.windows.main.presenter.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

Update documentation
  _modules/mantidimaging/gui/windows/spectrum_viewer/fitting_form.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/presenter.html
  release_notes/next.html
  searchindex.js
Due: none

explicitly clean up multiprocessing resources in your test teardown
  mantidimaging/gui/test/gui_system_spectrum_test.py
Due: check-licenses, pyright

system tests: delete main_window in tearDown()
  mantidimaging/gui/test/gui_system_base.py
  mantidimaging/gui/test/gui_system_liveviewer_test.py
  mantidimaging/gui/test/gui_system_loading_test.py
  mantidimaging/gui/test/gui_system_operations_test.py
  mantidimaging/gui/test/gui_system_reconstruction_test.py
  mantidimaging/gui/test/gui_system_spectrum_test.py
  mantidimaging/gui/test/gui_system_windows_test.py
Due: check-licenses, pyright

Fix: prevent segmentation faults and mypy errors in image view widgets
  mantidimaging/gui/widgets/mi_mini_image_view/view.py
  mantidimaging/gui/windows/spectrum_viewer/spectrum_widget.py
Due: check-licenses, pyright

Pass correct 2D vectors to create_Cone2D for cone geometry preview
  mantidimaging/core/reconstruct/cil_recon.py
Due: check-licenses, pyright

Add a graveyard for some more ViewBoxes
  mantidimaging/gui/widgets/spectrum_widgets/export_image_widget.py
  mantidimaging/gui/widgets/zslider/zslider.py
  mantidimaging/gui/windows/operations/filter_previews.py
Due: check-licenses, pyright

Connect Map UI and Consolidate File Handling
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Add Colour Range Dropdown Selection
  mantidimaging/gui/widgets/spectrum_widgets/export_image_widget.py
  mantidimaging/gui/widgets/spectrum_widgets/export_settings_widget.py
  mantidimaging/gui/windows/spectrum_viewer/model.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Refactor Autoleveling & Resolve Transposition Bug
  mantidimaging/gui/widgets/spectrum_widgets/export_image_widget.py
Due: check-licenses, pyright

Create Mapping Overlay for Export Image
  mantidimaging/gui/windows/spectrum_viewer/model.py
Due: check-licenses, pyright

Add Param Display Img Map Export
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Add Map Export Area Selection and Button
  mantidimaging/gui/widgets/spectrum_widgets/export_settings_widget.py
Due: check-licenses, pyright

Show Image Tab and Preseelct Param on Fit All
  mantidimaging/gui/widgets/spectrum_widgets/export_settings_widget.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Add Tests to Check Param Map Composite Img Blended
  mantidimaging/gui/windows/spectrum_viewer/test/presenter_test.py
Due: check-licenses, pyright

Ensure Selected Colour Levels Used on Tab Switch
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Release Notes
  docs/release_notes/next/feature-2955-map_fitted_params_over_sample_image
Due: check-release-notes-format

Update documentation
  _modules/mantidimaging/gui/widgets/mi_mini_image_view/view.html
  _modules/mantidimaging/gui/widgets/spectrum_widgets/export_image_widget.html
  _modules/mantidimaging/gui/widgets/zslider/zslider.html
  _modules/mantidimaging/gui/windows/operations/filter_previews.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/spectrum_widget.html
Due: none

Path conditions:
  check-licenses: any of: \.py$
  check-release-notes-format: any of: ^docs/release_notes/next/
  pyright: any of: \.py$
