Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

check-licenses:
  name: Check Licenses
  description: Checks that all files have correct copyright licenses
  entry: python -m CheckLicensesInFiles
  language: python

check-release-notes-format:
  name: Check Release Notes Format
  description: Validate release note filename and contents format before commit
  entry: python  -m CheckReleaseNoteFormat
  language: python
  additional_dependencies:
  - requests

pyright:
  name: pyright
  description: Checks that all files pass pyright checks
  entry: pyright
  language: system

Update documentation
  _modules/mantidimaging/core/data/imagestack.html
  _modules/mantidimaging/gui/windows/nexus_load_dialog/presenter.html
  _modules/mantidimaging/gui/windows/nexus_load_dialog/view.html
  api/mantidimaging.core.data.html
  api/mantidimaging.core.data.imagestack.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

Export table is initially set up from the SV view instead from the Fitting Tab. Fit from ROI button is now disconnected from the Export Tab.
  mantidimaging/gui/windows/spectrum_viewer/fitting_form.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Fix IndexError for invalid bin/step size in Spectrum Viewer ROI binning
  mantidimaging/core/utility/sensible_roi.py
  mantidimaging/gui/widgets/spectrum_widgets/roi_form_widget.py
Due: check-licenses, pyright

Update documentation
  _modules/index.html
  _modules/mantidimaging/core/data/imagestack.html
  _modules/mantidimaging/core/operations/sum_stack_intensities/sum_intensities.html
  _modules/mantidimaging/gui/windows/operations/presenter.html
  _sources/api/mantidimaging.core.operations.rst.txt
  _sources/api/mantidimaging.core.operations.sum_stack_intensities.rst.txt
  _sources/api/mantidimaging.core.operations.sum_stack_intensities.sum_intensities.rst.txt
  api/mantidimaging.core.data.html
  api/mantidimaging.core.data.imagestack.html
  api/mantidimaging.core.html
  api/mantidimaging.core.operations.base_filter.html
  api/mantidimaging.core.operations.rotate_stack.rotate_stack.html
  api/mantidimaging.core.operations.sum_stack_intensities.html
  api/mantidimaging.core.operations.sum_stack_intensities.sum_intensities.html
  genindex.html
  objects.inv
  py-modindex.html
  searchindex.js
  user_docs/explanations/operations/index.html
Due: none

Update documentation
  _modules/mantidimaging/gui/windows/geometry/presenter.html
  _modules/mantidimaging/gui/windows/geometry/view.html
  _modules/mantidimaging/gui/windows/recon/view.html
  api/mantidimaging.gui.windows.geometry.html
  api/mantidimaging.gui.windows.geometry.presenter.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

made suggested change
  mantidimaging/gui/windows/main/model.py
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/recon/presenter.py
Due: check-licenses, pyright

Spectrum Viewer table and image views are only updated within the export tabs
  mantidimaging/gui/windows/spectrum_viewer/fitting_form.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

yapf fix
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Added system test test_fit_model_does_not_update_export_table
  mantidimaging/gui/test/gui_system_spectrum_test.py
Due: check-licenses, pyright

Image in Export Image tab is updated if the Image tab is active when the Export tab is switched to
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

system test test_export_image_tab_not_updated_until_viewed added
  mantidimaging/gui/test/gui_system_spectrum_test.py
Due: check-licenses, pyright

made suggested change
  mantidimaging/gui/widgets/spectrum_widgets/roi_form_widget.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/gui/widgets/spectrum_widgets/fitting_display_widget.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/fitting_form.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/presenter.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/view.html
  api/mantidimaging.gui.widgets.spectrum_widgets.fitting_display_widget.html
  api/mantidimaging.gui.widgets.spectrum_widgets.html
  api/mantidimaging.gui.windows.spectrum_viewer.fitting_form.html
  api/mantidimaging.gui.windows.spectrum_viewer.html
  api/mantidimaging.gui.windows.spectrum_viewer.view.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

Upon late angle file load, the dataset is ordered according to angles, correcting the sinogram
  mantidimaging/gui/windows/main/model.py
  mantidimaging/gui/windows/main/presenter.py
Due: check-licenses, pyright

main window model test fix test_add_projection_angles_to_sample_no_stack
  mantidimaging/gui/windows/main/model.py
Due: check-licenses, pyright

main window model test fix test_add_projection_angles_to_sample
  mantidimaging/gui/windows/main/test/model_test.py
Due: check-licenses, pyright

rounding system test
  mantidimaging/gui/test/gui_system_loading_test.py
Due: check-licenses, pyright

fix for main window presenter test test_add_projection_angles_to_stack
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/main/test/presenter_test.py
Due: check-licenses, pyright

release note
  docs/release_notes/next/feature-2909-late_angle_load_sorts_dataset
Due: check-release-notes-format

On sub roi changed, directly fetch spectrum from model and update thumbnail with sub roi
  mantidimaging/gui/widgets/spectrum_widgets/roi_selection_widget.py
  mantidimaging/gui/windows/spectrum_viewer/fitting_form.py
Due: check-licenses, pyright

Hook up spectrum to sub roi and update sub roi thumbnail on spinbox value change
  docs/release_notes/next/dev-2953-hook-up-spectrum-for-sub-roi
  mantidimaging/gui/widgets/spectrum_widgets/fitting_display_widget.py
  mantidimaging/gui/widgets/spectrum_widgets/roi_selection_widget.py
  mantidimaging/gui/windows/spectrum_viewer/fitting_form.py
Due: check-licenses, check-release-notes-format, pyright

add test to update sub roi thumbnail when spinbox values change
  mantidimaging/eyes_tests/spectrum_viewer_test.py
  mantidimaging/gui/widgets/spectrum_widgets/roi_form_widget.py
Due: check-licenses, pyright

suggested changes to test_fit_model_does_not_update_export_table
  mantidimaging/gui/test/gui_system_spectrum_test.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/gui/windows/spectrum_viewer/fitting_form.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/view.html
  api/mantidimaging.gui.windows.spectrum_viewer.html
  api/mantidimaging.gui.windows.spectrum_viewer.view.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

update recon with log
  mantidimaging/gui/windows/main/view.py
Due: check-licenses, pyright

save as sinogram checkbox added to save images dialog
  mantidimaging/gui/ui/image_save_dialog.ui
Due: none

add test to update sub roi thumbnail when spinbox values change
  mantidimaging/eyes_tests/spectrum_viewer_test.py
  mantidimaging/gui/widgets/spectrum_widgets/fitting_display_widget.py
  mantidimaging/gui/widgets/spectrum_widgets/roi_form_widget.py
  mantidimaging/gui/widgets/spectrum_widgets/roi_selection_widget.py
  mantidimaging/gui/windows/spectrum_viewer/fitting_form.py
Due: check-licenses, pyright

user can save sinograms of dataset by checking save_as_sinograms in Save as Images dialog
  mantidimaging/gui/windows/main/model.py
  mantidimaging/gui/windows/main/presenter.py
Due: check-licenses, pyright

Main Window Model test fixes
  mantidimaging/gui/windows/main/test/model_test.py
Due: check-licenses, pyright

release note
  docs/release_notes/next/feature-2874-save-sinograms
Due: check-release-notes-format

check for sinogram by looking at image shape rather than relying on is_sinogram flag
  mantidimaging/gui/windows/main/model.py
Due: check-licenses, pyright

Refactored ROI bin spinbox clamping logic in ROIFormWidget
  mantidimaging/gui/widgets/spectrum_widgets/roi_form_widget.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

When saving, sinograms are found without relying on Imagestack data structure
  mantidimaging/gui/windows/main/model.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/gui/widgets/spectrum_widgets/fitting_display_widget.html
  _modules/mantidimaging/gui/widgets/spectrum_widgets/roi_form_widget.html
  _modules/mantidimaging/gui/widgets/spectrum_widgets/roi_selection_widget.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/fitting_form.html
  api/mantidimaging.gui.widgets.spectrum_widgets.fitting_display_widget.html
  api/mantidimaging.gui.widgets.spectrum_widgets.html
  api/mantidimaging.gui.widgets.spectrum_widgets.roi_form_widget.html
  api/mantidimaging.gui.widgets.spectrum_widgets.roi_selection_widget.html
  api/mantidimaging.gui.windows.spectrum_viewer.fitting_form.html
  api/mantidimaging.gui.windows.spectrum_viewer.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

Update documentation
  _modules/mantidimaging/core/io/filenames.html
  _modules/mantidimaging/gui/windows/image_load_dialog/presenter.html
  release_notes/next.html
  searchindex.js
Due: none

suggested changes
  mantidimaging/gui/windows/main/presenter.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/gui/windows/main/model.html
  _modules/mantidimaging/gui/windows/main/presenter.html
  api/mantidimaging.gui.windows.main.model.html
  release_notes/next.html
  searchindex.js
Due: none

Disable Invalid Projection Correlation Angle Pair
  mantidimaging/gui/windows/recon/presenter.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Path conditions:
  check-licenses: any of: \.py$
  check-release-notes-format: any of: ^docs/release_notes/next/
  pyright: any of: \.py$
