Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

check-licenses:
  name: Check Licenses
  description: Checks that all files have correct copyright licenses
  entry: python -m CheckLicensesInFiles
  language: python

check-release-notes-format:
  name: Check Release Notes Format
  description: Validate release note filename and contents format before commit
  entry: python  -m CheckReleaseNoteFormat
  language: python
  additional_dependencies:
  - requests

pyright:
  name: pyright
  description: Checks that all files pass pyright checks
  entry: pyright
  language: system

Remove Clashing Bootstrap via CDN with Bundled Bootstrap in pydata_sphinx_theme
  docs/conf.py
Due: check-licenses, pyright

Ensure bin size cannot exceed ROI dimensions by updating the spinbox
  mantidimaging/gui/widgets/spectrum_widgets/roi_form_widget.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

release note
  docs/release_notes/next/fix-3030-Binning-spinboxes-index-out-of-range
Due: check-release-notes-format

Read COR and Tilt from geometry in recon window when switching stacks or after geometry update.
  mantidimaging/gui/windows/geometry/presenter.py
  mantidimaging/gui/windows/recon/presenter.py
Due: check-licenses, pyright

Limit recon algorithm selection based on geometry
  mantidimaging/gui/windows/recon/presenter.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

made suggested change
  docs/release_notes/next/feature-3024-Read-COR-and-Tilt-from-geometry-in-recon-window
  mantidimaging/gui/windows/geometry/presenter.py
Due: check-licenses, check-release-notes-format, pyright

implement reorder_images_by_index() method in Imagestack
  mantidimaging/core/data/imagestack.py
  mantidimaging/gui/windows/main/model.py
Due: check-licenses, pyright

stack modified signal emitted upon stack sorting is complete, updates recon sinograms
  mantidimaging/gui/windows/main/presenter.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/gui/windows/geometry/presenter.html
  _modules/mantidimaging/gui/windows/recon/presenter.html
  release_notes/next.html
  searchindex.js
Due: none

remove Mark as projections/sinograms menu option and StackVisualiserView.mark_as_sinograms()
  mantidimaging/gui/windows/stack_visualiser/view.py
Due: check-licenses, pyright

add ImageStackTest.test_reorder_images_by_index
  mantidimaging/core/data/test/image_stack_test.py
Due: check-licenses, pyright

run fit on sub rois and update export table accordingly
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

remove Create sinograms from stack and associated logic
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/stack_visualiser/presenter.py
  mantidimaging/gui/windows/stack_visualiser/view.py
Due: check-licenses, pyright

remove test_add_sinograms_to_dataset_with_no_sinograms_and_update_view
  mantidimaging/gui/windows/main/test/presenter_test.py
Due: check-licenses, pyright

remove StackVisualiserPresenterTest.test_add_sinograms_to_model_and_update_view
  mantidimaging/gui/windows/stack_visualiser/test/presenter_test.py
Due: check-licenses, pyright

Fix Geometry window layout and figure overlap
  mantidimaging/gui/windows/geometry/model.py
  mantidimaging/gui/windows/geometry/view.py
Due: check-licenses, pyright

check that reordering images doesnt change array shape
  mantidimaging/core/data/test/image_stack_test.py
Due: check-licenses, pyright

made suggested change
  mantidimaging/core/reconstruct/astra_recon.py
  mantidimaging/core/reconstruct/base_recon.py
  mantidimaging/core/reconstruct/cil_recon.py
  mantidimaging/core/reconstruct/tomopy_recon.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

made suggested change
  mantidimaging/core/reconstruct/base_recon.py
  mantidimaging/gui/windows/recon/presenter.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/core/data/imagestack.html
  _modules/mantidimaging/gui/windows/main/model.html
  _modules/mantidimaging/gui/windows/main/presenter.html
  api/mantidimaging.core.data.html
  api/mantidimaging.core.data.imagestack.html
  api/mantidimaging.gui.windows.main.html
  api/mantidimaging.gui.windows.main.model.html
  api/mantidimaging.gui.windows.main.presenter.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

Sum ToF Dataset
  mantidimaging/core/operations/sum_stack_intensities/sum_intensities.py
Due: check-licenses, pyright

Remove scroll area from Geometry window left panel
  docs/release_notes/next/fix-2923-Fix-Geometry-window-layout-and-figure-overlap
  mantidimaging/gui/windows/geometry/view.py
Due: check-licenses, check-release-notes-format, pyright

update main window angles after geometry creation
  docs/release_notes/next/feature-3023-update-main-window-angles-after-geometry-creation
  mantidimaging/gui/windows/geometry/presenter.py
Due: check-licenses, check-release-notes-format, pyright

note
  docs/release_notes/next/feature-2888-Limit-recon-algorithm-selection-based-on-geometry
Due: check-release-notes-format

Update documentation
  _modules/mantidimaging/core/reconstruct/astra_recon.html
  _modules/mantidimaging/core/reconstruct/base_recon.html
  _modules/mantidimaging/core/reconstruct/cil_recon.html
  _modules/mantidimaging/core/reconstruct/tomopy_recon.html
  _modules/mantidimaging/gui/windows/recon/presenter.html
  _modules/mantidimaging/gui/windows/recon/view.html
  api/mantidimaging.core.reconstruct.astra_recon.html
  api/mantidimaging.core.reconstruct.base_recon.html
  api/mantidimaging.core.reconstruct.cil_recon.html
  api/mantidimaging.core.reconstruct.html
  api/mantidimaging.core.reconstruct.tomopy_recon.html
  api/mantidimaging.gui.windows.recon.html
  api/mantidimaging.gui.windows.recon.view.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

Sum Tomography Data
  mantidimaging/core/operations/sum_stack_intensities/sum_intensities.py
Due: check-licenses, pyright

Update Notification Handling
  mantidimaging/gui/windows/operations/view.py
Due: check-licenses, pyright

Determine Sumation Based on Angle Data
  mantidimaging/core/operations/sum_stack_intensities/sum_intensities.py
Due: check-licenses, pyright

Notify if Matched by Angle or Index Based on Availability
  mantidimaging/core/operations/sum_stack_intensities/sum_intensities.py
Due: check-licenses, pyright

On data load, convert sinograms into projections
  mantidimaging/gui/windows/main/model.py
Due: check-licenses, pyright

Sinograms are made available to view on load
  mantidimaging/gui/windows/main/model.py
Due: check-licenses, pyright

release note
  docs/release_notes/next/feature-3038-handle-sinograms-on-load
Due: check-release-notes-format

view as sinogram option now alters the viewed image, not the stack itself
  mantidimaging/gui/windows/main/model.py
  mantidimaging/gui/windows/stack_visualiser/view.py
Due: check-licenses, pyright

allow toggling between viewing projections and sinograms without altering main ImageStack
  mantidimaging/gui/windows/stack_visualiser/presenter.py
  mantidimaging/gui/windows/stack_visualiser/view.py
Due: check-licenses, pyright

change menu action to 'view as sinograms/projections'
  mantidimaging/gui/windows/stack_visualiser/view.py
Due: check-licenses, pyright

Path conditions:
  check-licenses: any of: \.py$
  check-release-notes-format: any of: ^docs/release_notes/next/
  pyright: any of: \.py$
