Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

check-licenses:
  name: Check Licenses
  description: Checks that all files have correct copyright licenses
  entry: python -m CheckLicensesInFiles
  language: python

check-release-notes-format:
  name: Check Release Notes Format
  description: Validate release note filename and contents format before commit
  entry: python  -m CheckReleaseNoteFormat
  language: python
  additional_dependencies:
  - requests

pyright:
  name: pyright
  description: Checks that all files pass pyright checks
  entry: pyright
  language: system

Fix CoR Inflation by Backcalculating CoR for Slice Index
  mantidimaging/core/data/geometry.py
  mantidimaging/gui/dialogs/cor_inspection/model.py
Due: check-licenses, pyright

made suggested changes
  mantidimaging/core/operations/sum_stack_intensities/sum_intensities.py
Due: check-licenses, pyright

update pyright
  conda/meta.yaml
  docs/release_notes/next/dev-3165-update-pyright-to-1.1.410
  environment-dev.yml
  pixi.toml
Due: check-release-notes-format

added suggested test
  mantidimaging/gui/windows/geometry/test/presenter_test.py
Due: check-licenses, pyright

Test CoR Inflation Resolved
  mantidimaging/core/data/test/geometry_test.py
  mantidimaging/gui/dialogs/cor_inspection/test/model_test.py
Due: check-licenses, pyright

Fix headless system-test matplotlib backend
  conftest.py
  mantidimaging/gui/windows/geometry/view.py
Due: check-licenses, pyright

run pyright
  mantidimaging/gui/dialogs/async_task/view.py
  mantidimaging/gui/utility/qt_helpers.py
  mantidimaging/gui/widgets/bad_data_overlay/bad_data_overlay.py
  mantidimaging/gui/widgets/indicator_icon/view.py
  mantidimaging/gui/widgets/mi_image_view/view.py
  mantidimaging/gui/widgets/mi_mini_image_view/view.py
  mantidimaging/gui/widgets/spectrum_widgets/tof_properties.py
  mantidimaging/gui/widgets/zslider/zslider.py
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/operations/filter_previews.py
  mantidimaging/gui/windows/spectrum_viewer/roi_table_model.py
  mantidimaging/gui/windows/spectrum_viewer/spectrum_widget.py
  mantidimaging/main.py
Due: check-licenses, pyright

fixing pytest
  mantidimaging/gui/windows/main/view.py
Due: check-licenses, pyright

pygraph
  conda/meta.yaml
Due: none

Update documentation
  _modules/mantidimaging/core/data/geometry.html
  _modules/mantidimaging/core/utility/unit_conversion.html
  _modules/mantidimaging/gui/windows/geometry/presenter.html
  _modules/mantidimaging/gui/windows/geometry/view.html
  api/mantidimaging.core.data.geometry.html
  api/mantidimaging.core.data.html
  api/mantidimaging.core.utility.html
  api/mantidimaging.core.utility.unit_conversion.html
  api/mantidimaging.gui.windows.geometry.html
  api/mantidimaging.gui.windows.geometry.view.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

pygraph
  mantidimaging/core/reconstruct/cil_recon.py
  mantidimaging/core/utility/progress_reporting/progress.py
  mantidimaging/gui/dialogs/async_task/presenter.py
  mantidimaging/gui/dialogs/async_task/view.py
Due: check-licenses, pyright

add recipe.yaml
  conda/recipe.yaml
Due: none

add default-channels for building the recipe
  conda/recipe_config.toml
Due: none

Fix docs publish empty commit on release branches
  .github/actions/publish-docs/action.yml
  docs/release_notes/next/fix-2757-docs-release-publish-empty-commit
Due: check-release-notes-format

replace conda mambabuild with rattler-build
  .github/actions/publish-package/action.yml
  Makefile
  pixi.toml
Due: none

DONTMERGE: disable workflows
  .github/workflows/build_docker.yaml
  .github/workflows/citation_file.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/license_check.yaml
  .github/workflows/rocky_testing.yml
  .github/workflows/u18_testing.yml
  .github/workflows/windows.yml
Due: none

DONT MERGE: simplify test-conda to focus on punblishing unstable package
  .github/workflows/conda.yml
Due: none

DONT MERGE: UNDO simplify test-conda to focus on punblishing unstable package
  .github/workflows/conda.yml
Due: none

Remove jobs to simplify testing
  .github/workflows/conda.yml
Due: none

update condition for publishing unstable package
  .github/workflows/conda.yml
Due: none

amend publish package
  .github/actions/publish-package/action.yml
Due: none

add proper positional path
  .github/actions/publish-package/action.yml
Due: none

add experimental tag
  .github/actions/publish-package/action.yml
Due: none

add channels
  .github/actions/publish-package/action.yml
Due: none

Allow CoR Refinment Window Resizing
  mantidimaging/gui/dialogs/cor_inspection/view.py
Due: check-licenses, pyright

Create Scatterplot Item to Plot CoR
  mantidimaging/gui/windows/recon/image_view.py
Due: check-licenses, pyright

Update CoR ScatterPlot values on DataChange
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Test CoR ScatterPlot Behaviour
  mantidimaging/gui/windows/recon/test/view_test.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/gui/windows/operations/presenter.html
  release_notes/next.html
  searchindex.js
Due: none

Path conditions:
  check-licenses: any of: \.py$
  check-release-notes-format: any of: ^docs/release_notes/next/
  pyright: any of: \.py$
