Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

check-licenses:
  name: Check Licenses
  description: Checks that all files have correct copyright licenses
  entry: python -m CheckLicensesInFiles
  language: python

check-release-notes-format:
  name: Check Release Notes Format
  description: Validate release note filename and contents format before commit
  entry: python  -m CheckReleaseNoteFormat
  language: python
  additional_dependencies:
  - requests

pyright:
  name: pyright
  description: Checks that all files pass pyright checks
  entry: pyright
  language: system

Update documentation
  release_notes/next.html
  searchindex.js
Due: none

Update CIL to 25.0
  conda/meta.yaml
  docs/release_notes/next/dev-2770-update-cil
  docs/release_notes/next/dev-2811-update-cil
Due: check-release-notes-format

Workflow to Convert a PR to Draft on Changes Requested
  .github/workflows/pr_to_draft_on_change_request.yml
Due: none

Add new Geometry window
  mantidimaging/gui/ui/main_window.ui
  mantidimaging/gui/windows/geometry/__init__.py
  mantidimaging/gui/windows/geometry/model.py
  mantidimaging/gui/windows/geometry/presenter.py
  mantidimaging/gui/windows/geometry/view.py
  mantidimaging/gui/windows/main/view.py
Due: check-licenses, pyright

Add release note (#2759)
  docs/release_notes/next/feature-2759-new-geometry-window
Due: check-release-notes-format

Add tests for Geometry window
  mantidimaging/gui/windows/geometry/test/__init__.py
  mantidimaging/gui/windows/geometry/test/model_test.py
  mantidimaging/gui/windows/geometry/test/presenter_test.py
Due: check-licenses, pyright

Update Token to Use Custom Token
  .github/workflows/pr_to_draft_on_change_request.yml
Due: none

Export Window: Create/Add ImageView (Mapping) to Export Window
  mantidimaging/gui/widgets/spectrum_widgets/export_image_widget.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

MonitorNormalisationTest use unittest asserts
  mantidimaging/core/operations/monitor_normalisation/test/monitor_normalisation_test.py
Due: check-licenses, pyright

Move MonitorNormalisation tests into a unittest.TestCase
  mantidimaging/core/operations/monitor_normalisation/test/monitor_normalisation_test.py
Due: check-licenses, pyright

Remove trivial tests
  mantidimaging/core/operations/monitor_normalisation/test/monitor_normalisation_test.py
  mantidimaging/core/operations/overlap_correction/test/overlap_correction_test.py
Due: check-licenses, pyright

Add coding style to the docs
  docs/developer_docs/explanations/developer_conventions.rst
Due: none

Refactor correlation logic for flexible 180° projection selection
  mantidimaging/core/rotation/polyfit_correlation.py
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/main/test/presenter_test.py
  mantidimaging/gui/windows/recon/model.py
  mantidimaging/gui/windows/recon/presenter.py
  mantidimaging/gui/windows/recon/test/presenter_test.py
Due: check-licenses, pyright

Update documentation
  _sources/developer_docs/explanations/developer_conventions.rst.txt
  developer_docs/explanations/developer_conventions.html
  searchindex.js
Due: none

Remove overridden methods that are identical to base method
  mantidimaging/core/operations/monitor_normalisation/monitor_normalisation.py
  mantidimaging/core/operations/overlap_correction/overlap_correction.py
  mantidimaging/core/operations/rescale/rescale.py
Due: check-licenses, pyright

Add images to the operations validation
  mantidimaging/core/operations/base_filter.py
  mantidimaging/core/operations/flat_fielding/flat_fielding.py
  mantidimaging/gui/windows/operations/model.py
  mantidimaging/gui/windows/operations/test/model_test.py
Due: check-licenses, pyright

Allow validate_execute_kwargs to return a string message
  mantidimaging/core/operations/base_filter.py
  mantidimaging/core/operations/flat_fielding/flat_fielding.py
  mantidimaging/gui/windows/operations/model.py
  mantidimaging/gui/windows/operations/test/model_test.py
Due: check-licenses, pyright

Don't try to run previews before window is fully setup
  mantidimaging/gui/windows/operations/presenter.py
  mantidimaging/gui/windows/operations/view.py
Due: check-licenses, pyright

In FiltersWindowModel extract method validate_kwargs
  mantidimaging/gui/windows/operations/model.py
  mantidimaging/gui/windows/operations/presenter.py
  mantidimaging/gui/windows/operations/test/model_test.py
Due: check-licenses, pyright

set pyright reportMissingImports=true, remove unused imports pydevd and ptvsd
  mantidimaging/test_helpers/unit_test_helper.py
  pyproject.toml
Due: check-licenses, pyright

delete unused ipython.py
  mantidimaging/ipython.py
Due: check-licenses, pyright

remove reportMissingImports-false flag
  pyproject.toml
Due: none

ipython entry point removed from setup.py
  setup.py
Due: check-licenses, pyright

yapf fix
  setup.py
Due: check-licenses, pyright

release note
  docs/release_notes/next/dev-2682-pyright-remove-missing-imports
Due: check-release-notes-format

remove reportOptionalMemberAccess flag and assert windows are not None after creation
  mantidimaging/gui/windows/main/view.py
  pyproject.toml
Due: check-licenses, pyright

remove unnecessary NaN checks and related type conversions
  mantidimaging/gui/widgets/bad_data_overlay/bad_data_overlay.py
Due: check-licenses, pyright

Add validate_execute_kwargs for MonitorNormalisation
  mantidimaging/core/operations/monitor_normalisation/monitor_normalisation.py
  mantidimaging/core/operations/monitor_normalisation/test/monitor_normalisation_test.py
Due: check-licenses, pyright

Add release note
  docs/release_notes/next/dev-2795-ops-validation
Due: check-release-notes-format

use threading Lock() in run_spectrum_calculation
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

pass Presenter attributes to TaskWorkerThread and then use output result to modify attributes during thread cleanup
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

copies of input data are given to the worker thread to prevent modifications of presenter attributes
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

refactor Spectrum Calculator into pre- and post-thread processing
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

pyright fix
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

move shuttercount_norm_enabled into run_spectrum_calculation args
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

prevent threads from being activated when normalise or shutter error present
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Create Front-End and resolve execute_wrapper signature
  mantidimaging/core/operations/sum_stack_intensities/__init__.py
  mantidimaging/core/operations/sum_stack_intensities/sum_intensities.py
Due: check-licenses, pyright

Path conditions:
  check-licenses: any of: \.py$
  check-release-notes-format: any of: ^docs/release_notes/next/
  pyright: any of: \.py$
