Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

check-licenses:
  name: Check Licenses
  description: Checks that all files have correct copyright licenses
  entry: python -m CheckLicensesInFiles
  language: python

check-release-notes-format:
  name: Check Release Notes Format
  description: Validate release note filename and contents format before commit
  entry: python  -m CheckReleaseNoteFormat
  language: python
  additional_dependencies:
  - requests

pyright:
  name: pyright
  description: Checks that all files pass pyright checks
  entry: pyright
  language: system

include *.csv log schema and GRtomo related files
  mantidimaging/core/io/filenames.py
  mantidimaging/gui/windows/image_load_dialog/presenter.py
Due: check-licenses, pyright

Improve searchability of GRtomo files and loosen file name search if algo struggles
  mantidimaging/core/io/filenames.py
  mantidimaging/gui/windows/image_load_dialog/presenter.py
Due: check-licenses, pyright

First search Tomo directory for Spectrum log file
  mantidimaging/core/io/filenames.py
Due: check-licenses, pyright

First search Tomo directory for ShutterCount log file
  mantidimaging/core/io/filenames.py
Due: check-licenses, pyright

release note
  docs/release_notes/next/fix-2979-refine-auto-find-files
Due: check-release-notes-format

add format checkers for JSON, YAML, XML and reformat existing files
  .github/actions/publish-docs/action.yml
  .github/actions/publish-package/action.yml
  .github/actions/test/action.yml
  .github/workflows/build_docker.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/conda.yml
  .github/workflows/docs.yml
  .github/workflows/license_check.yaml
  .github/workflows/pr_to_draft_on_change_request.yml
  .github/workflows/rocky_testing.yml
  .github/workflows/u18_testing.yml
  .github/workflows/windows.yml
  .licenserc.json
  .pre-commit-config.yaml
  docs/_static/version_switcher.json
  scripts/operations_tests/test_cases.json
Due: none

remove xml check and separate yaml and json checks
  .github/workflows/rocky_testing.yml
Due: none

coda.yml: remove installing prettier and separate yaml and json checks
  .github/workflows/conda.yml
Due: none

windows.yml: remove installing prettier and separate yaml and json checks
  .github/workflows/windows.yml
Due: none

windows.yml: remove running all checks
  .github/workflows/windows.yml
Due: none

u18_testing.yml: separate format checks
  .github/workflows/u18_testing.yml
Due: none

Add .ui file format checker
  .github/workflows/conda.yml
  .github/workflows/rocky_testing.yml
  .github/workflows/u18_testing.yml
  .github/workflows/windows.yml
  .pre-commit-config.yaml
Due: none

update .ui checks to use xml formatting
  .github/workflows/conda.yml
  .github/workflows/rocky_testing.yml
  .github/workflows/u18_testing.yml
  .github/workflows/windows.yml
Due: none

Update documentation
  _modules/mantidimaging/gui/windows/viewer_3d/presenter.html
Due: none

add xml checks for .ui files using prettier plugin
  .github/workflows/conda.yml
  .github/workflows/rocky_testing.yml
  .github/workflows/u18_testing.yml
  .github/workflows/windows.yml
Due: none

update formatting for current .ui files
  mantidimaging/gui/ui/ImageViewTemplate.ui
  mantidimaging/gui/ui/add_to_dataset.ui
  mantidimaging/gui/ui/async_task_dialog.ui
  mantidimaging/gui/ui/cor_inspection_dialog.ui
  mantidimaging/gui/ui/filters_window.ui
  mantidimaging/gui/ui/image_load_dialog.ui
  mantidimaging/gui/ui/image_save_dialog.ui
  mantidimaging/gui/ui/image_selector_widget.ui
  mantidimaging/gui/ui/live_viewer_window.ui
  mantidimaging/gui/ui/load_dialog_orig.ui
  mantidimaging/gui/ui/main_window.ui
  mantidimaging/gui/ui/move_stack_dialog.ui
  mantidimaging/gui/ui/nexus_load_dialog.ui
  mantidimaging/gui/ui/nexus_save_dialog.ui
  mantidimaging/gui/ui/op_history_copy_dialog.ui
  mantidimaging/gui/ui/palette_changer.ui
  mantidimaging/gui/ui/recon_window.ui
  mantidimaging/gui/ui/roi_form_widget.ui
  mantidimaging/gui/ui/roi_properties_table_widget.ui
  mantidimaging/gui/ui/roi_selector_widget.ui
  mantidimaging/gui/ui/settings_window.ui
  mantidimaging/gui/ui/spectrum_viewer.ui
  mantidimaging/gui/ui/stack_choice_window.ui
  mantidimaging/gui/ui/welcome_widget.ui
  mantidimaging/gui/ui/wizard.ui
Due: none

add installing node dependencies
  .github/workflows/conda.yml
  .github/workflows/rocky_testing.yml
  .github/workflows/u18_testing.yml
  .github/workflows/windows.yml
Due: none

add setting up prettier xml plugin
  .github/workflows/conda.yml
  .github/workflows/rocky_testing.yml
  .github/workflows/u18_testing.yml
  .github/workflows/windows.yml
Due: none

Normalize line endings for JSON, YAML, and UI files
  .gitattributes
Due: none

Create stack_rename_dialog window GUI
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/stack_rename_dialog/__init__.py
  mantidimaging/gui/windows/stack_rename_dialog/presenter.py
  mantidimaging/gui/windows/stack_rename_dialog/test/__init__.py
  mantidimaging/gui/windows/stack_rename_dialog/view.py
Due: check-licenses, pyright

StackRenameDialog accepts Datasets and Imagestacks and renames them across MI
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/stack_rename_dialog/presenter.py
  mantidimaging/gui/windows/stack_rename_dialog/view.py
Due: check-licenses, pyright

StackRenameDialog view test
  mantidimaging/gui/windows/stack_rename_dialog/test/view_test.py
Due: check-licenses, pyright

StackRenamePresenter tests
  mantidimaging/gui/windows/stack_rename_dialog/test/presenter_test.py
  mantidimaging/gui/windows/stack_rename_dialog/test/view_test.py
Due: check-licenses, pyright

release notes
  docs/release_notes/next/feature-2978-rename-stacks
Due: check-release-notes-format

Cancel button added to StackRenameDialog
  mantidimaging/gui/windows/stack_rename_dialog/presenter.py
  mantidimaging/gui/windows/stack_rename_dialog/view.py
Due: check-licenses, pyright

New stack name cannot be empty
  mantidimaging/gui/windows/stack_rename_dialog/presenter.py
  mantidimaging/gui/windows/stack_rename_dialog/view.py
Due: check-licenses, pyright

suggested changes
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/stack_rename_dialog/presenter.py
Due: check-licenses, pyright

trying
  mantidimaging/core/operations/append_stacks/append_stacks.py
Due: check-licenses, pyright

Rename logger to LOG in nexus_load_dialog for consistency
  mantidimaging/gui/windows/nexus_load_dialog/presenter.py
  mantidimaging/gui/windows/nexus_load_dialog/test/presenter_test.py
Due: check-licenses, pyright

Add method for creating a Geometry object from an existing CIL AcquisitionGeometry object
  mantidimaging/core/data/imagestack.py
Due: check-licenses, pyright

Add ability to load Geometry from Nexus files if in CIL format
  mantidimaging/gui/windows/nexus_load_dialog/presenter.py
Due: check-licenses, pyright

Fixes from review
  mantidimaging/core/data/imagestack.py
Due: check-licenses, pyright

stack_to_append images and angles are appended to the initial stack
  mantidimaging/core/operations/append_stacks/append_stacks.py
Due: check-licenses, pyright

mypy fixes
  mantidimaging/core/operations/append_stacks/append_stacks.py
Due: check-licenses, pyright

Append Stacks operation added to list of operations tests
  mantidimaging/core/operations/test/operations_test.py
Due: check-licenses, pyright

stack filenames are appended
  mantidimaging/core/operations/append_stacks/append_stacks.py
Due: check-licenses, pyright

remove prettier installation from all workflows except u18_testing
  .github/workflows/conda.yml
  .github/workflows/rocky_testing.yml
  .github/workflows/windows.yml
Due: none

Refactor for better error handling, checking for cil nexus files
  mantidimaging/gui/windows/nexus_load_dialog/presenter.py
Due: check-licenses, pyright

Screenshot for spectrum_viewer_export_tab, load fitting tab first
  mantidimaging/eyes_tests/spectrum_viewer_test.py
Due: check-licenses, pyright

Move run fit button RSS labels into FittingParamFormWidgetView
  mantidimaging/eyes_tests/spectrum_viewer_test.py
  mantidimaging/gui/widgets/spectrum_widgets/fitting_param_form_widget.py
  mantidimaging/gui/windows/spectrum_viewer/fitting_form.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/test/presenter_test.py
Due: check-licenses, pyright

Path conditions:
  check-licenses: any of: \.py$
  check-release-notes-format: any of: ^docs/release_notes/next/
  pyright: any of: \.py$
