Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

check-licenses:
  name: Check Licenses
  description: Checks that all files have correct copyright licenses
  entry: python -m CheckLicensesInFiles
  language: python

check-release-notes-format:
  name: Check Release Notes Format
  description: Validate release note filename and contents format before commit
  entry: python  -m CheckReleaseNoteFormat
  language: python
  additional_dependencies:
  - requests

pyright:
  name: pyright
  description: Checks that all files pass pyright checks
  entry: pyright
  language: system

Update documentation
  _modules/mantidimaging/core/utility/sensible_roi.html
  _modules/mantidimaging/gui/widgets/spectrum_widgets/roi_form_widget.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/model.html
  api/mantidimaging.core.utility.html
  api/mantidimaging.core.utility.sensible_roi.html
  api/mantidimaging.gui.windows.spectrum_viewer.html
  api/mantidimaging.gui.windows.spectrum_viewer.model.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

Create similarly sized images for each view within Mantid Imaging in light and dark modes
  docs/_static/carousel/geometry_dark.png
  docs/_static/carousel/geometry_light.png
  docs/_static/carousel/main_dark.png
  docs/_static/carousel/main_light.png
  docs/_static/carousel/operations_remove_outliers_dark.png
  docs/_static/carousel/operations_remove_outliers_light.png
  docs/_static/carousel/recon_dark.png
  docs/_static/carousel/recon_light.png
  docs/_static/carousel/recon_residuals_dark.png
  docs/_static/carousel/recon_residuals_light.png
  docs/_static/carousel/spectrum_viewer_dark.png
  docs/_static/carousel/spectrum_viewer_light.png
Due: none

Create carousel and add it to index in replacement of static image content
  docs/_templates/carousel.html
  docs/index.rst
Due: none

Configure loading of Bootstrap 5 JS drom CDN into docs to enable interactivity with carousel
  docs/conf.py
Due: check-licenses, pyright

Create serve docs task
  pixi.toml
Due: none

Release Notes
  docs/release_notes/next/fix-2973-add_carousel_to_docs
Due: check-release-notes-format

DO NOT MERGE: remove other actions files for now
  .github/workflows/build_docker.yaml
  .github/workflows/citation_file.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/license_check.yaml
  .github/workflows/pr_to_draft_on_change_request.yml
  .github/workflows/rocky_testing.yml
  .github/workflows/u18_testing.yml
  .github/workflows/windows.yml
Due: none

DO NOT MERGER: show disk usage
  .github/workflows/conda.yml
Due: none

Show disk usage
  .github/workflows/conda.yml
Due: none

More detail
  .github/workflows/conda.yml
Due: none

Cache mantidimaging-dev directly
  .github/workflows/conda.yml
Due: none

DO NOT MERGE: disable slow steps
  .github/workflows/conda.yml
Due: none

Actions cache: use fixed path
  .github/workflows/conda.yml
Due: none

Move Cache Miniforge environment after Setup Miniforge
  .github/workflows/conda.yml
Due: none

Conda workflow: Cache the conda env directly
  .github/workflows/conda.yml
Due: none

Add step to show disk space
  .github/workflows/conda.yml
  .github/workflows/windows.yml
Due: none

Avoid copy of environment when caching for docs workflow
  .github/workflows/docs.yml
Due: none

Add imageio dependency to enable gif creation
  conda/meta.yaml
  pixi.toml
Due: none

Create File Menu Option to Export as GIF
  mantidimaging/gui/ui/main_window.ui
Due: none

Create imagestack right click menu to create gif
  mantidimaging/gui/windows/stack_visualiser/view.py
Due: check-licenses, pyright

Create Gif Creation Utility Methods
  mantidimaging/gui/utility/gif_utils.py
Due: check-licenses, pyright

Create custom dialog widget to configure GIF creation from a stack
  mantidimaging/gui/widgets/gif_parameters/__init__.py
  mantidimaging/gui/widgets/gif_parameters/gif_parameters_widget.py
Due: check-licenses, pyright

Create method in Model to handle the creation of a gif from a stack
  mantidimaging/gui/windows/main/model.py
Due: check-licenses, pyright

Create Gif orchestration to MainWindowView
  mantidimaging/gui/windows/main/presenter.py
Due: check-licenses, pyright

Connect GIF creation signal from stack visualiser
  mantidimaging/gui/windows/main/view.py
Due: check-licenses, pyright

Test test_create_gif_uniform_data
  mantidimaging/gui/windows/main/test/model_test.py
Due: check-licenses, pyright

Create tests for GIF utility functions
  mantidimaging/gui/utility/test/__init__.py
  mantidimaging/gui/utility/test/test_gif_utils.py
Due: check-licenses, pyright

Release Notes
  docs/release_notes/next/feature-2984-Export_as_gif
Due: check-release-notes-format

Add guards against ProjectionAngles data being None
  mantidimaging/core/data/dataset.py
  mantidimaging/core/data/test/dataset_test.py
  mantidimaging/core/data/test/geometry_test.py
  mantidimaging/core/reconstruct/astra_recon.py
  mantidimaging/core/reconstruct/cil_recon.py
  mantidimaging/core/reconstruct/tomopy_recon.py
  mantidimaging/gui/dialogs/cor_inspection/model.py
  mantidimaging/gui/windows/geometry/presenter.py
  mantidimaging/gui/windows/recon/model.py
  mantidimaging/gui/windows/stack_visualiser/presenter.py
Due: check-licenses, pyright

Update system tests to account for ImageStack no longer holding Geometry
  mantidimaging/core/data/imagestack.py
  mantidimaging/core/data/test/dataset_test.py
  mantidimaging/eyes_tests/operations_window_test.py
  mantidimaging/eyes_tests/reconstruct_window_test.py
  mantidimaging/gui/test/gui_system_base.py
  mantidimaging/gui/test/gui_system_loading_test.py
Due: check-licenses, pyright

Remove real_projection_angles() method and update all references to use projection_angles()
  mantidimaging/core/data/imagestack.py
  mantidimaging/core/data/test/image_stack_test.py
  mantidimaging/core/io/test/io_test.py
  mantidimaging/core/reconstruct/cil_recon.py
  mantidimaging/core/reconstruct/tomopy_recon.py
  mantidimaging/gui/dialogs/cor_inspection/model.py
  mantidimaging/gui/windows/geometry/presenter.py
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/nexus_load_dialog/test/presenter_test.py
  mantidimaging/gui/windows/stack_properties_dialog/view.py
  mantidimaging/gui/windows/stack_visualiser/view.py
Due: check-licenses, pyright

Update tests in recon/model_test.py to use more accurate 3D array test data
  mantidimaging/gui/windows/recon/test/model_test.py
Due: check-licenses, pyright

Update Geometry to be the primary store for angle data
  mantidimaging/core/data/geometry.py
  mantidimaging/core/data/imagestack.py
  mantidimaging/core/data/test/geometry_test.py
  mantidimaging/core/data/test/image_stack_test.py
  mantidimaging/core/io/test/io_test.py
  mantidimaging/core/reconstruct/astra_recon.py
  mantidimaging/core/reconstruct/cil_recon.py
  mantidimaging/core/reconstruct/tomopy_recon.py
  mantidimaging/eyes_tests/base_eyes.py
  mantidimaging/eyes_tests/reconstruct_window_test.py
  mantidimaging/gui/dialogs/cor_inspection/test/model_test.py
  mantidimaging/gui/test/gui_system_loading_test.py
  mantidimaging/gui/windows/geometry/presenter.py
  mantidimaging/gui/windows/geometry/test/model_test.py
  mantidimaging/gui/windows/geometry/test/presenter_test.py
  mantidimaging/gui/windows/main/model.py
  mantidimaging/gui/windows/main/test/presenter_test.py
  mantidimaging/gui/windows/nexus_load_dialog/presenter.py
  mantidimaging/gui/windows/recon/presenter.py
  mantidimaging/gui/windows/recon/test/model_test.py
  mantidimaging/gui/windows/recon/test/presenter_test.py
  mantidimaging/gui/windows/stack_visualiser/test/presenter_test.py
  mantidimaging/test_helpers/unit_test_helper.py
Due: check-licenses, pyright

Remove redundant imagestack generator helper function from image_stack_test.py
  mantidimaging/core/data/test/image_stack_test.py
Due: check-licenses, pyright

Improve method docstrings in recon window and io testing
  mantidimaging/core/io/test/io_test.py
  mantidimaging/core/reconstruct/cil_recon.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Path conditions:
  check-licenses: any of: \.py$
  check-release-notes-format: any of: ^docs/release_notes/next/
  pyright: any of: \.py$
