Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: end-of-file-fixer
        types: [python]
  - repo: https://github.com/google/yapf
    rev: v0.43.0
    hooks:
      - id: yapf
  - repo: local
    hooks:
      - id: check-licenses
        name: Check Licenses
        description: Checks that all files have correct copyright licenses
        entry: python -m CheckLicensesInFiles
        language: python
        types: [python]
  - repo: local
    hooks:
      - id: check-release-notes-format
        name: Check Release Notes Format
        description: Validate release note filename and contents format before commit
        entry: python  -m CheckReleaseNoteFormat
        language: python
        files: ^docs/release_notes/next/
        additional_dependencies: [requests]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.17.1"
    hooks:
      - id: mypy
        files: ^mantidimaging/
        args: [--ignore-missing-imports]
        additional_dependencies: [types-docutils, types-PyYAML, types-requests]
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        description: Checks that all files pass pyright checks
        entry: pyright
        language: system
        types: [python]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.3
    hooks:
      - id: ruff
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        files: \.(json|ya?ml)$
        exclude: ^conda/

Reset Geometry Values on Preview Exit
  mantidimaging/gui/dialogs/cor_inspection/model.py
  mantidimaging/gui/dialogs/cor_inspection/test/model_test.py
Due: check-licenses, pyright

Make Cor Spots Selectable
  mantidimaging/core/rotation/data_model.py
  mantidimaging/gui/windows/recon/image_view.py
  mantidimaging/gui/windows/recon/test/view_test.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Check length of np arrays is not 0
  mantidimaging/gui/windows/recon/image_view.py
Due: check-licenses, pyright

Release Notes
  docs/release_notes/next/fix-3158-resolve_inflated_cor_refinement_and_plot_cor_values
Due: check-release-notes-format

shorten the range of coverage version and update pytest to run with pixi
  .github/workflows/conda.yml
  pixi.toml
Due: none

update system tests to run with pixi
  .github/workflows/conda.yml
Due: none

update screenshot tests to run with pixi
  .github/workflows/conda.yml
Due: none

update coveralls to run with pixi
  .github/workflows/conda.yml
Due: none

Run GUI tests with xvfb-run in Pixi CI workflow
  .github/workflows/conda.yml
Due: none

Update list versions to run with pixi
  .github/workflows/conda.yml
Due: none

Update documentation
  _modules/mantidimaging/core/operations/base_filter.html
  _modules/mantidimaging/core/operations/crop_coords/crop_coords.html
  _modules/mantidimaging/gui/windows/operations/presenter.html
  api/mantidimaging.core.operations.base_filter.html
  api/mantidimaging.core.operations.crop_coords.crop_coords.html
  api/mantidimaging.core.operations.crop_coords.html
  api/mantidimaging.core.operations.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

remove pixi.lock file from gitignore and commit it to the repo so setup pixi can compute cache keys and restore the pixi environment in CI
  .github/workflows/conda.yml
  .gitignore
  pixi.lock
Due: none

remove pixi list and pixi info from List versions as they are run when setting up pixi
  .github/workflows/conda.yml
Due: none

update coverage version to >=7.15.0, <7.15.2
  .github/workflows/conda.yml
  environment-dev.yml
  pixi.lock
  pixi.toml
Due: none

make suggested changes
  .github/workflows/conda.yml
Due: none

removed pyright from meta file.
  conda/meta.yaml
Due: none

Default image export stack selection to the currently selected stack in the main window tree when available
  docs/release_notes/next/feature-3180-default_selected_stack_in_image_save_dialog
  mantidimaging/gui/windows/main/image_save_dialog.py
  mantidimaging/gui/windows/main/test/Image_save_test.py
  mantidimaging/gui/windows/main/test/view_test.py
  mantidimaging/gui/windows/main/view.py
Due: check-licenses, check-release-notes-format, pyright

update ROI normalisation air region when switching stacks
  docs/release_notes/next/fix-3191-Refresh_ROI_normalisation_air_region_on_stack_change
  mantidimaging/core/operations/roi_normalisation/roi_normalisation.py
  mantidimaging/core/operations/roi_normalisation/test/roi_normalisation_test.py
Due: check-licenses, check-release-notes-format, pyright

Update environment minimum version to 2.8.0
  docs/release_notes/next/dev-3130-update-environment-minimum-version
  environment-dev.yml
  environment.yml
Due: check-release-notes-format

Update V4 to V5 Cache for Docs and Windows Workflows
  .github/workflows/docs.yml
  .github/workflows/windows.yml
Due: none

add separate task to run screenshot tests for CI, add environment variables to screenshot test run and update coveralls version
  .github/workflows/conda.yml
  pixi.lock
  pixi.toml
Due: none

Try xvfb instead of QT_QPA_PLATFORM
  pixi.toml
Due: none

Update documentation
  release_notes/next.html
  searchindex.js
Due: none

Fix docs publish empty commit on release branches
  .github/actions/publish-docs/action.yml
  docs/release_notes/next/fix-2757-docs-release-publish-empty-commit
Due: check-release-notes-format

made suggested change
  .github/actions/publish-docs/action.yml
Due: none

Update documentation
  _modules/mantidimaging/core/data/geometry.html
  _modules/mantidimaging/core/rotation/data_model.html
  _modules/mantidimaging/gui/dialogs/cor_inspection/model.html
  _modules/mantidimaging/gui/dialogs/cor_inspection/view.html
  _modules/mantidimaging/gui/windows/recon/image_view.html
  _modules/mantidimaging/gui/windows/recon/view.html
  api/mantidimaging.core.data.geometry.html
  api/mantidimaging.core.data.html
  api/mantidimaging.core.rotation.data_model.html
  api/mantidimaging.core.rotation.html
  api/mantidimaging.gui.windows.recon.html
  api/mantidimaging.gui.windows.recon.image_view.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

add staged base tasks, update the hooks to run the staged base tasks, allowing passing file names and remove repo filname for certain hooks to check utility scripts
  .pre-commit-config.yaml
  pixi.toml
Due: none

replace conda mambabuild with rattler-build
  .github/actions/publish-package/action.yml
  Makefile
  pixi.toml
Due: none

add default-channels for building the recipe
  conda/recipe_config.toml
Due: none

Overwrite existing packages during upload
  .github/actions/publish-package/action.yml
  Makefile
  pixi.toml
Due: none

Update license version and remove build section in recipe, remove channels and update installing build requirements in Makefile
  Makefile
  conda/recipe.yaml
Due: none

add release notes
  docs/release_notes/next/feature-3136-migrate_to_rattler-build
  docs/release_notes/next/fix-3182-fix_version_mismatch_between_generated_recipe_and_gui
Due: check-release-notes-format

Resolve Version Schema for built packages
  conda/recipe.yaml
Due: none

Update actions/checkout from V4 to V5
  .github/workflows/citation_file.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yml
  .github/workflows/license_check.yaml
Due: none

Release Notes
  docs/release_notes/next/dev-3151-Update_Workflow_Cache_and_Checkout_Versions
Due: check-release-notes-format
