Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: end-of-file-fixer
        types: [python]
-   repo: https://github.com/google/yapf
    rev: v0.43.0
    hooks:
    -   id: yapf
-   repo: local
    hooks:
    -   id: check-licenses
        name: Check Licenses
        description: Checks that all files have correct copyright licenses
        entry: python -m CheckLicensesInFiles
        language: python
        types: [python]
-   repo: local
    hooks:
    -   id: check-release-notes-format
        name: Check Release Notes Format
        description: Validate release note filename and contents format before commit
        entry: python  -m CheckReleaseNoteFormat
        language: python
        files: ^docs/release_notes/next/
        additional_dependencies: [requests]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.17.1'
    hooks:
    -   id: mypy
        files: ^mantidimaging/
        args: [--ignore-missing-imports]
        additional_dependencies: [types-docutils, types-PyYAML, types-requests]
-   repo: local
    hooks:
    -   id: pyright
        name: pyright
        description: Checks that all files pass pyright checks
        entry: pyright
        language: system
        types: [python]
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.3
    hooks:
    -   id: ruff

Release Notes
  docs/release_notes/next/fix-2870-explicit_import_of_imagecodec_modules
Due: check-release-notes-format

Refactor: Replace .data.shape with .shape for ImageStack
  mantidimaging/core/data/imagestack.py
  mantidimaging/core/data/test/image_stack_test.py
  mantidimaging/core/io/test/io_test.py
  mantidimaging/core/operations/arithmetic/arithmetic.py
  mantidimaging/core/operations/divide/divide.py
  mantidimaging/core/operations/flat_fielding/flat_fielding.py
  mantidimaging/core/operations/flat_fielding/test/flat_fielding_test.py
  mantidimaging/core/operations/monitor_normalisation/monitor_normalisation.py
  mantidimaging/core/operations/outliers/outliers.py
  mantidimaging/core/operations/overlap_correction/overlap_correction.py
  mantidimaging/core/operations/rebin/rebin.py
  mantidimaging/core/operations/rebin/test/rebin_test.py
  mantidimaging/core/operations/roi_normalisation/roi_normalisation.py
  mantidimaging/core/operations/rotate_stack/test/rotate_stack_test.py
  mantidimaging/core/reconstruct/cil_recon.py
  mantidimaging/gui/windows/operations/model.py
Due: check-licenses, pyright

Update documentation
  release_notes/next.html
  searchindex.js
Due: none

we now find areas of rois to the left, right, and above the sample and set the one with the biggest area as default in roi normalisation operation
  mantidimaging/gui/windows/operations/presenter.py
Due: check-licenses, pyright

Add documentation to setup MI in Ada
  docs/developer_docs/tutorials/index.rst
  docs/developer_docs/tutorials/started_ada.rst
Due: none

Update documentation
  _modules/mantidimaging/core/data/geometry.html
  _modules/mantidimaging/core/reconstruct/astra_recon.html
  _modules/mantidimaging/core/reconstruct/base_recon.html
  _modules/mantidimaging/core/reconstruct/cil_recon.html
  _modules/mantidimaging/core/reconstruct/tomopy_recon.html
  _modules/mantidimaging/core/utility/data_containers.html
  _modules/mantidimaging/gui/dialogs/cor_inspection/model.html
  _modules/mantidimaging/gui/windows/recon/model.html
  _modules/mantidimaging/gui/windows/recon/presenter.html
  _modules/mantidimaging/gui/windows/recon/view.html
  api/mantidimaging.core.data.geometry.html
  api/mantidimaging.core.data.html
  api/mantidimaging.core.reconstruct.astra_recon.html
  api/mantidimaging.core.reconstruct.base_recon.html
  api/mantidimaging.core.reconstruct.cil_recon.html
  api/mantidimaging.core.reconstruct.tomopy_recon.html
  api/mantidimaging.core.utility.data_containers.html
  api/mantidimaging.core.utility.html
  api/mantidimaging.gui.windows.recon.model.html
  api/mantidimaging.gui.windows.recon.presenter.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

add comment to explain checks made for FittingDisplayWidget.set_default_region_if_needed
  mantidimaging/gui/widgets/spectrum_widgets/fitting_display_widget.py
Due: check-licenses, pyright

fix and range checkboxes are added with methods FittingParamFormWidget to hide and show relevant fields
  mantidimaging/gui/widgets/spectrum_widgets/fitting_param_form_widget.py
Due: check-licenses, pyright

fixed parameters are passed to the fitting_engine from the initial values in the fitting_param_form_widget
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

connecting GUI to the fitting engine to set parameter bounds
  mantidimaging/core/fitting/fitting_engine.py
  mantidimaging/gui/widgets/spectrum_widgets/fitting_param_form_widget.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

refine BoundType to simplier expression
  mantidimaging/gui/widgets/spectrum_widgets/fitting_param_form_widget.py
Due: check-licenses, pyright

Add release notes
  docs/release_notes/next/dev-2877-add_IDE_setup_doc_Ada
Due: check-release-notes-format

Update documentation
  _modules/mantidimaging/core/data/imagestack.html
  _modules/mantidimaging/core/operations/arithmetic/arithmetic.html
  _modules/mantidimaging/core/operations/divide/divide.html
  _modules/mantidimaging/core/operations/flat_fielding/flat_fielding.html
  _modules/mantidimaging/core/operations/monitor_normalisation/monitor_normalisation.html
  _modules/mantidimaging/core/operations/outliers/outliers.html
  _modules/mantidimaging/core/operations/overlap_correction/overlap_correction.html
  _modules/mantidimaging/core/operations/rebin/rebin.html
  _modules/mantidimaging/core/operations/roi_normalisation/roi_normalisation.html
  _modules/mantidimaging/core/reconstruct/cil_recon.html
  _modules/mantidimaging/gui/windows/operations/model.html
  api/mantidimaging.core.data.html
  api/mantidimaging.core.data.imagestack.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

Updated the ImageStack.data setter to safely handle both SharedArray and ndarray inputs.
  mantidimaging/core/data/imagestack.py
Due: check-licenses, pyright

Updated fitting engine to return both Residual Sum of Squares (RSS) and Reduced RSS (RSS/DoF).
  docs/release_notes/next/feature-2902-Chi-fitting
  mantidimaging/core/fitting/fitting_engine.py
  mantidimaging/core/fitting/test/fitting_engine_test.py
  mantidimaging/gui/widgets/spectrum_widgets/export_data_table_widget.py
  mantidimaging/gui/widgets/spectrum_widgets/fitting_param_form_widget.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/test/presenter_test.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, check-release-notes-format, pyright

Update documentation
  _modules/mantidimaging/core/fitting/fitting_engine.html
  _modules/mantidimaging/gui/widgets/spectrum_widgets/export_data_table_widget.html
  _modules/mantidimaging/gui/widgets/spectrum_widgets/fitting_param_form_widget.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/presenter.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/view.html
  api/mantidimaging.core.fitting.fitting_engine.html
  api/mantidimaging.gui.widgets.spectrum_widgets.export_data_table_widget.html
  api/mantidimaging.gui.widgets.spectrum_widgets.fitting_param_form_widget.html
  api/mantidimaging.gui.widgets.spectrum_widgets.html
  api/mantidimaging.gui.windows.spectrum_viewer.presenter.html
  api/mantidimaging.gui.windows.spectrum_viewer.view.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

Add progress bar for flatfielding and rescale operations, and add release notes
  docs/release_notes/next/fix-2879-progress-bar-not-appearing-for-operations
  mantidimaging/core/operations/flat_fielding/flat_fielding.py
  mantidimaging/core/operations/rescale/rescale.py
Due: check-licenses, check-release-notes-format, pyright

Correlation between any two projections without requiring a generated 180° dataset.
  mantidimaging/core/rotation/polyfit_correlation.py
  mantidimaging/core/rotation/test/polyfit_correlation_test.py
  mantidimaging/gui/windows/recon/model.py
  mantidimaging/gui/windows/recon/presenter.py
  mantidimaging/gui/windows/recon/test/presenter_test.py
Due: check-licenses, pyright

Refine Depednencies based on OS
  pixi.lock
  pixi.toml
Due: none

Set run-post-link-scripts to insecure for GSettings to correctly compile schema files
  .pixi/config.toml
Due: none

release note
  docs/release_notes/next/feature-2892-auto-air-region
Due: check-release-notes-format

rois no longer get deleted when switching stacks, spectrums are deleted and recalculated for new stack
  mantidimaging/gui/windows/spectrum_viewer/model.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

When the stack is changed in the Spectrum Viewer, if all ROIs have been deleted, a new one is added
  mantidimaging/gui/windows/spectrum_viewer/model.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/test/presenter_test.py
Due: check-licenses, pyright

wait until the roi_to_process_queue is empty before TearDOwn
  mantidimaging/gui/test/gui_system_spectrum_test.py
Due: check-licenses, pyright

mypy fix
  mantidimaging/gui/test/gui_system_spectrum_test.py
Due: check-licenses, pyright

added check that spectrum calculation has finished before teardown of spectrum eyes test
  mantidimaging/eyes_tests/spectrum_viewer_test.py
Due: check-licenses, pyright

release note
  docs/release_notes/next/feature-2828-spectrum-viewer-rois-persist
Due: check-release-notes-format

suggested changes
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

Use copy_into_shared_memory for ndarray inputs in ImageStack.data setter
  mantidimaging/core/data/imagestack.py
Due: check-licenses, pyright

Fix test_find_center_offset by copying input to avoid shared memory issues
  mantidimaging/core/rotation/test/polyfit_correlation_test.py
Due: check-licenses, pyright

add tests for use_projections in find_center and align behaviour with proj180deg
  mantidimaging/core/rotation/polyfit_correlation.py
  mantidimaging/core/rotation/test/polyfit_correlation_test.py
  mantidimaging/gui/windows/recon/model.py
Due: check-licenses, pyright

Update tests in recon/model_test.py to use more accurate 3D array test data
  mantidimaging/gui/windows/recon/test/model_test.py
Due: check-licenses, pyright

Add guards against ProjectionAngles data being None
  mantidimaging/core/data/dataset.py
  mantidimaging/core/data/test/dataset_test.py
  mantidimaging/core/data/test/geometry_test.py
  mantidimaging/core/reconstruct/astra_recon.py
  mantidimaging/core/reconstruct/cil_recon.py
  mantidimaging/core/reconstruct/tomopy_recon.py
  mantidimaging/gui/dialogs/cor_inspection/model.py
  mantidimaging/gui/windows/geometry/presenter.py
  mantidimaging/gui/windows/recon/model.py
  mantidimaging/gui/windows/stack_visualiser/presenter.py
Due: check-licenses, pyright

Remove real_projection_angles() method and update all references to use projection_angles()
  mantidimaging/core/data/imagestack.py
  mantidimaging/core/data/test/image_stack_test.py
  mantidimaging/core/io/test/io_test.py
  mantidimaging/core/reconstruct/cil_recon.py
  mantidimaging/core/reconstruct/tomopy_recon.py
  mantidimaging/gui/dialogs/cor_inspection/model.py
  mantidimaging/gui/windows/geometry/presenter.py
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/nexus_load_dialog/test/presenter_test.py
  mantidimaging/gui/windows/stack_properties_dialog/view.py
  mantidimaging/gui/windows/stack_visualiser/view.py
Due: check-licenses, pyright

Update Geometry to be the primary store for angle data
  mantidimaging/core/data/geometry.py
  mantidimaging/core/data/imagestack.py
  mantidimaging/core/data/test/geometry_test.py
  mantidimaging/core/data/test/image_stack_test.py
  mantidimaging/core/io/test/io_test.py
  mantidimaging/core/reconstruct/astra_recon.py
  mantidimaging/core/reconstruct/cil_recon.py
  mantidimaging/core/reconstruct/tomopy_recon.py
  mantidimaging/eyes_tests/base_eyes.py
  mantidimaging/eyes_tests/reconstruct_window_test.py
  mantidimaging/gui/dialogs/cor_inspection/test/model_test.py
  mantidimaging/gui/test/gui_system_loading_test.py
  mantidimaging/gui/windows/geometry/presenter.py
  mantidimaging/gui/windows/geometry/test/model_test.py
  mantidimaging/gui/windows/geometry/test/presenter_test.py
  mantidimaging/gui/windows/main/model.py
  mantidimaging/gui/windows/main/test/presenter_test.py
  mantidimaging/gui/windows/nexus_load_dialog/presenter.py
  mantidimaging/gui/windows/recon/presenter.py
  mantidimaging/gui/windows/recon/test/model_test.py
  mantidimaging/gui/windows/recon/test/presenter_test.py
  mantidimaging/gui/windows/stack_visualiser/test/presenter_test.py
  mantidimaging/test_helpers/unit_test_helper.py
Due: check-licenses, pyright

Update GUI tests to account for ImageStack no longer holding Geometry
  mantidimaging/eyes_tests/operations_window_test.py
  mantidimaging/eyes_tests/reconstruct_window_test.py
Due: check-licenses, pyright

Improve method docstrings in recon window and io testing
  mantidimaging/core/io/test/io_test.py
  mantidimaging/core/reconstruct/cil_recon.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Add release note (#2614)
  docs/release_notes/next/dev-2614-refactor-projection-angles
Due: check-release-notes-format

Update to Ignore Files Generated by Pixi
  .gitignore
Due: none
