Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: end-of-file-fixer
        types: [python]
  - repo: https://github.com/google/yapf
    rev: v0.43.0
    hooks:
      - id: yapf
  - repo: local
    hooks:
      - id: check-licenses
        name: Check Licenses
        description: Checks that all files have correct copyright licenses
        entry: python -m CheckLicensesInFiles
        language: python
        types: [python]
  - repo: local
    hooks:
      - id: check-release-notes-format
        name: Check Release Notes Format
        description: Validate release note filename and contents format before commit
        entry: python  -m CheckReleaseNoteFormat
        language: python
        files: ^docs/release_notes/next/
        additional_dependencies: [requests]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.17.1"
    hooks:
      - id: mypy
        files: ^mantidimaging/
        args: [--ignore-missing-imports]
        additional_dependencies: [types-docutils, types-PyYAML, types-requests]
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        description: Checks that all files pass pyright checks
        entry: pyright
        language: system
        types: [python]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.3
    hooks:
      - id: ruff
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        files: \.(json|ya?ml)$
        exclude: ^conda/

Update documentation
  release_notes/next.html
  searchindex.js
Due: none

migrate rocky and u18 testing workflows from mamba/conda to pixi
  .github/workflows/rocky_testing.yml
  .github/workflows/u18_testing.yml
  docker/entrypoint.sh
  docker/ubuntu18.Dockerfile
  pixi.toml
Due: none

migrate the docker rocky8 environment from conda to pixi
  docker/rocky8.Dockerfile
Due: none

Update pixi to add prettier tasks for json and yaml checks, and update the u18 testing workflow to run the checks with pixi
  .github/workflows/u18_testing.yml
  pixi.toml
Due: none

made suggested changes
  docs/developer_docs/how-to-guides/debugging.rst
  docs/developer_docs/how-to-guides/pycharm_setup.rst
  docs/developer_docs/reference/pycharm_plugins.rst
Due: none

GPU Recon Algorithms are Disabled for CPU Only Env
  docs/release_notes/next/fix-3246-disable_gpu_recon_algorithms_on_cpu_only_environments
  mantidimaging/gui/windows/recon/test/view_test.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, check-release-notes-format, pyright

Record history on create, modify, convert, and delete (delete only recorded if geometry previously existed).
  mantidimaging/gui/windows/geometry/presenter.py
  mantidimaging/gui/windows/geometry/test/presenter_test.py
Due: check-licenses, pyright

record geometry modification when CoR/tilt refinement results are applied to a stack's geometry.
  mantidimaging/gui/windows/recon/presenter.py
  mantidimaging/gui/windows/recon/test/presenter_test.py
Due: check-licenses, pyright

RRender geometry_history under its own "Geometry History" group, and include the stack name in the dialog title so it's clear which stack the metadata belongs to.
  mantidimaging/gui/windows/stack_visualiser/metadata_dialog.py
Due: check-licenses, pyright

Add const.py entries for geometry history operation names and field keys.
  mantidimaging/core/operation_history/const.py
Due: check-licenses, pyright

Added a _graveyard list in view.py and append the two ViewBox objects created by ImageView() (main view and roi plot view) when the residual plot is created
  docs/release_notes/next/fix-3107-recon_window_residual_viewbox_segfault_risk
  mantidimaging/gui/dialogs/async_task/view.py
Due: check-licenses, check-release-notes-format, pyright

constrain lint environment to glibc 2.27 for Ubuntu 18
  pixi.lock
  pixi.toml
Due: none

Create New CSV Parser Class
  mantidimaging/core/io/__init__.py
  mantidimaging/core/io/csv_log_parser.py
Due: check-licenses, pyright

Add basic Parse Tests for Strict CSV
  mantidimaging/core/io/loader/test/instrument_log_data.py
  mantidimaging/core/io/loader/test/instrument_log_test.py
Due: check-licenses, pyright

Log Once Workaround for Re-Parsing issue
  mantidimaging/core/io/csv_log_parser.py
Due: check-licenses, pyright

Use Pixel Size From Log
  mantidimaging/core/io/instrument_log.py
  mantidimaging/core/io/loader/loader.py
  mantidimaging/gui/windows/main/model.py
Due: check-licenses, pyright

Test pixel overide
  mantidimaging/core/io/loader/test/loader_test.py
  mantidimaging/gui/windows/main/test/model_test.py
Due: check-licenses, pyright

Release Notes
  docs/release_notes/next/feature-3256-add_parse_strict_csv_log_and_add_pixel_size
Due: check-release-notes-format

add ubuntu18 to dev environment
  pixi.lock
  pixi.toml
Due: none

add print check to ruff job in the ubuntu workflow
  .github/workflows/u18_testing.yml
  pixi.toml
Due: none

exclude scripts from ruff print checks
  pixi.toml
Due: none

ignore print checks and replace prints with logging info, warnings and debugs where appropriate
  mantidimaging/core/io/test/filenames_test.py
  mantidimaging/core/utility/progress_reporting/console_progress_bar.py
  mantidimaging/core/utility/version_check.py
  mantidimaging/gui/test/gui_system_base.py
  mantidimaging/gui/test/gui_system_liveviewer_test.py
  mantidimaging/gui/test/gui_system_loading_test.py
  mantidimaging/gui/test/gui_system_operations_test.py
  mantidimaging/gui/test/gui_system_reconstruction_test.py
  mantidimaging/main.py
  mantidimaging/test_helpers/qt_test_message_handler.py
Due: check-licenses, pyright

Added self.progress_plot.plotItem.vb to _graveyard
  mantidimaging/gui/dialogs/async_task/view.py
Due: check-licenses, pyright

update pyright
  conda/meta.yaml
  docs/release_notes/next/dev-3165-update-pyright-to-1.1.410
  environment-dev.yml
  pixi.toml
Due: check-release-notes-format

Run Pyright and address typing issues across async tasks, Qt helpers, overlays, and image widgets
  mantidimaging/gui/dialogs/async_task/view.py
  mantidimaging/gui/utility/qt_helpers.py
  mantidimaging/gui/widgets/bad_data_overlay/bad_data_overlay.py
  mantidimaging/gui/widgets/indicator_icon/view.py
  mantidimaging/gui/widgets/mi_image_view/view.py
  mantidimaging/gui/widgets/mi_mini_image_view/view.py
  mantidimaging/gui/widgets/spectrum_widgets/tof_properties.py
  mantidimaging/gui/widgets/zslider/zslider.py
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/operations/filter_previews.py
  mantidimaging/gui/windows/spectrum_viewer/roi_table_model.py
  mantidimaging/gui/windows/spectrum_viewer/spectrum_widget.py
  mantidimaging/main.py
Due: check-licenses, pyright

Update the main-window view to resolve Pyright typing issues
  mantidimaging/gui/windows/main/view.py
Due: check-licenses, pyright

removed pyright from meta file.
  conda/meta.yaml
Due: none

Added a docstring clarifying that the method filters by both geometry support and environment (CUDA) compatibility.
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

add release notes
  docs/release_notes/next/dev-3242-migrate_docker_workflows_from_conda_mamba_to_pixi
Due: check-release-notes-format

update versions to match those in pixi
  conda/meta.yaml
  conda/recipe.yaml
Due: none

Accept InstrumentLog arg & Check for Pixel Size
  mantidimaging/gui/windows/main/model.py
Due: check-licenses, pyright

Prompt User on Log Load if Pixel Size Detected
  mantidimaging/gui/windows/main/model.py
  mantidimaging/gui/windows/main/presenter.py
Due: check-licenses, pyright

Refactor Log Tests & Validate Pixel Overwrite
  mantidimaging/gui/windows/main/test/model_test.py
Due: check-licenses, pyright
