Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

check-licenses:
  name: Check Licenses
  description: Checks that all files have correct copyright licenses
  entry: python -m CheckLicensesInFiles
  language: python

check-release-notes-format:
  name: Check Release Notes Format
  description: Validate release note filename and contents format before commit
  entry: python  -m CheckReleaseNoteFormat
  language: python
  additional_dependencies:
  - requests

pyright:
  name: pyright
  description: Checks that all files pass pyright checks
  entry: pyright
  language: system

Create Optional Flags to Create New Release File
  setup.py
Due: check-licenses, pyright

Update Token to Use Custom Token
  .github/workflows/pr_to_draft_on_change_request.yml
Due: none

MonitorNormalisationTest use unittest asserts
  mantidimaging/core/operations/monitor_normalisation/test/monitor_normalisation_test.py
Due: check-licenses, pyright

Move MonitorNormalisation tests into a unittest.TestCase
  mantidimaging/core/operations/monitor_normalisation/test/monitor_normalisation_test.py
Due: check-licenses, pyright

Remove trivial tests
  mantidimaging/core/operations/monitor_normalisation/test/monitor_normalisation_test.py
  mantidimaging/core/operations/overlap_correction/test/overlap_correction_test.py
Due: check-licenses, pyright

Add coding style to the docs
  docs/developer_docs/explanations/developer_conventions.rst
Due: none

set pyright reportMissingImports=true, remove unused imports pydevd and ptvsd
  mantidimaging/test_helpers/unit_test_helper.py
  pyproject.toml
Due: check-licenses, pyright

remove reportMissingImports-false flag
  pyproject.toml
Due: none

delete unused ipython.py
  mantidimaging/ipython.py
Due: check-licenses, pyright

ipython entry point removed from setup.py
  setup.py
Due: check-licenses, pyright

release note
  docs/release_notes/next/dev-2682-pyright-remove-missing-imports
Due: check-release-notes-format

yapf fix
  setup.py
Due: check-licenses, pyright

context manager mocks are reset explicitly, releasing references
  mantidimaging/gui/test/gui_system_loading_test.py
Due: check-licenses, pyright

set leak_count_limit to 2
  mantidimaging/gui/test/gui_system_loading_test.py
Due: check-licenses, pyright

Refactor correlation logic for flexible 180° projection selection
  mantidimaging/core/rotation/polyfit_correlation.py
  mantidimaging/core/rotation/test/polyfit_correlation_test.py
  mantidimaging/gui/windows/recon/presenter.py
Due: check-licenses, pyright

Added Image
  mantidimaging/gui/widgets/spectrum_widgets/export_image_widget.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/gui/widgets/bad_data_overlay/bad_data_overlay.html
  _modules/mantidimaging/gui/windows/operations/filter_previews.html
  _modules/mantidimaging/gui/windows/operations/presenter.html
  _modules/mantidimaging/gui/windows/recon/image_view.html
  _modules/mantidimaging/gui/windows/stack_choice/presenter.html
  api/mantidimaging.gui.widgets.bad_data_overlay.bad_data_overlay.html
  api/mantidimaging.gui.widgets.bad_data_overlay.html
  api/mantidimaging.gui.windows.stack_choice.html
  api/mantidimaging.gui.windows.stack_choice.presenter.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

adding missing code
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Spectrum Viewer: Normalise ROIs of Varying Size
  docs/release_notes/next/feature-2347-Spectrum-Viewer-Support-Normalising-ROIs-of-Different-Sizes
  mantidimaging/gui/windows/spectrum_viewer/model.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/test/presenter_test.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, check-release-notes-format, pyright

Update documentation
  _modules/mantidimaging/core/operations/base_filter.html
  _modules/mantidimaging/core/operations/flat_fielding/flat_fielding.html
  _modules/mantidimaging/core/operations/monitor_normalisation/monitor_normalisation.html
  _modules/mantidimaging/core/operations/overlap_correction/overlap_correction.html
  _modules/mantidimaging/core/operations/rescale/rescale.html
  _modules/mantidimaging/gui/windows/operations/model.html
  _modules/mantidimaging/gui/windows/operations/presenter.html
  _modules/mantidimaging/gui/windows/operations/view.html
  api/mantidimaging.core.operations.base_filter.html
  api/mantidimaging.core.operations.flat_fielding.flat_fielding.html
  api/mantidimaging.core.operations.monitor_normalisation.monitor_normalisation.html
  api/mantidimaging.core.operations.overlap_correction.html
  api/mantidimaging.core.operations.overlap_correction.overlap_correction.html
  api/mantidimaging.core.operations.rescale.html
  api/mantidimaging.core.operations.rescale.rescale.html
  api/mantidimaging.gui.windows.operations.html
  api/mantidimaging.gui.windows.operations.model.html
  api/mantidimaging.gui.windows.operations.view.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

Added full stop
  docs/release_notes/next/feature-2347-Spectrum-Viewer-Support-Normalising-ROIs-of-Different-Sizes
Due: check-release-notes-format

reportOptionalCall = false flag removed with cleanup of test helpers
  mantidimaging/test_helpers/start_qapplication.py
  pyproject.toml
Due: check-licenses, pyright

changing threshold value
  mantidimaging/gui/windows/operations/filter_previews.py
Due: check-licenses, pyright

added release note
  docs/release_notes/next/fix-2803-ring-remove-thershold-bug
Due: check-release-notes-format

refactor
  mantidimaging/core/rotation/polyfit_correlation.py
Due: check-licenses, pyright

fixing yapf
  mantidimaging/gui/windows/operations/filter_previews.py
Due: check-licenses, pyright

Update filter_previews.py
  mantidimaging/gui/windows/operations/filter_previews.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/gui/windows/spectrum_viewer/model.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/presenter.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/view.html
  api/mantidimaging.gui.windows.spectrum_viewer.html
  api/mantidimaging.gui.windows.spectrum_viewer.model.html
  api/mantidimaging.gui.windows.spectrum_viewer.presenter.html
  api/mantidimaging.gui.windows.spectrum_viewer.view.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

changed overlay threshold value
  docs/release_notes/next/fix-2803-ring-remove-thershold-bug
  mantidimaging/gui/windows/operations/filter_previews.py
Due: check-licenses, check-release-notes-format, pyright

Export Window: Create/Add ImageView (Mapping) to Export Window
  docs/release_notes/next/feature-2395-Export-Window-Add-ImageView-to-Tab
  mantidimaging/gui/widgets/spectrum_widgets/export_image_widget.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, check-release-notes-format, pyright

update to 7.10.3
  environment-dev.yml
Due: none

Add a `type` property to the Geometry class
  mantidimaging/core/data/geometry.py
  mantidimaging/core/data/test/geometry_test.py
Due: check-licenses, pyright

Update the Stack Properties dialogue window to use Geometry's `type` property
  mantidimaging/gui/windows/stack_properties_dialog/view.py
Due: check-licenses, pyright

Add release note (#2834)
  docs/release_notes/next/dev-2834-add-geometry-type-property
Due: check-release-notes-format

Update testfixtures from 7.2.2 to 8.3.0
  environment-dev.yml
Due: none

Update documentation
  _modules/index.html
  _modules/mantidimaging/gui/widgets/spectrum_widgets/export_image_widget.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/view.html
  _sources/api/mantidimaging.gui.widgets.spectrum_widgets.export_image_widget.rst.txt
  _sources/api/mantidimaging.gui.widgets.spectrum_widgets.rst.txt
  api/mantidimaging.gui.widgets.html
  api/mantidimaging.gui.widgets.spectrum_widgets.export_data_table_widget.html
  api/mantidimaging.gui.widgets.spectrum_widgets.export_image_widget.html
  api/mantidimaging.gui.widgets.spectrum_widgets.html
  genindex.html
  objects.inv
  py-modindex.html
  release_notes/next.html
  searchindex.js
Due: none

Update to 7.5.3
  environment-dev.yml
Due: none

Update to 7.4
  environment-dev.yml
Due: none

updated note
  docs/release_notes/next/feature-2674-Update-Coverage
Due: check-release-notes-format

Update documentation
  _modules/mantidimaging/core/data/geometry.html
  _modules/mantidimaging/gui/windows/stack_properties_dialog/view.html
  api/mantidimaging.core.data.geometry.html
  api/mantidimaging.core.data.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

Path conditions:
  check-licenses: any of: \.py$
  check-release-notes-format: any of: ^docs/release_notes/next/
  pyright: any of: \.py$
