Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: end-of-file-fixer
        types: [python]
-   repo: https://github.com/google/yapf
    rev: v0.43.0
    hooks:
    -   id: yapf
-   repo: local
    hooks:
    -   id: check-licenses
        name: Check Licenses
        description: Checks that all files have correct copyright licenses
        entry: python -m CheckLicensesInFiles
        language: python
        types: [python]
-   repo: local
    hooks:
    -   id: check-release-notes-format
        name: Check Release Notes Format
        description: Validate release note filename and contents format before commit
        entry: python  -m CheckReleaseNoteFormat
        language: python
        files: ^docs/release_notes/next/
        additional_dependencies: [requests]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.17.1'
    hooks:
    -   id: mypy
        files: ^mantidimaging/
        args: [--ignore-missing-imports]
        additional_dependencies: [types-docutils, types-PyYAML, types-requests]
-   repo: local
    hooks:
    -   id: pyright
        name: pyright
        description: Checks that all files pass pyright checks
        entry: pyright
        language: system
        types: [python]
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.3
    hooks:
    -   id: ruff

prevent IndexError in ROI move when spectrum already complete
  docs/release_notes/next/feature-2839-Caching-spectrum-viewer-refactor
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/test/presenter_test.py
Due: check-licenses, check-release-notes-format, pyright

Integrate QCILViewer widget and add release notes
  docs/release_notes/next/fix-2872-repair_3D_widget_for_linux
  mantidimaging/gui/windows/viewer_3d/view.py
Due: check-licenses, check-release-notes-format, pyright

TEMP
  mantidimaging/gui/windows/main/model.py
  mantidimaging/gui/windows/nexus_load_dialog/.presenter.py.un~
  mantidimaging/gui/windows/nexus_load_dialog/presenter.py
Due: check-licenses, pyright

TEMP
  mantidimaging/core/data/imagestack.py
  mantidimaging/gui/windows/nexus_load_dialog/presenter.py
  mantidimaging/gui/windows/nexus_load_dialog/test/presenter_test.py
Due: check-licenses, pyright

changed overlay threshold value
  mantidimaging/gui/windows/operations/filter_previews.py
Due: check-licenses, pyright

Pin numba to 0.61 to avoid incompatibility with coverage
  environment-dev.yml
  environment.yml
Due: none

Update release notes for 3.0.1
  docs/release_notes/3.0.rst
Due: none

Fix bug where the StackVisualiser's angles weren't being updated when a new log was manually loaded
  mantidimaging/core/data/imagestack.py
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/main/test/presenter_test.py
Due: check-licenses, pyright

Fix bug where the StackVisualiser's angles weren't being updated when new Projection Angles were manually loaded
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/main/test/presenter_test.py
Due: check-licenses, pyright

Add Chi² fit quality display to Spectrum Viewer
  mantidimaging/core/fitting/fitting_engine.py
  mantidimaging/gui/widgets/spectrum_widgets/fitting_param_form_widget.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

fixing yapf
  mantidimaging/gui/widgets/spectrum_widgets/fitting_param_form_widget.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

fixed tests
  mantidimaging/core/fitting/test/fitting_engine_test.py
  mantidimaging/gui/windows/spectrum_viewer/test/presenter_test.py
Due: check-licenses, pyright

feat(spectrum-viewer): add χ² fit quality metrics (raw, reduced, weighted)
  mantidimaging/core/fitting/fitting_engine.py
  mantidimaging/core/fitting/test/fitting_engine_test.py
  mantidimaging/gui/widgets/spectrum_widgets/fitting_param_form_widget.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

Add Chi² support to fitting export table
  mantidimaging/gui/widgets/spectrum_widgets/export_data_table_widget.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Updated fitting engine to return both Residual Sum of Squares (RSS) and Reduced RSS (RSS/DoF).
  mantidimaging/core/fitting/fitting_engine.py
  mantidimaging/gui/widgets/spectrum_widgets/fitting_param_form_widget.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/core/fitting/fitting_engine.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/presenter.html
  api/mantidimaging.core.fitting.fitting_engine.html
  api/mantidimaging.gui.windows.spectrum_viewer.presenter.html
  searchindex.js
Due: none

removing n/a labels
  mantidimaging/core/fitting/fitting_engine.py
  mantidimaging/gui/widgets/spectrum_widgets/fitting_param_form_widget.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

fixing ruff
  mantidimaging/gui/widgets/spectrum_widgets/fitting_param_form_widget.py
Due: check-licenses, pyright

fixing tests
  mantidimaging/gui/windows/spectrum_viewer/test/presenter_test.py
Due: check-licenses, pyright

Update vtk in meta.yaml
  conda/meta.yaml
Due: none

Update documentation
  _modules/mantidimaging/gui/windows/spectrum_viewer/presenter.html
Due: none

Update documentation
  _modules/mantidimaging/gui/windows/viewer_3d/view.html
  release_notes/next.html
  searchindex.js
Due: none

Set Platform Specific Dependencies and Tasks
  pixi.lock
  pixi.toml
Due: none

Add new helper methods to Geometry for improved integration with recon algorithms.
  mantidimaging/core/data/geometry.py
Due: check-licenses, pyright

Add release note (#2485)
  docs/release_notes/next/dev-2485-recon-algos-get-imagestack
Due: check-release-notes-format

Update reconstruction algorithms to accept an ImageStack and extract CORs and projection angles
  mantidimaging/core/reconstruct/astra_recon.py
  mantidimaging/core/reconstruct/base_recon.py
  mantidimaging/core/reconstruct/cil_recon.py
  mantidimaging/core/reconstruct/tomopy_recon.py
  mantidimaging/core/utility/data_containers.py
  mantidimaging/eyes_tests/base_eyes.py
  mantidimaging/eyes_tests/reconstruct_window_test.py
  mantidimaging/gui/dialogs/cor_inspection/model.py
  mantidimaging/gui/dialogs/cor_inspection/test/model_test.py
  mantidimaging/gui/dialogs/cor_inspection/test/presenter_test.py
  mantidimaging/gui/windows/recon/model.py
  mantidimaging/gui/windows/recon/presenter.py
  mantidimaging/gui/windows/recon/test/model_test.py
  mantidimaging/gui/windows/recon/test/presenter_test.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Fix issues with CoR calculation in astra_recon.py
  mantidimaging/core/data/geometry.py
  mantidimaging/core/reconstruct/astra_recon.py
  mantidimaging/gui/windows/recon/model.py
Due: check-licenses, pyright

Update tests in recon/model_test.py to use more accurate 3D array test data
  mantidimaging/gui/windows/recon/test/model_test.py
Due: check-licenses, pyright

Add guards against ProjectionAngles data being None
  mantidimaging/core/data/dataset.py
  mantidimaging/core/data/test/dataset_test.py
  mantidimaging/core/data/test/geometry_test.py
  mantidimaging/core/reconstruct/astra_recon.py
  mantidimaging/core/reconstruct/cil_recon.py
  mantidimaging/core/reconstruct/tomopy_recon.py
  mantidimaging/gui/dialogs/cor_inspection/model.py
  mantidimaging/gui/windows/geometry/presenter.py
  mantidimaging/gui/windows/recon/model.py
  mantidimaging/gui/windows/stack_visualiser/presenter.py
Due: check-licenses, pyright

Use Agg instead of Qt5AGG if QT_QPA_PLATFORM is set to offscreen
  mantidimaging/gui/windows/geometry/view.py
Due: check-licenses, pyright

Release Notes
  docs/release_notes/next/feature-2886-enable_headless_testing
Due: check-release-notes-format

rebased to pr #2878
  mantidimaging/core/fitting/fitting_engine.py
  mantidimaging/core/fitting/test/fitting_engine_test.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

Remove real_projection_angles() method and update all references to use projection_angles()
  mantidimaging/core/data/imagestack.py
  mantidimaging/core/data/test/image_stack_test.py
  mantidimaging/core/io/test/io_test.py
  mantidimaging/core/reconstruct/cil_recon.py
  mantidimaging/core/reconstruct/tomopy_recon.py
  mantidimaging/gui/dialogs/cor_inspection/model.py
  mantidimaging/gui/windows/geometry/presenter.py
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/nexus_load_dialog/test/presenter_test.py
  mantidimaging/gui/windows/recon/model.py
  mantidimaging/gui/windows/stack_properties_dialog/view.py
  mantidimaging/gui/windows/stack_visualiser/view.py
Due: check-licenses, pyright

Add release note (#2614)
  docs/release_notes/next/dev-2614-refactor-projection-angles
Due: check-release-notes-format

Update Geometry to be the primary store for angle data
  mantidimaging/core/data/geometry.py
  mantidimaging/core/data/imagestack.py
  mantidimaging/core/data/test/geometry_test.py
  mantidimaging/core/data/test/image_stack_test.py
  mantidimaging/core/io/test/io_test.py
  mantidimaging/gui/dialogs/cor_inspection/test/model_test.py
  mantidimaging/gui/test/gui_system_loading_test.py
  mantidimaging/gui/windows/geometry/presenter.py
  mantidimaging/gui/windows/geometry/test/model_test.py
  mantidimaging/gui/windows/geometry/test/presenter_test.py
  mantidimaging/gui/windows/main/model.py
  mantidimaging/gui/windows/main/test/presenter_test.py
  mantidimaging/gui/windows/nexus_load_dialog/presenter.py
  mantidimaging/gui/windows/recon/presenter.py
  mantidimaging/gui/windows/recon/test/model_test.py
  mantidimaging/gui/windows/recon/test/presenter_test.py
  mantidimaging/gui/windows/stack_visualiser/test/presenter_test.py
  mantidimaging/test_helpers/unit_test_helper.py
Due: check-licenses, pyright

Improve method docstrings in recon window and io testing
  mantidimaging/core/io/test/io_test.py
  mantidimaging/core/reconstruct/cil_recon.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Refactor: Make ImageStack.data setter safe and add shape property
  mantidimaging/core/data/imagestack.py
  mantidimaging/core/data/test/image_stack_test.py
  mantidimaging/core/io/test/io_test.py
  mantidimaging/core/operations/arithmetic/arithmetic.py
  mantidimaging/core/operations/divide/divide.py
  mantidimaging/core/operations/flat_fielding/flat_fielding.py
  mantidimaging/core/operations/flat_fielding/test/flat_fielding_test.py
  mantidimaging/core/operations/monitor_normalisation/monitor_normalisation.py
  mantidimaging/core/operations/outliers/outliers.py
  mantidimaging/core/operations/overlap_correction/overlap_correction.py
  mantidimaging/core/operations/rebin/rebin.py
  mantidimaging/core/operations/rebin/test/rebin_test.py
  mantidimaging/core/operations/roi_normalisation/roi_normalisation.py
  mantidimaging/core/operations/rotate_stack/test/rotate_stack_test.py
  mantidimaging/core/reconstruct/cil_recon.py
  mantidimaging/gui/windows/operations/model.py
Due: check-licenses, pyright

PyInstaller: Add imagecodecs to hidden_imports
  packaging/PackageWithPyInstaller.py
Due: check-licenses, pyright
