Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

check-licenses:
  name: Check Licenses
  description: Checks that all files have correct copyright licenses
  entry: python -m CheckLicensesInFiles
  language: python

check-release-notes-format:
  name: Check Release Notes Format
  description: Validate release note filename and contents format before commit
  entry: python  -m CheckReleaseNoteFormat
  language: python
  additional_dependencies:
  - requests

pyright:
  name: pyright
  description: Checks that all files pass pyright checks
  entry: pyright
  language: system

Final Cleanup and Revisioning of Pixi Configuration
  pixi.toml
Due: none

Improve Dependency Flexiblity of vtk and pyqt
  pixi.toml
Due: none

rois no longer get deleted when switching stacks, spectrums are deleted and recalculated for new stack
  mantidimaging/gui/windows/spectrum_viewer/model.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

When the stack is changed in the Spectrum Viewer, if all ROIs have been deleted, a new one is added
  mantidimaging/gui/windows/spectrum_viewer/model.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/test/presenter_test.py
Due: check-licenses, pyright

wait until the roi_to_process_queue is empty before TearDOwn
  mantidimaging/gui/test/gui_system_spectrum_test.py
Due: check-licenses, pyright

mypy fix
  mantidimaging/gui/test/gui_system_spectrum_test.py
Due: check-licenses, pyright

added check that spectrum calculation has finished before teardown of spectrum eyes test
  mantidimaging/eyes_tests/spectrum_viewer_test.py
Due: check-licenses, pyright

release note
  docs/release_notes/next/feature-2828-spectrum-viewer-rois-persist
Due: check-release-notes-format

suggested changes
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

if image size of new stack is different, reset ROIs
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

Update dev testing guide with Ada testing and example data instructions
  docs/developer_docs/how-to-guides/testing.rst
  docs/release_notes/next/dev-2794-add_system_tests_data_instructions
Due: check-release-notes-format

Use ImageStack.shape property instead of accessing .data.shape directly
  mantidimaging/gui/test/gui_system_loading_test.py
  mantidimaging/gui/test/gui_system_windows_test.py
  mantidimaging/gui/windows/operations/presenter.py
Due: check-licenses, pyright

Use ImageStack.shape property instead of accessing .data.shape directly (further)
  mantidimaging/core/data/dataset.py
  mantidimaging/core/fitting/bounding_box.py
  mantidimaging/core/io/saver.py
  mantidimaging/core/io/test/io_test.py
  mantidimaging/core/operations/clip_values/clip_values.py
  mantidimaging/core/operations/crop_coords/test/crop_coords_test.py
  mantidimaging/core/operations/gaussian/gaussian.py
  mantidimaging/core/operations/monitor_normalisation/test/monitor_normalisation_test.py
  mantidimaging/core/operations/nan_removal/nan_removal.py
  mantidimaging/core/operations/rebin/test/rebin_test.py
  mantidimaging/core/operations/rotate_stack/rotate_stack.py
  mantidimaging/core/operations/rotate_stack/test/rotate_stack_test.py
  mantidimaging/gui/windows/nexus_load_dialog/test/presenter_test.py
  mantidimaging/gui/windows/spectrum_viewer/model.py
  mantidimaging/gui/windows/spectrum_viewer/test/model_test.py
  mantidimaging/gui/windows/stack_properties_dialog/presenter.py
  mantidimaging/gui/windows/stack_properties_dialog/test/presenter_test.py
  mantidimaging/gui/windows/stack_visualiser/view.py
  mantidimaging/helper.py
Due: check-licenses, pyright

Use ImageStack.shape property instead of accessing .data.shape directly (further)
  mantidimaging/core/data/imagestack.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/core/data/dataset.html
  _modules/mantidimaging/core/data/imagestack.html
  _modules/mantidimaging/core/fitting/bounding_box.html
  _modules/mantidimaging/core/io/saver.html
  _modules/mantidimaging/core/operations/clip_values/clip_values.html
  _modules/mantidimaging/core/operations/gaussian/gaussian.html
  _modules/mantidimaging/core/operations/nan_removal/nan_removal.html
  _modules/mantidimaging/core/operations/rotate_stack/rotate_stack.html
  _modules/mantidimaging/gui/windows/operations/presenter.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/model.html
  _modules/mantidimaging/gui/windows/stack_properties_dialog/presenter.html
  _modules/mantidimaging/gui/windows/stack_visualiser/view.html
  _modules/mantidimaging/helper.html
  api/mantidimaging.gui.dialogs.cor_inspection.recon_slice_view.html
  api/mantidimaging.gui.widgets.bad_data_overlay.bad_data_overlay.html
  api/mantidimaging.gui.widgets.indicator_icon.view.html
  api/mantidimaging.gui.widgets.line_profile_plot.view.html
  api/mantidimaging.gui.widgets.mi_image_view.view.html
  api/mantidimaging.gui.widgets.mi_mini_image_view.view.html
  api/mantidimaging.gui.widgets.zslider.zslider.html
  api/mantidimaging.gui.windows.live_viewer.live_view_widget.html
  api/mantidimaging.gui.windows.operations.filter_previews.html
  api/mantidimaging.gui.windows.recon.image_view.html
  api/mantidimaging.gui.windows.spectrum_viewer.spectrum_widget.html
Due: none

Update documentation
  _modules/mantidimaging/gui/windows/spectrum_viewer/model.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/presenter.html
  api/mantidimaging.gui.windows.spectrum_viewer.html
  api/mantidimaging.gui.windows.spectrum_viewer.model.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

Separate caching logic from spectrum calculation
  mantidimaging/gui/windows/spectrum_viewer/model.py
Due: check-licenses, pyright

Clarify instructions
  docs/developer_docs/how-to-guides/testing.rst
  docs/developer_docs/tutorials/started_ada.rst
Due: none

Create Front-End and resolve execute_wrapper signature
  mantidimaging/core/operations/sum_stack_intensities/__init__.py
  mantidimaging/core/operations/sum_stack_intensities/sum_intensities.py
Due: check-licenses, pyright

Prevents 'ValueError: The truth value of an array with more than one element is ambiguous' during tests.
  mantidimaging/gui/windows/spectrum_viewer/model.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/gui/windows/spectrum_viewer/view.html
  api/mantidimaging.gui.dialogs.cor_inspection.recon_slice_view.html
  api/mantidimaging.gui.widgets.bad_data_overlay.bad_data_overlay.html
  api/mantidimaging.gui.widgets.indicator_icon.view.html
  api/mantidimaging.gui.widgets.line_profile_plot.view.html
  api/mantidimaging.gui.widgets.mi_image_view.view.html
  api/mantidimaging.gui.widgets.mi_mini_image_view.view.html
  api/mantidimaging.gui.widgets.zslider.zslider.html
  api/mantidimaging.gui.windows.live_viewer.live_view_widget.html
  api/mantidimaging.gui.windows.operations.filter_previews.html
  api/mantidimaging.gui.windows.recon.image_view.html
  api/mantidimaging.gui.windows.spectrum_viewer.spectrum_widget.html
  release_notes/next.html
  searchindex.js
Due: none

Update coverage from 7.3.4 to 7.4
  docs/release_notes/next/feature-2674-Update-Coverage
  environment-dev.yml
Due: check-release-notes-format

Rename the fitting parameter form to fitting_param_form
  mantidimaging/eyes_tests/spectrum_viewer_test.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/test/presenter_test.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Update docstrings in FittingParamFormWidget
  mantidimaging/gui/widgets/spectrum_widgets/fitting_param_form_widget.py
Due: check-licenses, pyright

Correlation between any two projections without requiring a generated 180° dataset.
  mantidimaging/core/rotation/polyfit_correlation.py
  mantidimaging/core/rotation/test/polyfit_correlation_test.py
  mantidimaging/gui/windows/recon/model.py
  mantidimaging/gui/windows/recon/test/presenter_test.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/core/rotation/polyfit_correlation.html
  _modules/mantidimaging/gui/windows/recon/model.html
  api/mantidimaging.core.rotation.polyfit_correlation.html
  api/mantidimaging.gui.windows.recon.model.html
  searchindex.js
Due: none

Add Keyboard Shortcut for Spectrum Viewer
  mantidimaging/gui/windows/main/view.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/gui/widgets/spectrum_widgets/fitting_param_form_widget.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/presenter.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/view.html
  api/mantidimaging.gui.widgets.spectrum_widgets.fitting_param_form_widget.html
  searchindex.js
Due: none

image_output_mode_combobox default to 2D Binned
  mantidimaging/gui/ui/roi_form_widget.ui
Due: none

Ensures the spectrum plot refreshes only when data exists.
  mantidimaging/gui/windows/spectrum_viewer/model.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

GUI changes for projection selection in COR/Tilt correlation
  mantidimaging/gui/ui/recon_window.ui
  mantidimaging/gui/windows/recon/presenter.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

update to 7.4
  docs/release_notes/next/feature-2674-Update-Coverage
Due: check-release-notes-format

Check if test raises AssertError, leak info isn't printed
  docs/release_notes/next/dev-2918-leak-tracker-info-control
  mantidimaging/core/utility/leak_tracker.py
  mantidimaging/gui/test/gui_system_base.py
Due: check-licenses, check-release-notes-format, pyright

make logic clearer and make sure that leak_tracker is cleared in every situation
  mantidimaging/core/utility/leak_tracker.py
  mantidimaging/gui/test/gui_system_base.py
Due: check-licenses, pyright

Update documentation
  release_notes/next.html
  searchindex.js
Due: none

Remove Duplicate Reset Layout Code in setup_shortcuts()
  mantidimaging/gui/windows/main/view.py
Due: check-licenses, pyright

updated gui changes
  mantidimaging/gui/ui/recon_window.ui
Due: none

updated release note
  docs/release_notes/next/dev-2674-Update-Coverage
Due: check-release-notes-format

Path conditions:
  check-licenses: any of: \.py$
  check-release-notes-format: any of: ^docs/release_notes/next/
  pyright: any of: \.py$
