Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

check-licenses:
  name: Check Licenses
  description: Checks that all files have correct copyright licenses
  entry: python -m CheckLicensesInFiles
  language: python

check-release-notes-format:
  name: Check Release Notes Format
  description: Validate release note filename and contents format before commit
  entry: python  -m CheckReleaseNoteFormat
  language: python
  additional_dependencies:
  - requests

pyright:
  name: pyright
  description: Checks that all files pass pyright checks
  entry: pyright
  language: system

Add sub roi selection to ROISelectionWidget
  mantidimaging/gui/widgets/spectrum_widgets/roi_selection_widget.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

Set spin boxes based on binning
  mantidimaging/gui/widgets/spectrum_widgets/roi_form_widget.py
  mantidimaging/gui/widgets/spectrum_widgets/roi_selection_widget.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Finds nearest projection indices for chosen angles (e.g. 0° & 180°) using `find_image_from_angle`, ensuring correct correlation data.
  mantidimaging/core/data/imagestack.py
  mantidimaging/core/data/test/image_stack_test.py
  mantidimaging/gui/windows/recon/presenter.py
  mantidimaging/gui/windows/recon/test/presenter_test.py
  mantidimaging/gui/windows/stack_visualiser/presenter.py
  mantidimaging/gui/windows/stack_visualiser/test/presenter_test.py
  mantidimaging/gui/windows/stack_visualiser/view.py
Due: check-licenses, pyright

ROIBinner add is_valid() check
  mantidimaging/core/utility/sensible_roi.py
  mantidimaging/core/utility/test/sensibleROI_test.py
Due: check-licenses, pyright

made suggested changes
  mantidimaging/core/data/imagestack.py
  mantidimaging/core/data/test/image_stack_test.py
  mantidimaging/gui/windows/recon/view.py
  mantidimaging/gui/windows/stack_visualiser/view.py
Due: check-licenses, pyright

Add tool tip for x, y bin input
  mantidimaging/gui/widgets/spectrum_widgets/roi_selection_widget.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/gui/widgets/spectrum_widgets/roi_form_widget.html
  _modules/mantidimaging/gui/widgets/spectrum_widgets/roi_selection_widget.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/presenter.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/view.html
  api/mantidimaging.gui.widgets.spectrum_widgets.html
  api/mantidimaging.gui.widgets.spectrum_widgets.roi_form_widget.html
  api/mantidimaging.gui.widgets.spectrum_widgets.roi_selection_widget.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

fixed test
  mantidimaging/core/data/test/image_stack_test.py
Due: check-licenses, pyright

main tab draft
  mantidimaging/gui/windows/main/view.py
Due: check-licenses, pyright

Update 3D viewer bg color to match MI theme
  mantidimaging/gui/windows/viewer_3d/view.py
Due: check-licenses, pyright

add release notes
  docs/release_notes/next/dev-2925-update-3d-viewer-background-color
Due: check-release-notes-format

Update documentation
  release_notes/next.html
  searchindex.js
Due: none

SpectrumViewerWindowModel use is_valid from ROIBinner
  mantidimaging/gui/windows/spectrum_viewer/model.py
  mantidimaging/gui/windows/spectrum_viewer/test/model_test.py
Due: check-licenses, pyright

Move the check fits exactly into ROIBinner
  mantidimaging/core/utility/sensible_roi.py
  mantidimaging/core/utility/test/sensibleROI_test.py
  mantidimaging/gui/widgets/spectrum_widgets/roi_form_widget.py
Due: check-licenses, pyright

append stacks operation frontend
  mantidimaging/core/operations/append_stacks/__init__.py
  mantidimaging/core/operations/append_stacks/append_stacks.py
Due: check-licenses, pyright

Operations model test_filter_names test fix
  mantidimaging/gui/windows/operations/test/model_test.py
Due: check-licenses, pyright

Add QT_QPA_PLATFORM = offscreen environment variable to docs workflow
  .github/workflows/docs.yml
Due: none

Add new build-docs-headless pixi task
  pixi.toml
Due: none

Update documentation
  _sources/developer_docs/how-to-guides/testing.rst.txt
  _sources/developer_docs/tutorials/started_ada.rst.txt
  developer_docs/how-to-guides/testing.html
  developer_docs/tutorials/started_ada.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

Exlude tests and ipython from docs building and clense api folder before build
  pixi.toml
Due: none

Update system tests to account for ImageStack no longer holding Geometry
  mantidimaging/core/data/imagestack.py
  mantidimaging/core/data/test/dataset_test.py
  mantidimaging/eyes_tests/operations_window_test.py
  mantidimaging/eyes_tests/reconstruct_window_test.py
  mantidimaging/gui/test/gui_system_base.py
  mantidimaging/gui/test/gui_system_loading_test.py
Due: check-licenses, pyright

Improve method docstrings in recon window and io testing
  mantidimaging/core/io/test/io_test.py
  mantidimaging/core/reconstruct/cil_recon.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Restore recovery of original cor/tilt in astra_recon's find_cor() so that they get reset after the new cor is found
  mantidimaging/core/reconstruct/astra_recon.py
Due: check-licenses, pyright

Remove redundant imagestack generator helper function from image_stack_test.py
  mantidimaging/core/data/test/image_stack_test.py
Due: check-licenses, pyright

Add release note (#2614)
  docs/release_notes/next/dev-2614-refactor-projection-angles
Due: check-release-notes-format

TEMP: Update projection angles test to check if angles are none with no log file
  mantidimaging/core/data/test/image_stack_test.py
Due: check-licenses, pyright

fixup! Improve method docstrings in recon window and io testing
  mantidimaging/core/data/test/image_stack_test.py
Due: check-licenses, pyright

Add method for creating a Geometry object from an existing CIL AcquisitionGeometry object
  mantidimaging/core/data/imagestack.py
Due: check-licenses, pyright

Rename logger to LOG in nexus_load_dialog for consistency
  mantidimaging/gui/windows/nexus_load_dialog/presenter.py
  mantidimaging/gui/windows/nexus_load_dialog/test/presenter_test.py
Due: check-licenses, pyright

Add ability to load Geometry from Nexus files if in CIL format
  mantidimaging/gui/windows/nexus_load_dialog/presenter.py
Due: check-licenses, pyright

Add basic 3D viewer tests
  docs/release_notes/next/feat-2915-add_3D_viewer_screenshot_tests
  mantidimaging/eyes_tests/mi_3d_viewer_test.py
  mantidimaging/gui/windows/viewer_3d/presenter.py
  mantidimaging/test_helpers/unit_test_helper.py
Due: check-licenses, check-release-notes-format, pyright

Add QApplication setup in MI3DViewerTest for GUI testing
  mantidimaging/eyes_tests/mi_3d_viewer_test.py
Due: check-licenses, pyright

undo changes
  mantidimaging/eyes_tests/mi_3d_viewer_test.py
Due: check-licenses, pyright

Fix copy rights
  mantidimaging/eyes_tests/mi_3d_viewer_test.py
Due: check-licenses, pyright

Skip 3D viewer tests on Windows CI due to headless OpenGL limitations
  mantidimaging/eyes_tests/mi_3d_viewer_test.py
Due: check-licenses, pyright

Skip 3D viewer tests on all CI platforms due to headless OpenGL limitations
  mantidimaging/eyes_tests/mi_3d_viewer_test.py
Due: check-licenses, pyright

Path conditions:
  check-licenses: any of: \.py$
  check-release-notes-format: any of: ^docs/release_notes/next/
  pyright: any of: \.py$
