Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: end-of-file-fixer
        types: [python]
-   repo: https://github.com/google/yapf
    rev: v0.43.0
    hooks:
    -   id: yapf
-   repo: local
    hooks:
    -   id: check-licenses
        name: Check Licenses
        description: Checks that all files have correct copyright licenses
        entry: python -m CheckLicensesInFiles
        language: python
        types: [python]
-   repo: local
    hooks:
    -   id: check-release-notes-format
        name: Check Release Notes Format
        description: Validate release note filename and contents format before commit
        entry: python  -m CheckReleaseNoteFormat
        language: python
        files: ^docs/release_notes/next/
        additional_dependencies: [requests]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.17.1'
    hooks:
    -   id: mypy
        files: ^mantidimaging/
        args: [--ignore-missing-imports]
        additional_dependencies: [types-docutils, types-PyYAML, types-requests]
-   repo: local
    hooks:
    -   id: pyright
        name: pyright
        description: Checks that all files pass pyright checks
        entry: pyright
        language: system
        types: [python]
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.3
    hooks:
    -   id: ruff

Initial Pixi Migration
  .gitattributes
  pixi.lock
  pixi.toml
Due: none

Windows Compatability
  pixi.lock
  pixi.toml
Due: none

Final Cleanup and Revisioning of Pixi Configuration
  pixi.lock
  pixi.toml
Due: none

Update tomopy from 1.12.2 to 1.15.2
  conda/meta.yaml
Due: none

Add Ada intro and update environment activation docs
  docs/developer_docs/tutorials/started_ada.rst
Due: none

fix and range checkboxes are added with methods FittingParamFormWidget to hide and show relevant fields
  mantidimaging/gui/widgets/spectrum_widgets/fitting_param_form_widget.py
Due: check-licenses, pyright

fixed parameters are passed to the fitting_engine from the initial values in the fitting_param_form_widget
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

Update documentation
  release_notes/next.html
  searchindex.js
Due: none

connecting GUI to the fitting engine to set parameter bounds
  mantidimaging/core/fitting/fitting_engine.py
  mantidimaging/gui/widgets/spectrum_widgets/fitting_param_form_widget.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

refine BoundType to simplier expression
  mantidimaging/gui/widgets/spectrum_widgets/fitting_param_form_widget.py
Due: check-licenses, pyright

Update documentation
  _sources/developer_docs/tutorials/index.rst.txt
  _sources/developer_docs/tutorials/started_ada.rst.txt
  developer_docs/explanations/conda_packaging_and_docker_image.html
  developer_docs/explanations/developer_conventions.html
  developer_docs/explanations/index.html
  developer_docs/how-to-guides/command.html
  developer_docs/how-to-guides/debugging.html
  developer_docs/how-to-guides/index.html
  developer_docs/how-to-guides/release.html
  developer_docs/how-to-guides/testing.html
  developer_docs/index.html
  developer_docs/reference/index.html
  developer_docs/tutorials/index.html
  developer_docs/tutorials/started.html
  developer_docs/tutorials/started_ada.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

yapf fixes
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

Release Note
  docs/release_notes/next/feature-2844-spectrum-fitting-bounds
Due: check-release-notes-format

Update documentation
  _modules/mantidimaging/core/fitting/fitting_engine.html
  _modules/mantidimaging/core/operations/flat_fielding/flat_fielding.html
  _modules/mantidimaging/core/operations/rescale/rescale.html
  _modules/mantidimaging/gui/widgets/spectrum_widgets/fitting_param_form_widget.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/presenter.html
  api/mantidimaging.gui.widgets.spectrum_widgets.fitting_param_form_widget.html
  api/mantidimaging.gui.widgets.spectrum_widgets.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

AsyncTaskDialogPresenterTest: fix happy case, add error case
  mantidimaging/gui/dialogs/async_task/test/presenter_test.py
Due: check-licenses, pyright

Spectrum Viewer normaliseStackSelector is now configured first
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

release note
  docs/release_notes/next/fix-2920-spectrum-norm-stack-initial
Due: check-release-notes-format

Update documentation
  _modules/mantidimaging/core/data/imagestack.html
Due: none

Update GUI tests to account for ImageStack no longer holding Geometry
  mantidimaging/core/data/imagestack.py
  mantidimaging/eyes_tests/operations_window_test.py
  mantidimaging/eyes_tests/reconstruct_window_test.py
  mantidimaging/gui/test/gui_system_base.py
  mantidimaging/gui/test/gui_system_loading_test.py
Due: check-licenses, pyright

Add release note (#2614)
  docs/release_notes/next/dev-2614-refactor-projection-angles
Due: check-release-notes-format

Improve method docstrings in recon window and io testing
  mantidimaging/core/io/test/io_test.py
  mantidimaging/core/reconstruct/cil_recon.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

add comment to explain checks made for FittingDisplayWidget.set_default_region_if_needed
  mantidimaging/gui/widgets/spectrum_widgets/fitting_display_widget.py
Due: check-licenses, pyright

requested changes
  mantidimaging/gui/widgets/spectrum_widgets/fitting_display_widget.py
Due: check-licenses, pyright

we now find areas of rois to the left, right, and above the sample and set the one with the biggest area as default in roi normalisation operation
  mantidimaging/gui/windows/operations/presenter.py
Due: check-licenses, pyright

release note
  docs/release_notes/next/feature-2892-auto-air-region
Due: check-release-notes-format

suggested changes
  mantidimaging/gui/windows/operations/presenter.py
Due: check-licenses, pyright

upgrade packages to ccpi-regulariser=25.0.* and numexpr=2.10.*
  conda/meta.yaml
Due: none

cilacc.so is added through pyinstaller.utils.hooks.collect_dynamic_libs
  packaging/PackageWithPyInstaller.py
Due: check-licenses, pyright

add vktmodules add a submodule via --collect-submodules flag
  packaging/PackageWithPyInstaller.py
Due: check-licenses, pyright

remove matplotlib from excluded modules
  packaging/PackageWithPyInstaller.py
Due: check-licenses, pyright

release note
  docs/release_notes/next/dev-2896-pyinstaller-fixes
Due: check-release-notes-format

release notes
  docs/release_notes/next/dev-2885-update-ccpi-regulariser
Due: check-release-notes-format

Update documentation
  _modules/mantidimaging/gui/windows/operations/presenter.html
  api/mantidimaging.gui.windows.operations.html
  api/mantidimaging.gui.windows.operations.presenter.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

Update to Ignore Files Generated by Pixi
  .gitignore
Due: none

Initial Pixi Migration
  .gitattributes
  .gitignore
  pixi.toml
Due: none

Windows Compatability
  pixi.toml
Due: none

Set run-post-link-scripts to insecure for GSettings to correctly compile schema files
  .pixi/config.toml
Due: none

Add dev environment to mypy and pyright checks, disable pyright reportMissingImports rule
  pixi.toml
  pyproject.toml
Due: none

Re-organise Tasks and Update Format in-line with Pixi 0.59
  pixi.toml
Due: none
