Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

check-licenses:
  name: Check Licenses
  description: Checks that all files have correct copyright licenses
  entry: python -m CheckLicensesInFiles
  language: python

check-release-notes-format:
  name: Check Release Notes Format
  description: Validate release note filename and contents format before commit
  entry: python  -m CheckReleaseNoteFormat
  language: python
  additional_dependencies:
  - requests

pyright:
  name: pyright
  description: Checks that all files pass pyright checks
  entry: pyright
  language: system

add default-channels for building the recipe
  conda/recipe_config.toml
Due: none

replace conda mambabuild with rattler-build
  .github/actions/publish-package/action.yml
  Makefile
  pixi.toml
Due: none

Overwrite existing packages during upload
  .github/actions/publish-package/action.yml
  Makefile
  pixi.toml
Due: none

Add VSCode specific IDE documentation
  docs/developer_docs/tutorials/index.rst
  docs/developer_docs/tutorials/started.rst
  docs/developer_docs/tutorials/vsc_setup.rst
  docs/release_notes/next/dev-2598-Add_VSCode_specific_documentation
Due: check-release-notes-format

Update debugger config with unit test setup
  docs/developer_docs/tutorials/vsc_setup.rst
Due: none

Update documentation to follow Diataxis workflow
  docs/developer_docs/tutorials/vsc_setup.rst
Due: none

Add gifs to support documentation
  docs/_static/gifs/enable_auto_save.gif
  docs/_static/gifs/enable_auto_save_dark.gif
  docs/_static/gifs/enable_auto_save_light.gif
  docs/_static/gifs/enable_test_run_dark.gif
  docs/_static/gifs/enable_test_run_light.gif
  docs/_static/gifs/run_eyes_test_dark.gif
  docs/_static/gifs/run_eyes_test_light.gif
  docs/_static/gifs/select_python_interpreter_dark.gif
  docs/_static/gifs/select_python_interpreter_light.gif
  docs/developer_docs/tutorials/vsc_setup.rst
Due: none

Delete docs/_static/gifs/enable_auto_save.gif
  docs/_static/gifs/enable_auto_save.gif
Due: none

split the vscode documentation into related areas, updated the debugging docs and gifs accordingly
  docs/_static/gifs/configure_test_run_dark.gif
  docs/_static/gifs/configure_test_run_light.gif
  docs/_static/gifs/debug_eyes_test_dark.gif
  docs/_static/gifs/debug_eyes_test_light.gif
  docs/_static/gifs/enable_test_run_dark.gif
  docs/_static/gifs/enable_test_run_light.gif
  docs/_static/gifs/run_eyes_test_dark.gif
  docs/_static/gifs/run_eyes_test_light.gif
  docs/developer_docs/how-to-guides/debugging.rst
  docs/developer_docs/how-to-guides/index.rst
  docs/developer_docs/how-to-guides/vsc_setup.rst
  docs/developer_docs/reference/index.rst
  docs/developer_docs/reference/vsc_extensions.rst
  docs/developer_docs/tutorials/index.rst
Due: none

Add instruction on disabling auto save and commands for relevant OS and specify code blocks
  docs/_static/gifs/disable_auto_format_dark.gif
  docs/_static/gifs/disable_auto_format_light.gif
  docs/developer_docs/how-to-guides/vsc_setup.rst
Due: none

Refactor SPDHG reconstruction to use a sampler instead of the deprecated `prob` argument.
  docs/release_notes/next/dev-3174-SPDHG_sampler_for_deprecated_prob
  mantidimaging/core/reconstruct/cil_recon.py
Due: check-licenses, check-release-notes-format, pyright

Test CoR ScatterPlot Behaviour
  mantidimaging/gui/windows/recon/test/view_test.py
Due: check-licenses, pyright

Highlight Mapped CoR Spot for CoR Table Row
  mantidimaging/gui/windows/recon/image_view.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Make Cor Spots Selectable
  mantidimaging/gui/windows/recon/image_view.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Release Notes
  docs/release_notes/next/fix-3158-resolve_inflated_cor_refinement_and_plot_cor_values
Due: check-release-notes-format

Update documentation
  _images/CIL_PDHG-TV_dark.png
  _images/CIL_PDHG-TV_light.png
  _images/FBP_CUDA_dark.png
  _images/FBP_CUDA_light.png
  _images/SIRT_CUDA_dark.png
  _images/SIRT_CUDA_light.png
  _images/gridrec_dark.png
  _images/gridrec_light.png
  _sources/user_docs/explanations/reconstructions/algorithms.rst.txt
  _static/CIL_PDHG-TV_dark.png
  _static/CIL_PDHG-TV_light.png
  _static/FBP_CUDA_dark.png
  _static/FBP_CUDA_light.png
  _static/SIRT_CUDA_dark.png
  _static/SIRT_CUDA_light.png
  _static/gridrec_dark.png
  _static/gridrec_light.png
  release_notes/next.html
  searchindex.js
  user_docs/explanations/reconstructions/algorithms.html
Due: none

Update documentation
  _modules/mantidimaging/gui/windows/geometry/view.html
Due: none

Improve SumIntensitiesFilter docstrings to enhance user understanding
  mantidimaging/core/operations/sum_stack_intensities/sum_intensities.py
Due: check-licenses, pyright

remove try from test
  docs/release_notes/next/feature-3080-System-tests-for-Spectrum-Viewer-Fitting
  mantidimaging/gui/test/gui_system_spectrum_test.py
Due: check-licenses, check-release-notes-format, pyright

Update documentation
  _modules/mantidimaging/core/operations/sum_stack_intensities/sum_intensities.html
  api/mantidimaging.core.operations.sum_stack_intensities.sum_intensities.html
  searchindex.js
  user_docs/explanations/operations/index.html
Due: none

Update documentation
  _modules/mantidimaging/core/reconstruct/cil_recon.html
  release_notes/next.html
  searchindex.js
Due: none

implement polymorphic on_stack_changed hook and refactor existing code to use it
  mantidimaging/core/operations/base_filter.py
  mantidimaging/core/operations/crop_coords/crop_coords.py
  mantidimaging/gui/windows/operations/presenter.py
Due: check-licenses, pyright

Add release notes
  docs/release_notes/next/dev-3152-polymorphic_stack_hook
Due: check-release-notes-format

add test for on_stack_changed hook in presenter and in crop coords for ROI update, no widget or no stack cases
  mantidimaging/core/operations/crop_coords/test/crop_coords_test.py
  mantidimaging/gui/windows/operations/test/presenter_test.py
Due: check-licenses, pyright

add test for on_stack_changed hook in presenter and in crop coords for ROI update, no widget or no stack cases
  mantidimaging/core/operations/crop_coords/test/crop_coords_test.py
  mantidimaging/gui/windows/operations/presenter.py
  mantidimaging/gui/windows/operations/test/presenter_test.py
Due: check-licenses, pyright

Update license version and remove build section in recipe, remove channels and update installing build requirements in Makefile
  Makefile
  conda/recipe.yaml
Due: none

rename windows package script to be accessible by the recipe, add echos to scripts and remove script section from the recipe
  conda/build.bat
  conda/build.sh
  conda/recipe.yaml
Due: none

add release notes
  docs/release_notes/next/feature-3136-migrate_to_rattler-build
  docs/release_notes/next/fix-3182-fix_version_mismatch_between_generated_recipe_and_gui
Due: check-release-notes-format

Update documentation
  release_notes/next.html
  searchindex.js
Due: none

add feature dev tasks for checking license, release notes format and enable pre commit hooks to use pixi
  .pre-commit-config.yaml
  pixi.toml
Due: none

add pixi setup-pre-commit task that runs pre-commit install
  pixi.toml
Due: none

update documentation and add release notes
  .pre-commit-config.yaml
  docs/developer_docs/how-to-guides/testing.rst
  docs/release_notes/next/dev-2967-enable-pre_commit_hooks_to_use_pixi
Due: check-release-notes-format

System tests for Spectrum Viewer Fitting
  docs/release_notes/next/feature-3080-System-tests-for-Spectrum-Viewer-Fitting
  mantidimaging/gui/test/gui_system_spectrum_test.py
Due: check-licenses, check-release-notes-format, pyright

feat(recon): add SIRT non-negativity constraint
  docs/release_notes/next/feature-3144-add-sirt-non-negativity-constraint
  mantidimaging/core/reconstruct/astra_recon.py
  mantidimaging/core/reconstruct/test/astra_recon_test.py
  mantidimaging/gui/windows/recon/test/presenter_test.py
Due: check-licenses, check-release-notes-format, pyright

dev-3186: add PyCharm IDE setup docs for contributors
  docs/developer_docs/how-to-guides/index.rst
  docs/developer_docs/how-to-guides/pycharm_setup.rst
  docs/developer_docs/reference/index.rst
  docs/developer_docs/reference/pycharm_plugins.rst
  docs/release_notes/next/dev-3186-Create_Developer_IDE_Environment_Setup_Documentation_for_PyCharm
Due: check-release-notes-format

add creating environment with pixi, run linting tasks defined in pixi.toml and comment out conda-based workflow steps
  .github/workflows/conda.yml
Due: none

Update CoR ScatterPlot values on DataChange
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Path conditions:
  check-licenses: any of: \.py$
  check-release-notes-format: any of: ^docs/release_notes/next/
  pyright: any of: \.py$
