Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: end-of-file-fixer
        types: [python]
  - repo: https://github.com/google/yapf
    rev: v0.43.0
    hooks:
      - id: yapf
  - repo: local
    hooks:
      - id: check-licenses
        name: Check Licenses
        description: Checks that all files have correct copyright licenses
        entry: python -m CheckLicensesInFiles
        language: python
        types: [python]
  - repo: local
    hooks:
      - id: check-release-notes-format
        name: Check Release Notes Format
        description: Validate release note filename and contents format before commit
        entry: python  -m CheckReleaseNoteFormat
        language: python
        files: ^docs/release_notes/next/
        additional_dependencies: [requests]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.17.1"
    hooks:
      - id: mypy
        files: ^mantidimaging/
        args: [--ignore-missing-imports]
        additional_dependencies: [types-docutils, types-PyYAML, types-requests]
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        description: Checks that all files pass pyright checks
        entry: pyright
        language: system
        types: [python]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.3
    hooks:
      - id: ruff
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        files: \.(json|ya?ml)$
        exclude: ^conda/

Add release notes for removing maximum projection angle field
  docs/release_notes/next/dev-1851-Remove_maximum_projection_angle_field
Due: check-release-notes-format

Add release notes for updating ruff version to match that of pixi.toml
  docs/release_notes/next/dev-3111-precommit-ruff-version
Due: check-release-notes-format

Add release notes for system tests crashes
  docs/release_notes/next/fix-2926-headless_system_test
Due: check-release-notes-format

Add release notes for IndexError with datasets containing no NaNs
  docs/release_notes/next/fix-3127-spectum_view_NAN_index_error
Due: check-release-notes-format

Fix docs publish empty commit on release branches
  docs/release_notes/next/fix-2757-docs-release-publish-empty-commit
Due: check-release-notes-format

Remove maximum projection angle field references from the code base
  mantidimaging/core/utility/data_containers.py
  mantidimaging/gui/ui/recon_window.ui
  mantidimaging/gui/windows/recon/test/view_test.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

remove unused property
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Update documentation
  release_notes/next.html
  searchindex.js
Due: none

Fix stale crop ROI after stack change and add test
  mantidimaging/gui/windows/operations/presenter.py
  mantidimaging/gui/windows/operations/test/presenter_test.py
Due: check-licenses, pyright

Add release notes
  docs/release_notes/next/fix-3115-Fix_rescale_and_autocrop_in_crop_coordinates_operation
Due: check-release-notes-format

Add test for set_stack calling init_roi_field when CROP_COORDINATES filter is selected
  mantidimaging/gui/windows/operations/test/presenter_test.py
Due: check-licenses, pyright

Simplify crop coordinates ROI initialisation test
  mantidimaging/gui/windows/operations/test/presenter_test.py
Due: check-licenses, pyright

fix: handle IndexError in averaged image toggle
  mantidimaging/gui/widgets/mi_image_view/view.py
Due: check-licenses, pyright

release note
  docs/release_notes/next/fix-3116-Main-Window-Toggle-Averaged-Image
Due: check-release-notes-format

Prevent IndexError in spectrum viewer when dataset contains no NaNs
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

Handles missing-NaN cases safely, fixes indexing issues, and removes ambiguous -1 defaults.
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

pre-commit: use same ruff version as pixi.toml
  .pre-commit-config.yaml
Due: none

Fix headless system-test matplotlib backend
  conftest.py
  mantidimaging/gui/windows/geometry/view.py
Due: check-licenses, pyright

Fix CoR Inflation by Backcalculating CoR for Slice Index
  mantidimaging/core/data/geometry.py
  mantidimaging/gui/dialogs/cor_inspection/model.py
Due: check-licenses, pyright

Test CoR Inflation Resolved
  mantidimaging/core/data/test/geometry_test.py
  mantidimaging/gui/dialogs/cor_inspection/test/model_test.py
Due: check-licenses, pyright

Allow CoR Refinment Window Resizing
  mantidimaging/gui/dialogs/cor_inspection/view.py
Due: check-licenses, pyright

Create Scatterplot Item to Plot CoR
  mantidimaging/gui/windows/recon/image_view.py
Due: check-licenses, pyright

Update CoR ScatterPlot values on DataChange
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Test CoR ScatterPlot Behaviour
  mantidimaging/gui/windows/recon/test/view_test.py
Due: check-licenses, pyright

Highlight Mapped CoR Spot for CoR Table Row
  mantidimaging/gui/windows/recon/image_view.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Make Cor Spots Selectable
  mantidimaging/core/rotation/data_model.py
  mantidimaging/gui/windows/recon/image_view.py
  mantidimaging/gui/windows/recon/test/view_test.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Reset Geometry Values on Preview Exit
  mantidimaging/gui/dialogs/cor_inspection/model.py
  mantidimaging/gui/dialogs/cor_inspection/test/model_test.py
Due: check-licenses, pyright

Check length of np arrays is not 0
  mantidimaging/gui/windows/recon/image_view.py
Due: check-licenses, pyright
