Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: end-of-file-fixer
        types: [python]
  - repo: https://github.com/google/yapf
    rev: v0.43.0
    hooks:
      - id: yapf
  - repo: local
    hooks:
      - id: check-licenses
        name: Check Licenses
        description: Checks that all files have correct copyright licenses
        entry: python -m CheckLicensesInFiles
        language: python
        types: [python]
  - repo: local
    hooks:
      - id: check-release-notes-format
        name: Check Release Notes Format
        description: Validate release note filename and contents format before commit
        entry: python  -m CheckReleaseNoteFormat
        language: python
        files: ^docs/release_notes/next/
        additional_dependencies: [requests]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.17.1"
    hooks:
      - id: mypy
        files: ^mantidimaging/
        args: [--ignore-missing-imports]
        additional_dependencies: [types-docutils, types-PyYAML, types-requests]
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        description: Checks that all files pass pyright checks
        entry: pyright
        language: system
        types: [python]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.3
    hooks:
      - id: ruff
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        files: \.(json|ya?ml)$
        exclude: ^conda/

Test Pixel Overwrite
  mantidimaging/gui/windows/main/test/presenter_test.py
Due: check-licenses, pyright

add release notes
  docs/release_notes/next/dev-3242-migrate_docker_workflows_from_conda_mamba_to_pixi
Due: check-release-notes-format

Remove ubuntu env, prettier tasks & add task args
  .github/workflows/rocky_testing.yml
  .github/workflows/u18_testing.yml
  pixi.toml
Due: none

Notify Update Image if Timer Not Active
  mantidimaging/gui/windows/live_viewer/presenter.py
Due: check-licenses, pyright

Avoid Overlapping Threads Improve Cleanup
  mantidimaging/gui/windows/live_viewer/presenter.py
Due: check-licenses, pyright

add listing versions, run json and yaml directly with pixi and remove their tasks from pixi config
  .github/workflows/rocky_testing.yml
  .github/workflows/u18_testing.yml
  pixi.toml
Due: none

Optimise Intensity Recalculation
  mantidimaging/gui/windows/live_viewer/presenter.py
Due: check-licenses, pyright

Handle Worker Shutdown
  mantidimaging/gui/windows/live_viewer/presenter.py
Due: check-licenses, pyright

Update documentation
  _sources/developer_docs/how-to-guides/debugging.rst.txt
  _sources/developer_docs/how-to-guides/index.rst.txt
  _sources/developer_docs/how-to-guides/pycharm_setup.rst.txt
  _sources/developer_docs/reference/index.rst.txt
  _sources/developer_docs/reference/pycharm_plugins.rst.txt
  developer_docs/explanations/conda_packaging_and_docker_image.html
  developer_docs/explanations/developer_conventions.html
  developer_docs/explanations/documentation.html
  developer_docs/explanations/index.html
  developer_docs/how-to-guides/command.html
  developer_docs/how-to-guides/debugging.html
  developer_docs/how-to-guides/index.html
  developer_docs/how-to-guides/pycharm_setup.html
  developer_docs/how-to-guides/testing.html
  developer_docs/how-to-guides/vsc_setup.html
  developer_docs/index.html
  developer_docs/reference/index.html
  developer_docs/reference/pycharm_plugins.html
  developer_docs/reference/vsc_extensions.html
  developer_docs/tutorials/index.html
  developer_docs/tutorials/started.html
  developer_docs/tutorials/started_ada.html
  objects.inv
  release_notes/index.html
  release_notes/next.html
  searchindex.js
Due: none

Update documentation
  _modules/mantidimaging/gui/dialogs/async_task/view.html
  release_notes/next.html
  searchindex.js
Due: none

CILRecon.single_sino now checks for a cone geometry with a zero source position before building the acquisition geometry.
  mantidimaging/core/reconstruct/cil_recon.py
Due: check-licenses, pyright

allow ruff task to accept optional args
  .github/workflows/u18_testing.yml
  pixi.toml
Due: none

Update documentation
  _modules/mantidimaging/core/reconstruct/cil_recon.html
  _modules/mantidimaging/gui/windows/recon/view.html
  api/mantidimaging.gui.windows.recon.view.html
  release_notes/next.html
  searchindex.js
Due: none

Remove directory args
  .github/workflows/u18_testing.yml
Due: none

Remove directory args
  .github/workflows/rocky_testing.yml
Due: none
