Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

check-licenses:
  name: Check Licenses
  description: Checks that all files have correct copyright licenses
  entry: python -m CheckLicensesInFiles
  language: python

check-release-notes-format:
  name: Check Release Notes Format
  description: Validate release note filename and contents format before commit
  entry: python  -m CheckReleaseNoteFormat
  language: python
  additional_dependencies:
  - requests

pyright:
  name: pyright
  description: Checks that all files pass pyright checks
  entry: pyright
  language: system

Create stack_rename_dialog window GUI
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/stack_rename_dialog/__init__.py
  mantidimaging/gui/windows/stack_rename_dialog/presenter.py
  mantidimaging/gui/windows/stack_rename_dialog/test/__init__.py
  mantidimaging/gui/windows/stack_rename_dialog/view.py
Due: check-licenses, pyright

StackRenameDialog view test
  mantidimaging/gui/windows/stack_rename_dialog/test/view_test.py
Due: check-licenses, pyright

StackRenameDialog accepts Datasets and Imagestacks and renames them across MI
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/stack_rename_dialog/presenter.py
  mantidimaging/gui/windows/stack_rename_dialog/view.py
Due: check-licenses, pyright

StackRenamePresenter tests
  mantidimaging/gui/windows/stack_rename_dialog/test/presenter_test.py
  mantidimaging/gui/windows/stack_rename_dialog/test/view_test.py
Due: check-licenses, pyright

release notes
  docs/release_notes/next/feature-2978-rename-stacks
Due: check-release-notes-format

Introduce FittingParamFormWidget
  mantidimaging/gui/ui/spectrum_viewer.ui
  mantidimaging/gui/windows/spectrum_viewer/fitting_form.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Get binning info when fitting tab selected
  mantidimaging/gui/widgets/spectrum_widgets/roi_form_widget.py
  mantidimaging/gui/windows/spectrum_viewer/fitting_form.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Pass the ROIBinner to save_rits_images
  mantidimaging/gui/test/gui_system_spectrum_test.py
  mantidimaging/gui/windows/spectrum_viewer/model.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/test/model_test.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Update fitting ROIs on tab switch
  mantidimaging/gui/windows/spectrum_viewer/fitting_form.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Create similarly sized images for each view within Mantid Imaging in light and dark modes
  docs/_static/carousel/geometry_dark.jpg
  docs/_static/carousel/geometry_light.jpg
  docs/_static/carousel/main_dark.jpg
  docs/_static/carousel/main_light.jpg
  docs/_static/carousel/operations_remove_outliers_dark.jpg
  docs/_static/carousel/operations_remove_outliers_light.jpg
  docs/_static/carousel/recon_dark.jpg
  docs/_static/carousel/recon_light.jpg
  docs/_static/carousel/recon_residuals_dark.jpg
  docs/_static/carousel/recon_residuals_light.jpg
  docs/_static/carousel/spectrum_viewer_dark.jpg
  docs/_static/carousel/spectrum_viewer_light.jpg
Due: none

Add Theme Switcher to improve accessibility
  docs/conf.py
Due: check-licenses, pyright

Configure loading of Bootstrap 5 JS drom CDN into docs to enable interactivity with carousel
  docs/conf.py
Due: check-licenses, pyright

Create carousel and add it to index in replacement of static image content
  docs/_templates/carousel.html
  docs/index.rst
Due: none

Create serve docs task
  pixi.toml
Due: none

Release Notes
  docs/release_notes/next/fix-2973-add_carousel_to_docs
Due: check-release-notes-format

Cancel button added to StackRenameDialog
  mantidimaging/gui/windows/stack_rename_dialog/presenter.py
  mantidimaging/gui/windows/stack_rename_dialog/view.py
Due: check-licenses, pyright

New stack name cannot be empty
  mantidimaging/gui/windows/stack_rename_dialog/presenter.py
  mantidimaging/gui/windows/stack_rename_dialog/view.py
Due: check-licenses, pyright

suggested changes
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/stack_rename_dialog/presenter.py
Due: check-licenses, pyright

include *.csv log schema and GRtomo related files
  mantidimaging/core/io/filenames.py
  mantidimaging/gui/windows/image_load_dialog/presenter.py
Due: check-licenses, pyright

upgrade packages to ccpi-regulariser=25.0.* and numexpr=2.10.*
  conda/meta.yaml
Due: none

release notes
  docs/release_notes/next/dev-2885-update-ccpi-regulariser
Due: check-release-notes-format

update ccpi-regulariser-25.0.* and numexpr=2.10.*
  pixi.toml
Due: none

Remove unused functions
  mantidimaging/gui/widgets/spectrum_widgets/fitting_display_widget.py
  mantidimaging/gui/widgets/spectrum_widgets/fitting_param_form_widget.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Move setting the fitting spectrum in to FittingParamFormWidget
  mantidimaging/gui/windows/spectrum_viewer/fitting_form.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Explicitly clear ImageStack shared array during cleanup to avoid misleading warnings
  docs/release_notes/next/fix-2993-Geometry-Warnin-when-closing
  mantidimaging/core/data/imagestack.py
  mantidimaging/gui/windows/main/view.py
Due: check-licenses, check-release-notes-format, pyright

removed from uuid import UUID
  mantidimaging/gui/windows/main/view.py
Due: check-licenses, pyright

Remove the raise RuntimeError
  mantidimaging/core/data/imagestack.py
Due: check-licenses, pyright

fix formatting
  mantidimaging/test_helpers/unit_test_helper.py
Due: check-licenses, pyright

Add basic 3D viewer tests
  docs/release_notes/next/feat-2915-add_3D_viewer_screenshot_tests
  mantidimaging/eyes_tests/mi_3d_viewer_test.py
  mantidimaging/gui/windows/viewer_3d/presenter.py
  mantidimaging/test_helpers/unit_test_helper.py
Due: check-licenses, check-release-notes-format, pyright

Add QApplication setup in MI3DViewerTest for GUI testing
  mantidimaging/eyes_tests/mi_3d_viewer_test.py
Due: check-licenses, pyright

undo changes
  mantidimaging/eyes_tests/mi_3d_viewer_test.py
Due: check-licenses, pyright

Path conditions:
  check-licenses: any of: \.py$
  check-release-notes-format: any of: ^docs/release_notes/next/
  pyright: any of: \.py$
