Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

check-licenses:
  name: Check Licenses
  description: Checks that all files have correct copyright licenses
  entry: python -m CheckLicensesInFiles
  language: python

check-release-notes-format:
  name: Check Release Notes Format
  description: Validate release note filename and contents format before commit
  entry: python  -m CheckReleaseNoteFormat
  language: python
  additional_dependencies:
  - requests

pyright:
  name: pyright
  description: Checks that all files pass pyright checks
  entry: pyright
  language: system

Added unit tests test_append_stacks_ordered_no_log_files, test_append_stacks_not_ordered_with_log_files, test_append_stacks_ordered_with_log_files_missing_angles
  mantidimaging/core/operations/append_stacks/test/__init__.py
  mantidimaging/core/operations/append_stacks/test/append_stack_test.py
Due: check-licenses, pyright

Update documentation
  _modules/index.html
  _modules/mantidimaging/gui/windows/main/presenter.html
  _modules/mantidimaging/gui/windows/main/view.html
  _modules/mantidimaging/gui/windows/stack_rename_dialog/presenter.html
  _modules/mantidimaging/gui/windows/stack_rename_dialog/view.html
  _sources/api/mantidimaging.gui.windows.rst.txt
  _sources/api/mantidimaging.gui.windows.stack_rename_dialog.presenter.rst.txt
  _sources/api/mantidimaging.gui.windows.stack_rename_dialog.rst.txt
  _sources/api/mantidimaging.gui.windows.stack_rename_dialog.view.rst.txt
  api/mantidimaging.gui.html
  api/mantidimaging.gui.windows.html
  api/mantidimaging.gui.windows.main.html
  api/mantidimaging.gui.windows.main.presenter.html
  api/mantidimaging.gui.windows.main.view.html
  api/mantidimaging.gui.windows.stack_properties_dialog.view.html
  api/mantidimaging.gui.windows.stack_rename_dialog.html
  api/mantidimaging.gui.windows.stack_rename_dialog.presenter.html
  api/mantidimaging.gui.windows.stack_rename_dialog.view.html
  api/mantidimaging.gui.windows.stack_visualiser.html
  genindex.html
  objects.inv
  py-modindex.html
  searchindex.js
Due: none

release note
  docs/release_notes/next/feature-3016-Delete-Geometry
Due: check-release-notes-format

release note
  docs/release_notes/next/feature-3015-CoR-and-Iteration-Refinement-Cancel-Button
Due: check-release-notes-format

release note
  docs/release_notes/next/feature-2989-Enable-CoR-after-late-angle-load
Due: check-release-notes-format

Add Append Stacks operation to the GUI Systems tests
  mantidimaging/gui/test/gui_system_operations_test.py
Due: check-licenses, pyright

Remove all legacy 180° stack (proj180deg) support
  mantidimaging/core/data/dataset.py
  mantidimaging/core/data/imagestack.py
  mantidimaging/core/data/test/dataset_test.py
  mantidimaging/core/data/test/image_stack_test.py
  mantidimaging/core/io/loader/loader.py
  mantidimaging/core/io/loader/test/loader_test.py
  mantidimaging/core/rotation/polyfit_correlation.py
  mantidimaging/core/rotation/test/polyfit_correlation_test.py
  mantidimaging/eyes_tests/base_eyes.py
  mantidimaging/gui/test/gui_system_windows_test.py
  mantidimaging/gui/windows/main/model.py
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/main/test/presenter_test.py
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/operations/presenter.py
  mantidimaging/gui/windows/recon/model.py
  mantidimaging/gui/windows/recon/presenter.py
  mantidimaging/gui/windows/recon/test/presenter_test.py
  mantidimaging/gui/windows/recon/view.py
  mantidimaging/test_helpers/unit_test_helper.py
Due: check-licenses, pyright

Part 1 - Remove all legacy 180° stack support
  mantidimaging/core/io/loader/loader.py
  mantidimaging/core/io/loader/test/loader_test.py
  mantidimaging/gui/windows/recon/model.py
  mantidimaging/gui/windows/recon/presenter.py
  mantidimaging/gui/windows/recon/test/presenter_test.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Add format checker prettier
  .gitattributes
  .github/workflows/u18_testing.yml
  .pre-commit-config.yaml
Due: none

format existing files
  .github/actions/publish-docs/action.yml
  .github/actions/publish-package/action.yml
  .github/actions/test/action.yml
  .github/workflows/build_docker.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/conda.yml
  .github/workflows/docs.yml
  .github/workflows/license_check.yaml
  .github/workflows/pr_to_draft_on_change_request.yml
  .github/workflows/rocky_testing.yml
  .github/workflows/windows.yml
  .licenserc.json
  docs/_static/version_switcher.json
  scripts/operations_tests/test_cases.json
Due: none

Add release notes
  .github/workflows/u18_testing.yml
  docs/release_notes/next/dev-2236-add-format-checkers-for-json-and-yaml-files
Due: check-release-notes-format

Add MainWindowView.on_geometry_deleted() to propagate geometry deletion events
  mantidimaging/gui/windows/main/view.py
Due: check-licenses, pyright

Update documentation
  _static/version_switcher.json
  release_notes/next.html
  searchindex.js
Due: none

add reading cil nexus data
  mantidimaging/gui/windows/nexus_load_dialog/presenter.py
  mantidimaging/gui/windows/nexus_load_dialog/view.py
Due: check-licenses, pyright

Remove presenter-side checks that enforced the presence and shape of a dedicated 180° projection stack, along with their associated unit tests.
  mantidimaging/core/io/loader/loader.py
  mantidimaging/core/io/loader/test/loader_test.py
  mantidimaging/gui/windows/recon/test/presenter_test.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Refactor for better error handling, checking for cil nexus files
  mantidimaging/gui/windows/nexus_load_dialog/presenter.py
Due: check-licenses, pyright

removed irrelevant note
  docs/release_notes/next/feature-2989-Enable-CoR-after-late-angle-load
Due: check-release-notes-format

fixed imports
  mantidimaging/gui/dialogs/cor_inspection/view.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/gui/windows/recon/model.html
  _modules/mantidimaging/gui/windows/recon/presenter.html
  api/mantidimaging.gui.windows.recon.html
  api/mantidimaging.gui.windows.recon.presenter.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

add none checks to fix failing pytests
  mantidimaging/gui/windows/nexus_load_dialog/presenter.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/core/data/imagestack.html
  _modules/mantidimaging/core/operations/append_stacks/append_stacks.html
  _modules/mantidimaging/gui/windows/operations/presenter.html
  api/mantidimaging.core.data.html
  api/mantidimaging.core.data.imagestack.html
  api/mantidimaging.core.operations.append_stacks.append_stacks.html
  api/mantidimaging.core.operations.append_stacks.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

stop enable button
  mantidimaging/gui/windows/recon/presenter.py
Due: check-licenses, pyright

Create New Full Shape Property and Pass with Preview Subset
  mantidimaging/core/data/imagestack.py
  mantidimaging/gui/windows/operations/presenter.py
Due: check-licenses, pyright

Update Tests to include new Sum Stack Intensities Operation
  mantidimaging/core/operations/test/operations_test.py
  mantidimaging/gui/windows/operations/test/model_test.py
Due: check-licenses, pyright

Create Front-End and resolve execute_wrapper signature
  mantidimaging/core/operations/sum_stack_intensities/__init__.py
  mantidimaging/core/operations/sum_stack_intensities/sum_intensities.py
Due: check-licenses, pyright

made suggested changes
  mantidimaging/gui/dialogs/cor_inspection/view.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/gui/dialogs/cor_inspection/view.html
  api/mantidimaging.gui.dialogs.cor_inspection.html
  api/mantidimaging.gui.dialogs.cor_inspection.view.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

Added test_operations_append_stacks_parameters to operations_windows_test
  mantidimaging/eyes_tests/operations_window_test.py
Due: check-licenses, pyright

remove code, keep code in geometry.
  mantidimaging/gui/windows/geometry/presenter.py
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

make suggested changes
  mantidimaging/gui/windows/nexus_load_dialog/presenter.py
Due: check-licenses, pyright

improve error messages, none checks and fix config copy
  mantidimaging/core/data/imagestack.py
  mantidimaging/gui/windows/nexus_load_dialog/presenter.py
Due: check-licenses, pyright

improve file check implementation
  mantidimaging/gui/windows/nexus_load_dialog/presenter.py
Due: check-licenses, pyright

Spectrum Viewer table and image views are only updated within the export tabs
  mantidimaging/gui/windows/spectrum_viewer/fitting_form.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Update SpectrumViewerWindowView clear() to Reset UI States
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Clear Fitting Tab and Handle No Data Edge Case
  mantidimaging/gui/widgets/spectrum_widgets/fitting_display_widget.py
  mantidimaging/gui/windows/spectrum_viewer/fitting_form.py
Due: check-licenses, pyright

Clear states when no stack present on handle_sample_change and update tests
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/test/presenter_test.py
Due: check-licenses, pyright

Release Notes
  docs/release_notes/next/fix-2988-clear-spectrum_viewer_ui_states_on_dataset_deletion
Due: check-release-notes-format

yapf fix
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Path conditions:
  check-licenses: any of: \.py$
  check-release-notes-format: any of: ^docs/release_notes/next/
  pyright: any of: \.py$
