Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

check-licenses:
  name: Check Licenses
  description: Checks that all files have correct copyright licenses
  entry: python -m CheckLicensesInFiles
  language: python

check-release-notes-format:
  name: Check Release Notes Format
  description: Validate release note filename and contents format before commit
  entry: python  -m CheckReleaseNoteFormat
  language: python
  additional_dependencies:
  - requests

pyright:
  name: pyright
  description: Checks that all files pass pyright checks
  entry: pyright
  language: system

bounds are given as integers
  mantidimaging/core/fitting/bounding_box.py
Due: check-licenses, pyright

Operations crop init_roi_field() calls get_bounding_box() to get initial crop ROI
  mantidimaging/gui/windows/operations/presenter.py
Due: check-licenses, pyright

tests modified for cropping init_roi_field
  mantidimaging/gui/windows/operations/test/presenter_test.py
Due: check-licenses, pyright

release note
  docs/release_notes/next/feature-2783-auto-cropping-operations
Due: check-release-notes-format

Embed 3D and stack selector widget in 3D viewer window
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/viewer_3d/presenter.py
  mantidimaging/gui/windows/viewer_3d/view.py
Due: check-licenses, pyright

Add viewer 3d as MainWindowView attribute
  mantidimaging/gui/windows/main/view.py
Due: check-licenses, pyright

remove print message and update code comment
  mantidimaging/gui/windows/viewer_3d/view.py
Due: check-licenses, pyright

add release notes
  docs/release_notes/next/feature-2849-embed_widget_in_3d_viewer_window
Due: check-release-notes-format

Update documentation
  _modules/index.html
  _modules/mantidimaging/core/fitting/bounding_box.html
  _sources/api/mantidimaging.core.fitting.bounding_box.rst.txt
  _sources/api/mantidimaging.core.fitting.rst.txt
  api/mantidimaging.core.fitting.bounding_box.html
  api/mantidimaging.core.fitting.fitting_engine.html
  api/mantidimaging.core.html
  genindex.html
  objects.inv
  py-modindex.html
  searchindex.js
Due: none

Add docstrings and correct function definition
  .vscode/settings.json
  current_render_0000.png
  mantidimaging/gui/windows/viewer_3d/presenter.py
  mantidimaging/gui/windows/viewer_3d/view.py
Due: check-licenses, pyright

undo unrequired file changes
  .vscode/settings.json
  current_render_0000.png
Due: none

Fix VTK init order by deferring widget Initialize with QTimer
  mantidimaging/gui/windows/viewer_3d/view.py
Due: check-licenses, pyright

Update documentation
  _modules/index.html
  _modules/mantidimaging/gui/windows/viewer_3d/presenter.html
  _sources/api/mantidimaging.gui.windows.viewer_3d.presenter.rst.txt
  _sources/api/mantidimaging.gui.windows.viewer_3d.rst.txt
  api/mantidimaging.gui.windows.html
  api/mantidimaging.gui.windows.viewer_3d.html
  api/mantidimaging.gui.windows.viewer_3d.presenter.html
  api/mantidimaging.gui.windows.viewer_3d.view.html
  genindex.html
  objects.inv
  py-modindex.html
  searchindex.js
Due: none

do_adjust_roi checks Spectrum Viewer ExportMode
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

hide the fitting region when x-y data is 1x1
  mantidimaging/gui/widgets/spectrum_widgets/fitting_display_widget.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/core/utility/sensible_roi.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/model.html
  api/mantidimaging.core.utility.html
  api/mantidimaging.core.utility.sensible_roi.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

Collect Imagecodecs Hidden Components
  packaging/PackageWithPyInstaller.py
Due: check-licenses, pyright

Release Notes
  docs/release_notes/next/fix-2870-explicit_import_of_imagecodec_modules
Due: check-release-notes-format

Update documentation
  _modules/mantidimaging/core/data/geometry.html
  _modules/mantidimaging/core/data/imagestack.html
  _modules/mantidimaging/core/reconstruct/cil_recon.html
  _modules/mantidimaging/gui/windows/geometry/presenter.html
  _modules/mantidimaging/gui/windows/main/model.html
  _modules/mantidimaging/gui/windows/nexus_load_dialog/presenter.html
  api/mantidimaging.core.data.geometry.html
  api/mantidimaging.core.data.html
  api/mantidimaging.core.data.imagestack.html
  api/mantidimaging.gui.windows.geometry.html
  api/mantidimaging.gui.windows.geometry.presenter.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

Add new helper methods to Geometry for improved integration with recon algorithms.
  mantidimaging/core/data/geometry.py
Due: check-licenses, pyright

TEMP attempted to remove ImageStack's _projection_angles property but further refactoring is required
  mantidimaging/core/data/imagestack.py
  mantidimaging/core/data/test/dataset_test.py
Due: check-licenses, pyright

TEMP
  mantidimaging/core/data/imagestack.py
Due: check-licenses, pyright

Update reconstruction algorithms to accept an ImageStack and extract CORs and projection angles
  mantidimaging/core/reconstruct/astra_recon.py
  mantidimaging/core/reconstruct/base_recon.py
  mantidimaging/core/reconstruct/cil_recon.py
  mantidimaging/core/reconstruct/tomopy_recon.py
  mantidimaging/core/utility/data_containers.py
  mantidimaging/eyes_tests/base_eyes.py
  mantidimaging/eyes_tests/reconstruct_window_test.py
  mantidimaging/gui/dialogs/cor_inspection/model.py
  mantidimaging/gui/dialogs/cor_inspection/test/model_test.py
  mantidimaging/gui/dialogs/cor_inspection/test/presenter_test.py
  mantidimaging/gui/windows/recon/model.py
  mantidimaging/gui/windows/recon/presenter.py
  mantidimaging/gui/windows/recon/test/model_test.py
  mantidimaging/gui/windows/recon/test/presenter_test.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Add release note (#2485)
  docs/release_notes/next/dev-2485-recon-algos-get-imagestack
Due: check-release-notes-format

PyInstaller: Add imagecodecs to hidden_imports
  packaging/PackageWithPyInstaller.py
Due: check-licenses, pyright

Pin numba to 0.61 to avoid incompatibility with coverage
  environment-dev.yml
  environment.yml
Due: none

Fix bug where the StackVisualiser's angles weren't being updated when new Projection Angles were manually loaded
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/main/test/presenter_test.py
Due: check-licenses, pyright

Fix bug where the StackVisualiser's angles weren't being updated when a new log was manually loaded
  mantidimaging/core/data/imagestack.py
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/main/test/presenter_test.py
Due: check-licenses, pyright

changed overlay threshold value
  mantidimaging/gui/windows/operations/filter_previews.py
Due: check-licenses, pyright

Update release notes for 3.0.1
  docs/release_notes/3.0.rst
Due: none

bounds are passed to fitting_engine.find_best_fit() as a list of tuples
  mantidimaging/core/fitting/fitting_engine.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

fitting_engine tests test_find_best_fit_with_fixed_bounds test_find_best_fit_with_range_bounds
  mantidimaging/core/fitting/fitting_engine.py
  mantidimaging/core/fitting/test/fitting_engine_test.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

additional parameters are included in the minimise function
  mantidimaging/core/fitting/fitting_engine.py
Due: check-licenses, pyright

Path conditions:
  check-licenses: any of: \.py$
  check-release-notes-format: any of: ^docs/release_notes/next/
  pyright: any of: \.py$
