Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: end-of-file-fixer
        types: [python]
-   repo: https://github.com/google/yapf
    rev: v0.43.0
    hooks:
    -   id: yapf
-   repo: local
    hooks:
    -   id: check-licenses
        name: Check Licenses
        description: Checks that all files have correct copyright licenses
        entry: python -m CheckLicensesInFiles
        language: python
        types: [python]
-   repo: local
    hooks:
    -   id: check-release-notes-format
        name: Check Release Notes Format
        description: Validate release note filename and contents format before commit
        entry: python  -m CheckReleaseNoteFormat
        language: python
        files: ^docs/release_notes/next/
        additional_dependencies: [requests]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.17.1'
    hooks:
    -   id: mypy
        files: ^mantidimaging/
        args: [--ignore-missing-imports]
        additional_dependencies: [types-docutils, types-PyYAML, types-requests]
-   repo: local
    hooks:
    -   id: pyright
        name: pyright
        description: Checks that all files pass pyright checks
        entry: pyright
        language: system
        types: [python]
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.3
    hooks:
    -   id: ruff

Remove workflow parts that upload to old conda repo
  .github/actions/publish-package/action.yml
  .github/workflows/conda.yml
  .github/workflows/windows.yml
  docs/release_notes/next/dev-2763-conda-upload
Due: check-release-notes-format

added get_bounding_box to find edges of ImageStack sample within given tolerance
  mantidimaging/core/fitting/bounding_box.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/gui/windows/operations/filter_previews.html
  release_notes/next.html
  searchindex.js
Due: none

allow resetting gui to default layout
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/stack_visualiser/view.py
Due: check-licenses, pyright

reformat code
  mantidimaging/gui/windows/main/view.py
Due: check-licenses, pyright

Add new Geometry window
  mantidimaging/gui/ui/main_window.ui
  mantidimaging/gui/windows/geometry/__init__.py
  mantidimaging/gui/windows/geometry/model.py
  mantidimaging/gui/windows/geometry/presenter.py
  mantidimaging/gui/windows/geometry/view.py
  mantidimaging/gui/windows/main/view.py
Due: check-licenses, pyright

Add tests for Geometry window
  mantidimaging/gui/windows/geometry/test/__init__.py
  mantidimaging/gui/windows/geometry/test/model_test.py
  mantidimaging/gui/windows/geometry/test/presenter_test.py
Due: check-licenses, pyright

Add release note (#2759)
  docs/release_notes/next/feature-2759-new-geometry-window
Due: check-release-notes-format

reportOptionalCall = false flag removed with cleanup of test helpers
  mantidimaging/test_helpers/start_qapplication.py
  pyproject.toml
Due: check-licenses, pyright

Update documentation
  release_notes/next.html
  searchindex.js
Due: none

fixing yapf
  mantidimaging/core/rotation/polyfit_correlation.py
  mantidimaging/core/rotation/test/polyfit_correlation_test.py
Due: check-licenses, pyright

Caching in spectrum viewer refactor
  mantidimaging/gui/windows/spectrum_viewer/model.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

fix yapf error
  mantidimaging/gui/windows/main/view.py
Due: check-licenses, pyright

fix mypy error
  mantidimaging/gui/windows/main/view.py
Due: check-licenses, pyright

use threading Lock() in run_spectrum_calculation
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

pass Presenter attributes to TaskWorkerThread and then use output result to modify attributes during thread cleanup
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

copies of input data are given to the worker thread to prevent modifications of presenter attributes
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

refactor Spectrum Calculator into pre- and post-thread processing
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

pyright fix
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

add reset layout tests
  mantidimaging/gui/windows/main/test/view_test.py
  mantidimaging/gui/windows/main/view.py
Due: check-licenses, pyright

Add Chi² fit quality display to Spectrum Viewer
  mantidimaging/core/fitting/fitting_engine.py
  mantidimaging/gui/widgets/spectrum_widgets/fitting_param_form_widget.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

Refactor correlation logic for flexible 180° projection selection
  mantidimaging/core/rotation/polyfit_correlation.py
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/main/test/presenter_test.py
  mantidimaging/gui/windows/recon/model.py
  mantidimaging/gui/windows/recon/presenter.py
  mantidimaging/gui/windows/recon/test/presenter_test.py
Due: check-licenses, pyright

refactor
  mantidimaging/core/rotation/polyfit_correlation.py
Due: check-licenses, pyright

Refactor correlation logic for flexible 180° projection selection
  mantidimaging/core/rotation/polyfit_correlation.py
  mantidimaging/core/rotation/test/polyfit_correlation_test.py
  mantidimaging/gui/windows/recon/presenter.py
Due: check-licenses, pyright

TEMP: Testing using 3d conebeam geometry with CIL
  mantidimaging/core/data/geometry.py
  mantidimaging/core/reconstruct/cil_recon.py
Due: check-licenses, pyright

Add ccpi-viewer dependency
  conda/meta.yaml
Due: none

bounds are now found by looking at when the gradient exceeds the noise floor
  mantidimaging/core/fitting/bounding_box.py
  mantidimaging/gui/windows/main/presenter.py
Due: check-licenses, pyright

TEMP: Added support for choosing cone 3d in geometry window
  mantidimaging/core/data/geometry.py
  mantidimaging/core/data/imagestack.py
  mantidimaging/core/reconstruct/cil_recon.py
  mantidimaging/gui/windows/geometry/presenter.py
  mantidimaging/gui/windows/geometry/view.py
Due: check-licenses, pyright

Update release notes
  docs/release_notes/next/dev-2846-add_CIL3DViewer_dependency
Due: check-release-notes-format

Add release notes
  docs/release_notes/next/dev-2057-reset_gui_to_default_layout
  docs/release_notes/next/feature-1619-lock_sidebar_for_spectrum_viewer_window
Due: check-release-notes-format

Add Chi² support to fitting export table
  mantidimaging/gui/widgets/spectrum_widgets/export_data_table_widget.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

fixed tests
  mantidimaging/core/fitting/test/fitting_engine_test.py
  mantidimaging/gui/windows/spectrum_viewer/test/presenter_test.py
Due: check-licenses, pyright

fixed tests
  mantidimaging/core/rotation/test/polyfit_correlation_test.py
Due: check-licenses, pyright

Update documentation
  api/mantidimaging.gui.mvp_base.view.html
  api/mantidimaging.gui.widgets.indicator_icon.view.html
  api/mantidimaging.gui.widgets.removable_row_table_view.html
  api/mantidimaging.gui.widgets.roi_selector.view.html
  api/mantidimaging.gui.windows.operations.filter_previews.html
  api/mantidimaging.gui.windows.operations.view.html
  api/mantidimaging.gui.windows.recon.view.html
  api/mantidimaging.gui.windows.spectrum_viewer.spectrum_widget.html
  api/mantidimaging.gui.windows.stack_choice.view.html
  api/mantidimaging.gui.windows.stack_visualiser.view.html
  api/mantidimaging.gui.windows.welcome_screen.view.html
  release_notes/next.html
  searchindex.js
Due: none

the bounding box neglects the first 10% of pixels to avoid image edge effects
  mantidimaging/core/fitting/bounding_box.py
  mantidimaging/gui/windows/main/presenter.py
Due: check-licenses, pyright
