Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

check-licenses:
  name: Check Licenses
  description: Checks that all files have correct copyright licenses
  entry: python -m CheckLicensesInFiles
  language: python

check-release-notes-format:
  name: Check Release Notes Format
  description: Validate release note filename and contents format before commit
  entry: python  -m CheckReleaseNoteFormat
  language: python
  additional_dependencies:
  - requests

pyright:
  name: pyright
  description: Checks that all files pass pyright checks
  entry: pyright
  language: system

Release Notes
  docs/release_notes/next/fix-3158-resolve_inflated_cor_refinement_and_plot_cor_values
Due: check-release-notes-format

Add release notes for removing maximum projection angle field
  docs/release_notes/next/dev-1851-Remove_maximum_projection_angle_field
Due: check-release-notes-format

Add release notes for updating ruff version to match that of pixi.toml
  docs/release_notes/next/dev-3111-precommit-ruff-version
Due: check-release-notes-format

Add release notes for system tests crashes
  docs/release_notes/next/fix-2926-headless_system_test
Due: check-release-notes-format

Add release notes for IndexError with datasets containing no NaNs
  docs/release_notes/next/fix-3127-spectum_view_NAN_index_error
Due: check-release-notes-format

Update documentation
  _sources/developer_docs/how-to-guides/testing.rst.txt
  developer_docs/how-to-guides/testing.html
  release_notes/next.html
  searchindex.js
Due: none

Update documentation
  3.1.1/_modules/mantidimaging/core/utility/data_containers.html
  3.1.1/_modules/mantidimaging/gui/windows/recon/view.html
  3.1.1/api/mantidimaging.core.utility.data_containers.html
  3.1.1/api/mantidimaging.core.utility.html
  3.1.1/api/mantidimaging.gui.windows.recon.html
  3.1.1/api/mantidimaging.gui.windows.recon.view.html
  3.1.1/genindex.html
  3.1.1/objects.inv
  3.1.1/release_notes/next.html
  3.1.1/searchindex.js
Due: none

Update documentation
  3.1.1/_modules/mantidimaging/gui/windows/geometry/view.html
Due: none

Update list versions to run with pixi
  .github/workflows/conda.yml
Due: none

remove pixi.lock file from gitignore and commit it to the repo so setup pixi can compute cache keys and restore the pixi environment in CI
  .github/workflows/conda.yml
  .gitignore
  pixi.lock
Due: none

specify envs needed in the workflow, make use of base tasks to select environments for running checks and remove service tag from coveralls
  .github/workflows/conda.yml
Due: none

add durations to win and linux test-system-base, add separate task to run screenshot tests for CI, add environment variables to screenshot test run and update coveralls version
  .github/workflows/conda.yml
  pixi.lock
  pixi.toml
Due: none

Update V4 to V5 Cache for Conda Workflow
  .github/workflows/conda.yml
Due: none

Release prep: update version metadata for 3.1.1
  CITATION.cff
  docs/_static/version_switcher.json
  docs/conf.py
  docs/index.rst
Due: check-licenses, pyright

Release prep: update version metadata for 3.1.1
  CITATION.cff
  docs/_static/version_switcher.json
  docs/index.rst
Due: none

Update documentation
  3.1.1/release_notes/next.html
  3.1.1/searchindex.js
Due: none

Update documentation
  3.1.1/_modules/mantidimaging/gui/widgets/mi_image_view/view.html
  3.1.1/_modules/mantidimaging/gui/windows/operations/presenter.html
  3.1.1/_modules/mantidimaging/gui/windows/spectrum_viewer/presenter.html
  3.1.1/release_notes/next.html
  3.1.1/searchindex.js
Due: none

Resolve Version Schema for built packages
  conda/recipe.yaml
Due: none

Update documentation
  3.1.1/_modules/mantidimaging/core/data/geometry.html
  3.1.1/_modules/mantidimaging/core/rotation/data_model.html
  3.1.1/_modules/mantidimaging/gui/dialogs/cor_inspection/model.html
  3.1.1/_modules/mantidimaging/gui/dialogs/cor_inspection/view.html
  3.1.1/_modules/mantidimaging/gui/windows/recon/image_view.html
  3.1.1/_modules/mantidimaging/gui/windows/recon/view.html
  3.1.1/api/mantidimaging.core.data.geometry.html
  3.1.1/api/mantidimaging.core.data.html
  3.1.1/api/mantidimaging.core.rotation.data_model.html
  3.1.1/api/mantidimaging.core.rotation.html
  3.1.1/api/mantidimaging.gui.windows.recon.html
  3.1.1/api/mantidimaging.gui.windows.recon.image_view.html
  3.1.1/genindex.html
  3.1.1/objects.inv
  3.1.1/release_notes/next.html
  3.1.1/searchindex.js
Due: none

add creating environment with pixi, update V4 to V5 Cache for windows workflow , run linting tasks defined in pixi.toml and comment out conda-based workflow steps
  .github/workflows/windows.yml
Due: none

Update Pytest to run with pixi
  .github/workflows/windows.yml
Due: none

Set selected tree item as current on tab click
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/main/test/presenter_test.py
Due: check-licenses, pyright

replace conda env with pixi in package publishing workflow and add release notes
  .github/actions/publish-package/action.yml
  .github/workflows/conda.yml
  docs/release_notes/next/feature-2958-migrate_all_checks_from_conda_mamba_to_pixi_in_github_actions
  docs/release_notes/next/feature-3229-migrate_publishing_unstable_package_to_run_with_pixi
  pixi.lock
  pixi.toml
Due: check-release-notes-format

Update documentation
  _modules/mantidimaging/gui/windows/main/image_save_dialog.html
  _modules/mantidimaging/gui/windows/main/presenter.html
  _modules/mantidimaging/gui/windows/main/view.html
  api/mantidimaging.gui.windows.main.html
  api/mantidimaging.gui.windows.main.image_save_dialog.html
  api/mantidimaging.gui.windows.main.view.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

rename windows package script to be accessible by the recipe, add echos to scripts and remove script section from the recipe
  conda/build.bat
  conda/build.sh
  conda/recipe.yaml
Due: none

Update documentation
  release_notes/next.html
  searchindex.js
Due: none

Add ccpi-regulariser to gpu and cpu dependencies and update cuda-version, astra-toolbox and libastra for individual OS
  pixi.lock
  pixi.toml
Due: none

update coverage version
  pixi.lock
  pixi.toml
Due: none

remove specific build constraints from astra-toolbox and libastra
  pixi.toml
Due: none

add release notes
  docs/release_notes/next/fix-3228-fix_version_discrapencies_in_pixi
Due: check-release-notes-format

Update pixi.lock
  pixi.lock
Due: none

Add 3.1.1 release notes to MI documentation
  docs/release_notes/3.1.rst
Due: none

Update Anaconda Package Link in README
  README.md
Due: none

revert coverage version to the working one
  pixi.lock
  pixi.toml
Due: none

remove env from test-screenshots-ci-base
  pixi.toml
Due: none

Update documentation
  _modules/mantidimaging/core/reconstruct/astra_recon.html
  release_notes/next.html
  searchindex.js
Due: none

Path conditions:
  check-licenses: any of: \.py$
  check-release-notes-format: any of: ^docs/release_notes/next/
  pyright: any of: \.py$
