Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

check-licenses:
  name: Check Licenses
  description: Checks that all files have correct copyright licenses
  entry: python -m CheckLicensesInFiles
  language: python

check-release-notes-format:
  name: Check Release Notes Format
  description: Validate release note filename and contents format before commit
  entry: python  -m CheckReleaseNoteFormat
  language: python
  additional_dependencies:
  - requests

pyright:
  name: pyright
  description: Checks that all files pass pyright checks
  entry: pyright
  language: system

Update documentation to follow Diataxis workflow
  docs/developer_docs/tutorials/vsc_setup.rst
Due: none

Fix stale crop ROI after stack change and add test
  mantidimaging/gui/windows/operations/presenter.py
  mantidimaging/gui/windows/operations/test/presenter_test.py
Due: check-licenses, pyright

Add release notes
  docs/release_notes/next/fix-3115-Fix_rescale_and_autocrop_in_crop_coordinates_operation
Due: check-release-notes-format

Update documentation
  release_notes/next.html
  searchindex.js
Due: none

Update documentation
  _modules/mantidimaging/gui/windows/spectrum_viewer/presenter.html
Due: none

Add gifs to support documentation
  docs/_static/gifs/enable_auto_save.gif
  docs/_static/gifs/enable_auto_save_dark.gif
  docs/_static/gifs/enable_auto_save_light.gif
  docs/_static/gifs/enable_test_run_dark.gif
  docs/_static/gifs/enable_test_run_light.gif
  docs/_static/gifs/run_eyes_test_dark.gif
  docs/_static/gifs/run_eyes_test_light.gif
  docs/_static/gifs/select_python_interpreter_dark.gif
  docs/_static/gifs/select_python_interpreter_light.gif
  docs/developer_docs/tutorials/vsc_setup.rst
Due: none

Delete docs/_static/gifs/enable_auto_save.gif
  docs/_static/gifs/enable_auto_save.gif
Due: none

Add test for set_stack calling init_roi_field when CROP_COORDINATES filter is selected
  mantidimaging/gui/windows/operations/test/presenter_test.py
Due: check-licenses, pyright

Update documentation to follow diataxis workflow
  docs/user_docs/explanations/reconstructions/algorithms.rst
Due: none

Refactor codebase for PyQt6 API compatibility
  mantidimaging/gui/utility/qt_helpers.py
  mantidimaging/gui/widgets/gif_parameters/gif_parameters_widget.py
  mantidimaging/gui/widgets/indicator_icon/view.py
  mantidimaging/gui/widgets/spectrum_widgets/export_data_table_widget.py
  mantidimaging/gui/windows/image_load_dialog/view.py
  mantidimaging/gui/windows/live_viewer/view.py
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/spectrum_viewer/roi_table_model.py
  mantidimaging/gui/windows/spectrum_viewer/spectrum_widget.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
  mantidimaging/gui/windows/stack_visualiser/metadata_dialog.py
  mantidimaging/gui/windows/welcome_screen/presenter.py
  mantidimaging/main.py
Due: check-licenses, pyright

sort out enviroment stuff
  conda/meta.yaml
  environment-dev.yml
  environment.yml
  requirements.txt
Due: none

Fix PyQt6 compatibility issues in system tests
  mantidimaging/gui/windows/spectrum_viewer/view.py
  mantidimaging/test_helpers/qt_test_message_handler.py
Due: check-licenses, pyright

Add use cases and parameter descriptions for recon algorithms
  docs/user_docs/explanations/reconstructions/algorithms.rst
Due: none

Remove maximum projection angle field references from the code base
  mantidimaging/core/utility/data_containers.py
  mantidimaging/gui/ui/recon_window.ui
  mantidimaging/gui/windows/recon/test/view_test.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Add images referencing recon algorithm parameters and add release notes
  docs/_static/CIL_PDHG-TV_dark.png
  docs/_static/CIL_PDHG-TV_light.png
  docs/_static/FBP_CUDA_dark.png
  docs/_static/FBP_CUDA_light.png
  docs/_static/SIRT_CUDA_dark.png
  docs/_static/SIRT_CUDA_light.png
  docs/_static/gridrec_dark.png
  docs/_static/gridrec_light.png
  docs/release_notes/next/dev-1839-Update_documentation_on_PDHG-TV
  docs/user_docs/explanations/reconstructions/algorithms.rst
Due: check-release-notes-format

When theres no ROIs, disable fitting buttons and plot empty spectrum
  mantidimaging/gui/windows/spectrum_viewer/fitting_form.py
Due: check-licenses, pyright

suggested changes
  mantidimaging/gui/windows/spectrum_viewer/fitting_form.py
Due: check-licenses, pyright

Add a How it works section, captions for figures and table for algorithm comparison
  docs/user_docs/explanations/reconstructions/algorithms.rst
Due: none

remove unused property
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

System tests for Spectrum Viewer Fitting
  mantidimaging/gui/test/gui_system_spectrum_test.py
Due: check-licenses, pyright

split the vscode documentation into related areas, updated the debugging docs and gifs accordingly
  docs/_static/gifs/configure_test_run_dark.gif
  docs/_static/gifs/configure_test_run_light.gif
  docs/_static/gifs/debug_eyes_test_dark.gif
  docs/_static/gifs/debug_eyes_test_light.gif
  docs/_static/gifs/enable_test_run_dark.gif
  docs/_static/gifs/enable_test_run_light.gif
  docs/_static/gifs/run_eyes_test_dark.gif
  docs/_static/gifs/run_eyes_test_light.gif
  docs/developer_docs/how-to-guides/debugging.rst
  docs/developer_docs/how-to-guides/index.rst
  docs/developer_docs/how-to-guides/vsc_setup.rst
  docs/developer_docs/reference/index.rst
  docs/developer_docs/reference/vsc_extensions.rst
  docs/developer_docs/tutorials/index.rst
Due: none

added release note
  docs/release_notes/next/feature-3080-System-tests-for-Spectrum-Viewer-Fitting
  mantidimaging/gui/test/gui_system_spectrum_test.py
Due: check-licenses, check-release-notes-format, pyright

add unit selectors for source and detector positions
  mantidimaging/gui/windows/geometry/view.py
Due: check-licenses, pyright

Properties for getting and setting the selected units for source and detector positions
  mantidimaging/gui/windows/geometry/view.py
Due: check-licenses, pyright

loosen pyqt6
  conda/meta.yaml
Due: none

adjust vtk
  conda/meta.yaml
Due: none

adjust vtk
  environment-dev.yml
Due: none

update pyqtgraph
  conda/meta.yaml
Due: none

update pyright
  docs/release_notes/next/dev-2671-update-pyright
  environment-dev.yml
Due: check-release-notes-format

Update documentation
  _modules/mantidimaging/core/utility/data_containers.html
  _modules/mantidimaging/gui/windows/recon/view.html
  api/mantidimaging.core.utility.data_containers.html
  api/mantidimaging.core.utility.html
  api/mantidimaging.gui.windows.recon.html
  api/mantidimaging.gui.windows.recon.view.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

made suggested change
  docs/user_docs/reference/dataset.rst
Due: none

Update documentation
  _modules/mantidimaging/gui/windows/spectrum_viewer/fitting_form.html
Due: none

Determine Platform and add CDD class based on Platform
  docs/_static/custom.css
  docs/_static/platform_detection.js
Due: none

Create Sphinx extension to render OS inline code blocks
  docs/conf.py
  docs/ext/platform_detection_rst_to_css_mapping.py
Due: check-licenses, pyright

Simplify crop coordinates ROI initialisation test
  mantidimaging/gui/windows/operations/test/presenter_test.py
Due: check-licenses, pyright

Geometry: add SI unit support for source/detector distances
  mantidimaging/core/data/geometry.py
  mantidimaging/core/utility/test/unit_conversion_test.py
  mantidimaging/core/utility/unit_conversion.py
  mantidimaging/gui/windows/geometry/presenter.py
  mantidimaging/gui/windows/geometry/test/presenter_test.py
  mantidimaging/gui/windows/geometry/view.py
Due: check-licenses, pyright

Path conditions:
  check-licenses: any of: \.py$
  check-release-notes-format: any of: ^docs/release_notes/next/
  pyright: any of: \.py$
