Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: end-of-file-fixer
        types: [python]
  - repo: https://github.com/google/yapf
    rev: v0.43.0
    hooks:
      - id: yapf
  - repo: local
    hooks:
      - id: check-licenses
        name: Check Licenses
        description: Checks that all files have correct copyright licenses
        entry: python -m CheckLicensesInFiles
        language: python
        types: [python]
  - repo: local
    hooks:
      - id: check-release-notes-format
        name: Check Release Notes Format
        description: Validate release note filename and contents format before commit
        entry: python  -m CheckReleaseNoteFormat
        language: python
        files: ^docs/release_notes/next/
        additional_dependencies: [requests]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.17.1"
    hooks:
      - id: mypy
        files: ^mantidimaging/
        args: [--ignore-missing-imports]
        additional_dependencies: [types-docutils, types-PyYAML, types-requests]
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        description: Checks that all files pass pyright checks
        entry: pyright
        language: system
        types: [python]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.3
    hooks:
      - id: ruff
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        files: \.(json|ya?ml)$
        exclude: ^conda/

Disable 'Apply to Dataset' For Operation
  mantidimaging/gui/windows/operations/view.py
Due: check-licenses, pyright

Create Unit Tests for Sum Intensities and Update filter test expected params
  mantidimaging/core/operations/sum_stack_intensities/test/__init__.py
  mantidimaging/core/operations/sum_stack_intensities/test/sum_intensities_test.py
  mantidimaging/core/operations/test/operations_test.py
Due: check-licenses, pyright

Release Notes
  docs/release_notes/next/feature-2766-sum_stack_intensities_operation
Due: check-release-notes-format

Clear stale ViewBox entries
  mantidimaging/eyes_tests/eyes_manager.py
  mantidimaging/eyes_tests/operations_window_test.py
Due: check-licenses, pyright

Screenshot Test for Sum Stack Operation
  mantidimaging/eyes_tests/operations_window_test.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/core/data/imagestack.html
  _modules/mantidimaging/core/operation_history/operations.html
  _modules/mantidimaging/core/operations/remove_all_stripe/remove_all_stripe.html
  _modules/mantidimaging/core/operations/remove_dead_stripe/remove_dead_stripe.html
  _modules/mantidimaging/core/operations/remove_large_stripe/remove_large_stripe.html
  _modules/mantidimaging/core/operations/remove_stripe_filtering/remove_stripe_filtering.html
  _modules/mantidimaging/core/operations/remove_stripe_sorting_fitting/remove_stripe_sorting_fitting.html
  _modules/mantidimaging/core/reconstruct/cil_recon.html
  _modules/mantidimaging/core/reconstruct/tomopy_recon.html
  api/mantidimaging.core.data.html
  api/mantidimaging.core.data.imagestack.html
  api/mantidimaging.core.operations.remove_all_stripe.html
  api/mantidimaging.core.operations.remove_all_stripe.remove_all_stripe.html
  api/mantidimaging.core.operations.remove_dead_stripe.html
  api/mantidimaging.core.operations.remove_dead_stripe.remove_dead_stripe.html
  api/mantidimaging.core.operations.remove_large_stripe.html
  api/mantidimaging.core.operations.remove_large_stripe.remove_large_stripe.html
  api/mantidimaging.core.operations.remove_stripe_filtering.html
  api/mantidimaging.core.operations.remove_stripe_filtering.remove_stripe_filtering.html
  api/mantidimaging.core.operations.remove_stripe_sorting_fitting.html
  api/mantidimaging.core.operations.remove_stripe_sorting_fitting.remove_stripe_sorting_fitting.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

suggested changes
  docs/user_docs/explanations/gui/image_view.rst
Due: none

Increase how strictly the log data must match theexpected format
  mantidimaging/core/io/instrument_log_implmentations.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/gui/windows/main/model.html
  _modules/mantidimaging/gui/windows/main/presenter.html
  _modules/mantidimaging/gui/windows/main/view.html
  _modules/mantidimaging/gui/windows/recon/model.html
  _modules/mantidimaging/gui/windows/recon/presenter.html
  api/mantidimaging.gui.windows.recon.html
  api/mantidimaging.gui.windows.recon.presenter.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

Fix IndexError for invalid bin/step size in Spectrum Viewer ROI binning
  mantidimaging/core/utility/sensible_roi.py
  mantidimaging/gui/widgets/spectrum_widgets/roi_form_widget.py
Due: check-licenses, pyright

release note
  docs/release_notes/next/fix-3030-Binning-spinboxes-index-out-of-range
Due: check-release-notes-format

made suggested change
  mantidimaging/gui/widgets/spectrum_widgets/roi_form_widget.py
Due: check-licenses, pyright

Ensure bin size cannot exceed ROI dimensions by updating the spinbox
  mantidimaging/gui/widgets/spectrum_widgets/roi_form_widget.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

Improve ROI binning limits and prevent invalid bin
  docs/release_notes/next/fix-3030-Binning-spinboxes-index-out-of-range
  mantidimaging/gui/widgets/spectrum_widgets/roi_form_widget.py
Due: check-licenses, check-release-notes-format, pyright

Update Tests and Minor Cleanup
  mantidimaging/gui/windows/image_load_dialog/test/presenter_test.py
Due: check-licenses, pyright

Improved Unexpected File Error Dialog
  mantidimaging/gui/windows/image_load_dialog/presenter.py
  mantidimaging/gui/windows/image_load_dialog/view.py
Due: check-licenses, pyright

Release Notes
  docs/release_notes/next/fix-3068-log-file-mismatch-handling
Due: check-release-notes-format

Validate Log on Load
  mantidimaging/gui/windows/image_load_dialog/presenter.py
  mantidimaging/gui/windows/image_load_dialog/test/presenter_test.py
  mantidimaging/gui/windows/image_load_dialog/view.py
Due: check-licenses, pyright

Synchronize geometry changes with Reconstruction Window and update algorith
  mantidimaging/gui/windows/geometry/presenter.py
  mantidimaging/gui/windows/geometry/view.py
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/recon/presenter.py
Due: check-licenses, pyright

Clamp bin step to valid start range for better UX
  mantidimaging/gui/widgets/spectrum_widgets/roi_form_widget.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/core/io/instrument_log.html
  _modules/mantidimaging/core/io/instrument_log_implmentations.html
  _modules/mantidimaging/gui/mvp_base/view.html
  _modules/mantidimaging/gui/windows/image_load_dialog/field.html
  _modules/mantidimaging/gui/windows/image_load_dialog/presenter.html
  _modules/mantidimaging/gui/windows/image_load_dialog/view.html
  api/mantidimaging.gui.mvp_base.html
  api/mantidimaging.gui.mvp_base.view.html
  api/mantidimaging.gui.windows.image_load_dialog.field.html
  api/mantidimaging.gui.windows.image_load_dialog.html
  api/mantidimaging.gui.windows.image_load_dialog.presenter.html
  api/mantidimaging.gui.windows.image_load_dialog.view.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

make suggested changes and update current test
  mantidimaging/gui/test/gui_system_spectrum_test.py
  mantidimaging/gui/windows/spectrum_viewer/model.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

SystemTest: clear leak tracker in setUp so tests it always starts clean
  mantidimaging/gui/test/gui_system_base.py
Due: check-licenses, pyright

SystemTests: on GHA only collect tests from system test directory
  .github/workflows/conda.yml
  .github/workflows/windows.yml
Due: none

Update documentation
  _images/gui_save_dialog.png
  _images/image_view_sinograms.png
  _images/load_sinograms.png
  _images/save_as_image_files.png
  _images/view_as_sinograms_menu.png
  _modules/mantidimaging/core/utility/sensible_roi.html
  _modules/mantidimaging/gui/widgets/spectrum_widgets/roi_form_widget.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/presenter.html
  _sources/user_docs/explanations/gui/image_view.rst.txt
  _sources/user_docs/explanations/gui/loading_saving.rst.txt
  _static/image_view_sinograms.png
  _static/load_sinograms.png
  _static/save_as_image_files.png
  _static/view_as_sinograms_menu.png
  api/mantidimaging.gui.widgets.spectrum_widgets.html
  api/mantidimaging.gui.widgets.spectrum_widgets.roi_form_widget.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
  user_docs/explanations/gui/image_view.html
  user_docs/explanations/gui/index.html
  user_docs/explanations/gui/loading_saving.html
Due: none

note
  docs/release_notes/next/fix-3036-geometry-changes-not-synchronised-to-Reconstruction
  mantidimaging/gui/windows/geometry/presenter.py
Due: check-licenses, check-release-notes-format, pyright

Update documentation
  _modules/mantidimaging/gui/windows/spectrum_viewer/model.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/presenter.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/view.html
  api/mantidimaging.gui.windows.spectrum_viewer.html
  api/mantidimaging.gui.windows.spectrum_viewer.model.html
  api/mantidimaging.gui.windows.spectrum_viewer.presenter.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

Remove automatic 180° projection generation and legacy code
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/main/test/presenter_test.py
Due: check-licenses, pyright

The UI now hides the 180 projection
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Add 'Load ROI' button to the Spectrum button
  mantidimaging/gui/ui/roi_form_widget.ui
Due: none

backend for loading csv file of ROIs
  mantidimaging/gui/widgets/spectrum_widgets/roi_form_widget.py
  mantidimaging/gui/windows/spectrum_viewer/model.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Rois are loaded from CSV file and passed to spectrum_viewer.presenter.do_add_roi() with additional keywords
  mantidimaging/gui/windows/spectrum_viewer/model.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

Loaded rois are added to LOG
  mantidimaging/gui/windows/spectrum_viewer/model.py
Due: check-licenses, pyright

Add checks to make sure ROI is not created outside image. Make sull size ROI before resizing to ensure correct ROI maxBounds
  mantidimaging/gui/windows/spectrum_viewer/model.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

yapf fix
  mantidimaging/gui/windows/spectrum_viewer/model.py
Due: check-licenses, pyright

fix the bug of export table not updating when the fitting model changes and simplify implementation of fitting regions
  docs/release_notes/next/fix-3078-fix_export_table_not_updating_on_changing_fitting_model
  mantidimaging/gui/windows/spectrum_viewer/fitting_form.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, check-release-notes-format, pyright

made suggested changes
  mantidimaging/gui/windows/geometry/presenter.py
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/recon/presenter.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/gui/windows/geometry/presenter.html
  _modules/mantidimaging/gui/windows/geometry/view.html
  _modules/mantidimaging/gui/windows/main/view.html
  _modules/mantidimaging/gui/windows/recon/presenter.html
  api/mantidimaging.gui.windows.geometry.html
  api/mantidimaging.gui.windows.geometry.view.html
  api/mantidimaging.gui.windows.main.html
  api/mantidimaging.gui.windows.main.view.html
  api/mantidimaging.gui.windows.recon.presenter.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

Pass correct 2D vectors to create_Cone2D for cone geometry preview
  mantidimaging/core/reconstruct/cil_recon.py
Due: check-licenses, pyright

made suggested change
  mantidimaging/core/io/utility.py
  mantidimaging/gui/windows/main/test/presenter_test.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright
