Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: end-of-file-fixer
        types: [python]
  - repo: https://github.com/google/yapf
    rev: v0.43.0
    hooks:
      - id: yapf
  - repo: local
    hooks:
      - id: check-licenses
        name: Check Licenses
        description: Checks that all files have correct copyright licenses
        entry: python -m CheckLicensesInFiles
        language: python
        types: [python]
  - repo: local
    hooks:
      - id: check-release-notes-format
        name: Check Release Notes Format
        description: Validate release note filename and contents format before commit
        entry: python  -m CheckReleaseNoteFormat
        language: python
        files: ^docs/release_notes/next/
        additional_dependencies: [requests]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.17.1"
    hooks:
      - id: mypy
        files: ^mantidimaging/
        args: [--ignore-missing-imports]
        additional_dependencies: [types-docutils, types-PyYAML, types-requests]
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        description: Checks that all files pass pyright checks
        entry: pyright
        language: system
        types: [python]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.3
    hooks:
      - id: ruff
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        files: \.(json|ya?ml)$
        exclude: ^conda/

Update documentation
  _sources/release_notes/3.1.rst.txt
  _sources/release_notes/index.rst.txt
  objects.inv
  release_notes/2.0.html
  release_notes/2.1.html
  release_notes/2.2.html
  release_notes/2.3.html
  release_notes/2.4.html
  release_notes/2.5.html
  release_notes/2.6.html
  release_notes/2.7.html
  release_notes/2.8.html
  release_notes/3.0.html
  release_notes/3.1.html
  release_notes/index.html
  release_notes/next.html
  searchindex.js
Due: none

Pass token as env variable
  .github/actions/publish-package/action.yml
  .github/workflows/windows.yml
Due: none

Remove tee
  .github/actions/publish-package/action.yml
Due: none

suggested changes
  mantidimaging/gui/windows/spectrum_viewer/fitting_form.py
Due: check-licenses, pyright

Check upload with anaconda client
  .github/actions/publish-package/action.yml
Due: none

Move verbose
  .github/actions/publish-package/action.yml
Due: none

60 min timeout
  .github/workflows/windows.yml
Due: none

Echo in bld.bat
  conda/bld.bat
Due: none

debug for conda build
  .github/actions/publish-package/action.yml
Due: none

Set Norm Error and ShutterCount Checkbox Based on Stack Change
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

Return None When Shape Updated Externally
  mantidimaging/gui/windows/spectrum_viewer/model.py
Due: check-licenses, pyright

Add Tests to Check Stack Change Handled Gracefully
  mantidimaging/gui/windows/spectrum_viewer/test/model_test.py
  mantidimaging/gui/windows/spectrum_viewer/test/presenter_test.py
Due: check-licenses, pyright

Release Notes
  docs/release_notes/next/fix-3126-normalise_stack_shape_mismatch_handling
Due: check-release-notes-format

Add VSCode specific IDE documentation
  docs/developer_docs/tutorials/index.rst
  docs/developer_docs/tutorials/started.rst
  docs/developer_docs/tutorials/vsc_setup.rst
  docs/release_notes/next/dev-2598-Add_VSCode_specific_documentation
Due: check-release-notes-format

Update debugger config with unit test setup
  docs/developer_docs/tutorials/vsc_setup.rst
Due: none

Update documentation
  _modules/mantidimaging/gui/windows/spectrum_viewer/model.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/presenter.html
  api/mantidimaging.gui.windows.spectrum_viewer.presenter.html
  release_notes/next.html
  searchindex.js
Due: none

Add documentaion of MI use in reasearch
  docs/user_docs/reference/index.rst
  docs/user_docs/reference/mi_in_research.rst
Due: none

Roll back to anaconda-client = 1.13.1
  .github/actions/publish-package/action.yml
Due: none

Add release notes
  docs/release_notes/next/dev-2597-Add_documentation_of_MI_use_cases
Due: check-release-notes-format

Prevent IndexError in spectrum viewer when dataset contains no NaNs
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

Handles missing-NaN cases safely, fixes indexing issues, and removes ambiguous -1 defaults.
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

fix: handle IndexError in averaged image toggle
  mantidimaging/gui/widgets/mi_image_view/view.py
Due: check-licenses, pyright

Improve SumIntensitiesFilter docstrings to enhance user-facing explanations
  mantidimaging/core/operations/sum_stack_intensities/sum_intensities.py
Due: check-licenses, pyright

release note
  docs/release_notes/next/fix-3116-Main-Window-Toggle-Averaged-Image
Due: check-release-notes-format

Add citations, link DOIs and update categories
  docs/user_docs/reference/mi_in_research.rst
Due: none

made suggested changes
  docs/release_notes/next/feature-2880-Add-Example-Neutron-Datasets-to-Documentation
  docs/user_docs/reference/dataset.rst
Due: check-release-notes-format

Update documentation
  _modules/mantidimaging/gui/widgets/mi_image_view/view.html
  release_notes/next.html
Due: none

change format
  docs/user_docs/reference/dataset.rst
Due: none

Amend Capitalisation for types-pyaml
  environment-dev.yml
Due: none

Release Notes
  docs/release_notes/next/dev-3147-Amend_Capitalisation_for_types-pyaml
Due: check-release-notes-format

Update Miniconda actions to newer major versions for Node 24
  .github/workflows/conda.yml
  .github/workflows/docs.yml
  .github/workflows/windows.yml
Due: none

Release Notes
  docs/release_notes/next/dev-3149-Update_Miniconda_and_update_deprecated_fields
Due: check-release-notes-format

Actions: Add timeout for build/publish package step
  .github/workflows/conda.yml
  .github/workflows/windows.yml
Due: none
