Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

check-licenses:
  name: Check Licenses
  description: Checks that all files have correct copyright licenses
  entry: python -m CheckLicensesInFiles
  language: python

check-release-notes-format:
  name: Check Release Notes Format
  description: Validate release note filename and contents format before commit
  entry: python  -m CheckReleaseNoteFormat
  language: python
  additional_dependencies:
  - requests

pyright:
  name: pyright
  description: Checks that all files pass pyright checks
  entry: pyright
  language: system

Fix copy rights
  mantidimaging/eyes_tests/mi_3d_viewer_test.py
Due: check-licenses, pyright

Add QApplication setup in MI3DViewerTest for GUI testing
  mantidimaging/eyes_tests/mi_3d_viewer_test.py
Due: check-licenses, pyright

undo changes
  mantidimaging/eyes_tests/mi_3d_viewer_test.py
Due: check-licenses, pyright

Skip 3D viewer tests on Windows CI due to headless OpenGL limitations
  mantidimaging/eyes_tests/mi_3d_viewer_test.py
Due: check-licenses, pyright

Skip 3D viewer tests on all CI platforms due to headless OpenGL limitations
  mantidimaging/eyes_tests/mi_3d_viewer_test.py
Due: check-licenses, pyright

fix formatting
  mantidimaging/test_helpers/unit_test_helper.py
Due: check-licenses, pyright

remove duplicate code
  mantidimaging/test_helpers/unit_test_helper.py
Due: check-licenses, pyright

Avoid copy of environment when caching for docs workflow for docs
  .github/workflows/docs.yml
Due: none

Disk space diagnosis checks
  .github/workflows/diagnose_disk_space.yml
Due: none

Add basic 3D viewer tests
  docs/release_notes/next/feat-2915-add_3D_viewer_screenshot_tests
  mantidimaging/eyes_tests/mi_3d_viewer_test.py
  mantidimaging/gui/windows/viewer_3d/presenter.py
  mantidimaging/test_helpers/unit_test_helper.py
Due: check-licenses, check-release-notes-format, pyright

replace distutils Command with setuptools Command
  setup.py
Due: check-licenses, pyright

add installing setuptools in github actions
  .github/workflows/windows.yml
Due: none

fix formatting
  .github/workflows/windows.yml
Due: none

include *.csv log schema and GRtomo related files
  mantidimaging/core/io/filenames.py
  mantidimaging/gui/windows/image_load_dialog/presenter.py
Due: check-licenses, pyright

Improve searchability of GRtomo files and loosen file name search if algo struggles
  mantidimaging/core/io/filenames.py
  mantidimaging/gui/windows/image_load_dialog/presenter.py
Due: check-licenses, pyright

First search Tomo directory for Spectrum log file
  mantidimaging/core/io/filenames.py
Due: check-licenses, pyright

First search Tomo directory for ShutterCount log file
  mantidimaging/core/io/filenames.py
Due: check-licenses, pyright

Path conditions:
  check-licenses: any of: \.py$
  check-release-notes-format: any of: ^docs/release_notes/next/
  pyright: any of: \.py$
