Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: end-of-file-fixer
        types: [python]
-   repo: https://github.com/google/yapf
    rev: v0.43.0
    hooks:
    -   id: yapf
-   repo: local
    hooks:
    -   id: check-licenses
        name: Check Licenses
        description: Checks that all files have correct copyright licenses
        entry: python -m CheckLicensesInFiles
        language: python
        types: [python]
-   repo: local
    hooks:
    -   id: check-release-notes-format
        name: Check Release Notes Format
        description: Validate release note filename and contents format before commit
        entry: python  -m CheckReleaseNoteFormat
        language: python
        files: ^docs/release_notes/next/
        additional_dependencies: [requests]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.17.1'
    hooks:
    -   id: mypy
        files: ^mantidimaging/
        args: [--ignore-missing-imports]
        additional_dependencies: [types-docutils, types-PyYAML, types-requests]
-   repo: local
    hooks:
    -   id: pyright
        name: pyright
        description: Checks that all files pass pyright checks
        entry: pyright
        language: system
        types: [python]
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.3
    hooks:
    -   id: ruff

Add release note (#2614)
  docs/release_notes/next/dev-2614-refactor-projection-angles
Due: check-release-notes-format

Restore recovery of original cor/tilt in astra_recon's find_cor() so that they get reset after the new cor is found
  mantidimaging/core/reconstruct/astra_recon.py
Due: check-licenses, pyright

set safeApply checkbox to setChecked(False)
  mantidimaging/gui/windows/operations/view.py
Due: check-licenses, pyright

Update projection angles test to check if angles are none with no log file
  mantidimaging/core/data/test/image_stack_test.py
Due: check-licenses, pyright

Remove some checks from test_get_projection_angles_no_logfile
  mantidimaging/core/data/test/image_stack_test.py
Due: check-licenses, pyright

add_alternative_180_if_required() keep old behaviour of using middle projection in case of no angles
  mantidimaging/gui/windows/main/presenter.py
Due: check-licenses, pyright

Reorder Dataset creation in_load_strict_data_set() to avoid visual change
  mantidimaging/eyes_tests/base_eyes.py
Due: check-licenses, pyright

GUI changes for projection selection in COR/Tilt correlation
  mantidimaging/gui/ui/recon_window.ui
  mantidimaging/gui/windows/recon/presenter.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

updated gui changes
  mantidimaging/gui/ui/recon_window.ui
Due: none

Finds nearest projection indices for chosen angles (e.g. 0° & 180°) using `find_image_from_angle`, ensuring correct correlation data.
  mantidimaging/core/data/imagestack.py
  mantidimaging/core/data/test/image_stack_test.py
  mantidimaging/gui/windows/recon/presenter.py
  mantidimaging/gui/windows/recon/test/presenter_test.py
  mantidimaging/gui/windows/stack_visualiser/test/presenter_test.py
  mantidimaging/gui/windows/stack_visualiser/view.py
Due: check-licenses, pyright

made suggested changes
  mantidimaging/core/data/imagestack.py
  mantidimaging/core/data/test/image_stack_test.py
  mantidimaging/gui/windows/recon/view.py
  mantidimaging/gui/windows/stack_visualiser/view.py
Due: check-licenses, pyright

fixed test
  mantidimaging/core/data/test/image_stack_test.py
Due: check-licenses, pyright

Investigate SharedArray shared-memory instability and document critical issues
  mantidimaging/core/parallel/shared.py
  mantidimaging/core/parallel/utility.py
Due: check-licenses, pyright

safeApply choice now saved as a QSetting value
  mantidimaging/gui/windows/operations/view.py
Due: check-licenses, pyright

Create stack_rename_dialog window GUI
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/stack_rename_dialog/__init__.py
  mantidimaging/gui/windows/stack_rename_dialog/presenter.py
  mantidimaging/gui/windows/stack_rename_dialog/test/__init__.py
  mantidimaging/gui/windows/stack_rename_dialog/view.py
Due: check-licenses, pyright

StackRenameDialog accepts Datasets and Imagestacks and renames them across MI
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/stack_rename_dialog/presenter.py
  mantidimaging/gui/windows/stack_rename_dialog/view.py
Due: check-licenses, pyright

StackRenameDialog view test
  mantidimaging/gui/windows/stack_rename_dialog/test/view_test.py
Due: check-licenses, pyright

StackRenamePresenter tests
  mantidimaging/gui/windows/stack_rename_dialog/test/presenter_test.py
  mantidimaging/gui/windows/stack_rename_dialog/test/view_test.py
Due: check-licenses, pyright

release notes
  docs/release_notes/next/feature-2978-rename-stacks
Due: check-release-notes-format

Make ImageStack.__init__ safely handle shared-memory and NumPy inputs
  mantidimaging/core/data/imagestack.py
  mantidimaging/core/data/test/image_stack_test.py
  mantidimaging/gui/windows/main/test/presenter_test.py
  mantidimaging/gui/windows/nexus_load_dialog/test/presenter_test.py
  mantidimaging/test_helpers/unit_test_helper.py
Due: check-licenses, pyright

Added note to data
  mantidimaging/core/data/imagestack.py
  mantidimaging/core/data/test/image_stack_test.py
Due: check-licenses, pyright

Update documentation
  _modules/index.html
  _modules/mantidimaging/core/data/dataset.html
  _modules/mantidimaging/core/data/geometry.html
  _modules/mantidimaging/core/data/imagestack.html
  _modules/mantidimaging/core/operations/append_stacks/append_stacks.html
  _modules/mantidimaging/core/reconstruct/astra_recon.html
  _modules/mantidimaging/core/reconstruct/cil_recon.html
  _modules/mantidimaging/core/reconstruct/tomopy_recon.html
  _modules/mantidimaging/gui/dialogs/cor_inspection/model.html
  _modules/mantidimaging/gui/windows/geometry/presenter.html
  _modules/mantidimaging/gui/windows/main/model.html
  _modules/mantidimaging/gui/windows/main/presenter.html
  _modules/mantidimaging/gui/windows/nexus_load_dialog/presenter.html
  _modules/mantidimaging/gui/windows/recon/model.html
  _modules/mantidimaging/gui/windows/recon/presenter.html
  _modules/mantidimaging/gui/windows/recon/view.html
  _modules/mantidimaging/gui/windows/stack_properties_dialog/view.html
  _modules/mantidimaging/gui/windows/stack_visualiser/presenter.html
  _modules/mantidimaging/gui/windows/stack_visualiser/view.html
  _modules/mantidimaging/gui/windows/viewer_3d/view.html
  _sources/api/mantidimaging.core.operations.append_stacks.append_stacks.rst.txt
  _sources/api/mantidimaging.core.operations.append_stacks.rst.txt
  _sources/api/mantidimaging.core.operations.rst.txt
  api/mantidimaging.core.data.geometry.html
  api/mantidimaging.core.data.html
  api/mantidimaging.core.data.imagestack.html
  api/mantidimaging.core.html
  api/mantidimaging.core.operations.append_stacks.append_stacks.html
  api/mantidimaging.core.operations.append_stacks.html
  api/mantidimaging.core.operations.arithmetic.html
  api/mantidimaging.core.operations.html
  api/mantidimaging.gui.windows.recon.view.html
  genindex.html
  objects.inv
  py-modindex.html
  searchindex.js
  user_docs/explanations/operations/index.html
Due: none

updated with hussans changes
  mantidimaging/core/data/imagestack.py
  mantidimaging/core/data/test/image_stack_test.py
  mantidimaging/gui/windows/recon/presenter.py
  mantidimaging/gui/windows/recon/test/presenter_test.py
Due: check-licenses, pyright

Set vertical layout on recon scroll area
  mantidimaging/gui/ui/recon_window.ui
Due: none

Set vertical layout for recon autocor groupbox
  mantidimaging/gui/ui/recon_window.ui
Due: none

Move correlate button to avoid cutting of text and tweak some spacing
  mantidimaging/gui/ui/recon_window.ui
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Add imageio dependency to enable gif creation
  conda/meta.yaml
  pixi.toml
Due: none

Create File Menu Option to Export as GIF
  mantidimaging/gui/ui/main_window.ui
Due: none

Create Gif Creation Utility Methods
  mantidimaging/gui/utility/gif_utils.py
Due: check-licenses, pyright

Create imagestack right click menu to create gif
  mantidimaging/gui/windows/stack_visualiser/view.py
Due: check-licenses, pyright

Create method in Model to handle the creation of a gif from a stack
  mantidimaging/gui/windows/main/model.py
Due: check-licenses, pyright

Create custom dialog widget to configure GIF creation from a stack
  mantidimaging/gui/widgets/gif_parameters/__init__.py
  mantidimaging/gui/widgets/gif_parameters/gif_parameters_widget.py
Due: check-licenses, pyright

Connect GIF creation signal from stack visualiser
  mantidimaging/gui/windows/main/view.py
Due: check-licenses, pyright

Create Gif orchestration to MainWindowView
  mantidimaging/gui/windows/main/presenter.py
Due: check-licenses, pyright

Create tests for GIF utility functions
  mantidimaging/gui/utility/test/__init__.py
  mantidimaging/gui/utility/test/test_gif_utils.py
Due: check-licenses, pyright

Release Notes
  docs/release_notes/next/feature-2984-Export_as_gif
Due: check-release-notes-format

Test test_create_gif_uniform_data
  mantidimaging/gui/windows/main/test/model_test.py
Due: check-licenses, pyright

Separate caching logic from spectrum calculation
  mantidimaging/gui/windows/spectrum_viewer/model.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright
