Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

.pre-commit-config.yaml:

repos:
-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: end-of-file-fixer
        types: [python]
-   repo: https://github.com/google/yapf
    rev: v0.43.0
    hooks:
    -   id: yapf
-   repo: local
    hooks:
    -   id: check-licenses
        name: Check Licenses
        description: Checks that all files have correct copyright licenses
        entry: python -m CheckLicensesInFiles
        language: python
        types: [python]
-   repo: local
    hooks:
    -   id: check-release-notes-format
        name: Check Release Notes Format
        description: Validate release note filename and contents format before commit
        entry: python  -m CheckReleaseNoteFormat
        language: python
        files: ^docs/release_notes/next/
        additional_dependencies: [requests]
-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: 'v1.17.1'
    hooks:
    -   id: mypy
        files: ^mantidimaging/
        args: [--ignore-missing-imports]
        additional_dependencies: [types-docutils, types-PyYAML, types-requests]
-   repo: local
    hooks:
    -   id: pyright
        name: pyright
        description: Checks that all files pass pyright checks
        entry: pyright
        language: system
        types: [python]
-   repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.3
    hooks:
    -   id: ruff

prevent threads from being activated when normalise or shutter error present
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, pyright

Update release notes
  docs/release_notes/next/dev-2057-reset_gui_to_default_layout
Due: check-release-notes-format

Rephrase release notes for better understanding
  docs/release_notes/next/dev-2057-reset_gui_to_default_layout
Due: check-release-notes-format

Update documentation
  _modules/mantidimaging/gui/windows/stack_visualiser/view.html
  release_notes/next.html
  searchindex.js
Due: none

Add MI 3D viewer window
  docs/release_notes/next/feature-2848-add_3D_viewer_window
  mantidimaging/gui/test/gui_system_base.py
  mantidimaging/gui/ui/main_window.ui
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/viewer_3d/view.py
Due: check-licenses, check-release-notes-format, pyright

fix formattings
  mantidimaging/gui/test/gui_system_base.py
  mantidimaging/gui/windows/viewer_3d/__init__.py
  mantidimaging/gui/windows/viewer_3d/view.py
Due: check-licenses, pyright

add copyrights
  mantidimaging/gui/windows/viewer_3d/__init__.py
  mantidimaging/gui/windows/viewer_3d/view.py
Due: check-licenses, pyright

fix ruff error
  mantidimaging/gui/windows/viewer_3d/__init__.py
Due: check-licenses, pyright

remove test ref
  mantidimaging/gui/test/gui_system_base.py
Due: check-licenses, pyright

add vtk dependency
  conda/meta.yaml
Due: none

Update HDF5 dep to resolve vtk conflicts
  conda/meta.yaml
Due: none

loosen vtk versioning
  conda/meta.yaml
Due: none

organise workflow with separate methods
  mantidimaging/gui/windows/viewer_3d/view.py
Due: check-licenses, pyright

add addWidget to init_layout and reorder init methods
  mantidimaging/gui/windows/viewer_3d/view.py
Due: check-licenses, pyright

Update documentation
  _modules/index.html
  _modules/mantidimaging/gui/windows/viewer_3d/view.html
  _sources/api/mantidimaging.gui.windows.rst.txt
  _sources/api/mantidimaging.gui.windows.viewer_3d.rst.txt
  _sources/api/mantidimaging.gui.windows.viewer_3d.view.rst.txt
  api/mantidimaging.gui.html
  api/mantidimaging.gui.windows.html
  api/mantidimaging.gui.windows.stack_visualiser.view.html
  api/mantidimaging.gui.windows.viewer_3d.html
  api/mantidimaging.gui.windows.viewer_3d.view.html
  genindex.html
  objects.inv
  py-modindex.html
  release_notes/next.html
  searchindex.js
Due: none

Update documentation
  _modules/mantidimaging/gui/windows/spectrum_viewer/presenter.html
  _modules/mantidimaging/gui/windows/spectrum_viewer/view.html
  api/mantidimaging.gui.windows.spectrum_viewer.html
  api/mantidimaging.gui.windows.spectrum_viewer.presenter.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

Reuse cached spectra on ROI moves instead of full recompute
  mantidimaging/gui/windows/spectrum_viewer/model.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

prevent IndexError in ROI move when spectrum already complete
  docs/release_notes/next/feature-2839-Caching-spectrum-viewer-refactor
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, check-release-notes-format, pyright

TEMP
  mantidimaging/gui/windows/main/model.py
  mantidimaging/gui/windows/nexus_load_dialog/.presenter.py.un~
  mantidimaging/gui/windows/nexus_load_dialog/presenter.py
Due: check-licenses, pyright

feat(spectrum-viewer): add χ² fit quality metrics (raw, reduced, weighted)
  mantidimaging/core/fitting/fitting_engine.py
  mantidimaging/core/fitting/test/fitting_engine_test.py
  mantidimaging/gui/widgets/spectrum_widgets/fitting_param_form_widget.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

fixing yapf
  mantidimaging/gui/widgets/spectrum_widgets/fitting_param_form_widget.py
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

fixing thread error
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/test/presenter_test.py
Due: check-licenses, pyright

Update to Ignore Files Generated by Pixi
  .gitignore
Due: none

Initial Pixi Migration
  .gitattributes
  pixi.lock
  pixi.toml
Due: none

Replace the various implementations of the question dialog with a standard one in BaseMainWindow
  mantidimaging/eyes_tests/operations_window_test.py
  mantidimaging/gui/gui.py
  mantidimaging/gui/mvp_base/view.py
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/main/test/presenter_test.py
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/operations/presenter.py
  mantidimaging/gui/windows/operations/test/presenter_test.py
  mantidimaging/gui/windows/operations/view.py
  mantidimaging/gui/windows/stack_visualiser/view.py
Due: check-licenses, pyright

Add release note (#2859)
  docs/release_notes/next/dev-2859-add-standard-question-dialog
Due: check-release-notes-format

Update documentation
  _modules/mantidimaging/gui/mvp_base/view.html
  _modules/mantidimaging/gui/windows/main/presenter.html
  _modules/mantidimaging/gui/windows/operations/presenter.html
  _modules/mantidimaging/gui/windows/operations/view.html
  _modules/mantidimaging/gui/windows/stack_visualiser/view.html
  api/mantidimaging.gui.mvp_base.html
  api/mantidimaging.gui.mvp_base.view.html
  api/mantidimaging.gui.windows.main.html
  api/mantidimaging.gui.windows.main.presenter.html
  api/mantidimaging.gui.windows.operations.html
  api/mantidimaging.gui.windows.operations.view.html
  api/mantidimaging.gui.windows.stack_visualiser.html
  api/mantidimaging.gui.windows.stack_visualiser.view.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

Pin numba to 0.61 to avoid incompatibility with coverage
  environment-dev.yml
  environment.yml
Due: none

Update h5py to 3.13.*
  conda/meta.yaml
Due: none

Add getter/setter methods for source & detector positions to Geometry
  mantidimaging/core/data/geometry.py
Due: check-licenses, pyright

SpectrumViewerWindowModel: Use ROIBinner for RITS export
  mantidimaging/gui/windows/spectrum_viewer/model.py
Due: check-licenses, pyright

Add ROIBinner: tool for 2d binning within an ROI
  mantidimaging/core/utility/sensible_roi.py
  mantidimaging/core/utility/test/sensibleROI_test.py
Due: check-licenses, pyright

Tests some error cases and prevent modification
  mantidimaging/core/utility/sensible_roi.py
  mantidimaging/core/utility/test/sensibleROI_test.py
Due: check-licenses, pyright

SensibleROI: use dataclass __init__
  mantidimaging/core/utility/sensible_roi.py
Due: check-licenses, pyright

Add support for 3D cone beam geometry
  mantidimaging/core/data/geometry.py
  mantidimaging/core/data/imagestack.py
  mantidimaging/core/data/test/geometry_test.py
  mantidimaging/core/data/test/image_stack_test.py
  mantidimaging/core/reconstruct/cil_recon.py
  mantidimaging/gui/windows/geometry/presenter.py
  mantidimaging/gui/windows/geometry/test/presenter_test.py
  mantidimaging/gui/windows/geometry/view.py
  mantidimaging/gui/windows/main/model.py
  mantidimaging/gui/windows/nexus_load_dialog/presenter.py
Due: check-licenses, pyright

Add release note (#2827)
  docs/release_notes/next/feature-2827-added-3d-cone-support
Due: check-release-notes-format

added get_bounding_box to find edges of ImageStack sample within given tolerance
  mantidimaging/core/fitting/bounding_box.py
Due: check-licenses, pyright

bounds are now found by looking at when the gradient exceeds the noise floor
  mantidimaging/core/fitting/bounding_box.py
  mantidimaging/gui/windows/main/presenter.py
Due: check-licenses, pyright

the bounding box neglects the first 10% of pixels to avoid image edge effects
  mantidimaging/core/fitting/bounding_box.py
  mantidimaging/gui/windows/main/presenter.py
Due: check-licenses, pyright

suggested changes
  mantidimaging/core/fitting/bounding_box.py
Due: check-licenses, pyright
