Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: end-of-file-fixer
        types: [python]
  - repo: https://github.com/google/yapf
    rev: v0.43.0
    hooks:
      - id: yapf
  - repo: local
    hooks:
      - id: check-licenses
        name: Check Licenses
        description: Checks that all files have correct copyright licenses
        entry: python -m CheckLicensesInFiles
        language: python
        types: [python]
  - repo: local
    hooks:
      - id: check-release-notes-format
        name: Check Release Notes Format
        description: Validate release note filename and contents format before commit
        entry: python  -m CheckReleaseNoteFormat
        language: python
        files: ^docs/release_notes/next/
        additional_dependencies: [requests]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.17.1"
    hooks:
      - id: mypy
        files: ^mantidimaging/
        args: [--ignore-missing-imports]
        additional_dependencies: [types-docutils, types-PyYAML, types-requests]
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        description: Checks that all files pass pyright checks
        entry: pyright
        language: system
        types: [python]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.3
    hooks:
      - id: ruff
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        files: \.(json|ya?ml)$
        exclude: ^conda/

made suggested changes
  docs/developer_docs/how-to-guides/debugging.rst
  docs/developer_docs/how-to-guides/pycharm_setup.rst
  docs/developer_docs/reference/pycharm_plugins.rst
Due: none

Update pixi to match updated versions
  pixi.lock
  pixi.toml
Due: none

fix pytest failing by mocking conda exe in version check test
  mantidimaging/core/utility/test/version_check_test.py
Due: check-licenses, pyright

update system and screenshot test workflows to run with pixi
  .github/workflows/windows.yml
Due: none

update test-system-base to specify screenshot dir
  pixi.toml
Due: none

remove conda/mamba related jobs
  .github/workflows/windows.yml
Due: none

add release notes
  docs/release_notes/next/dev-2961-migrate_windows_testing_workflow_from_conda_mamba_to_pixi
Due: check-release-notes-format

migrate doc building from conda/mamba to pixi
  .github/workflows/docs.yml
Due: none

add ruff print check to docker-ubuntu workflow
  .github/workflows/u18_testing.yml
Due: none

add release notes
  docs/release_notes/next/feature-2962-migrate_doc_build_from_conda_mamba_to_pixi
Due: check-release-notes-format

add release notes
  docs/release_notes/next/feature-2961-migrate_windows_testing_workflow_from_conda_mamba_to_pixi
Due: check-release-notes-format

migrate rocky and u18 testing workflows from mamba/conda to pixi
  .github/workflows/rocky_testing.yml
  .github/workflows/u18_testing.yml
Due: none

made suggested changes
  mantidimaging/core/operations/roi_normalisation/test/roi_normalisation_test.py
Due: check-licenses, pyright

dev-3186: add PyCharm IDE setup docs for contributors
  docs/developer_docs/how-to-guides/index.rst
  docs/developer_docs/how-to-guides/pycharm_setup.rst
  docs/developer_docs/reference/index.rst
  docs/developer_docs/reference/pycharm_plugins.rst
  docs/release_notes/next/dev-3186-Create_Developer_IDE_Environment_Setup_Documentation_for_PyCharm
Due: check-release-notes-format

migrate the docker ubuntu 18 environment from conda to pixi
  .github/workflows/u18_testing.yml
  docker/entrypoint.sh
  docker/ubuntu18.Dockerfile
  pixi.lock
  pixi.toml
Due: none

Update pixi to add prettier tasks for json and yaml checks, and update the u18 testing workflow to run the checks with pixi
  .github/workflows/u18_testing.yml
  pixi.toml
Due: none

add release notes
  docs/release_notes/next/feature-2961-migrate_windows_testing_workflow_from_conda_mamba_to_pixi
  mantidimaging/core/utility/test/version_check_test.py
Due: check-licenses, check-release-notes-format, pyright

remove env from test-screenshots-ci-base
  docs/release_notes/next/fix-3228-fix_version_discrapencies_in_pixi
  docs/release_notes/next/fix-3228-fix_version_discrepancies_in_pixi
  pixi.toml
Due: check-release-notes-format

Update documentation
  release_notes/next.html
  searchindex.js
Due: none

add creating environment with pixi, update V4 to V5 Cache for windows workflow , run linting tasks defined in pixi.toml and comment out conda-based workflow steps
  .github/workflows/windows.yml
Due: none

Update Pytest to run with pixi
  .github/workflows/windows.yml
Due: none

Add optional pixel size to accepted log columns
  mantidimaging/core/io/instrument_log.py
Due: check-licenses, pyright

Specify Log Colum Types More Precisely
  mantidimaging/core/io/instrument_log.py
Due: check-licenses, pyright

remove conda references from pixi.toml and workflows
  .github/workflows/conda.yml
  .github/workflows/windows.yml
  docs/release_notes/next/dev-2958-migrate_all_checks_from_conda_mamba_to_pixi_in_github_actions
  docs/release_notes/next/dev-2961-migrate_windows_testing_workflow_from_conda_mamba_to_pixi
  docs/release_notes/next/dev-3229-migrate_publishing_unstable_package_to_run_with_pixi
  pixi.toml
Due: check-release-notes-format

update release notes for this to be a dev change
  docs/release_notes/next/dev-2962-migrate_doc_build_from_conda_mamba_to_pixi
Due: check-release-notes-format

Relocate git describe operation
  conda/make_versions.py
Due: check-licenses, pyright

Release Notes
  docs/release_notes/next/fix-3248-fix_conda_package_builds
Due: check-release-notes-format

remove bash shell from docs job
  .github/workflows/docs.yml
Due: none
