Repository mantidproject/mantidimaging: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-licenses, check-release-notes-format, pyright

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
      - id: end-of-file-fixer
        types: [python]
  - repo: https://github.com/google/yapf
    rev: v0.43.0
    hooks:
      - id: yapf
  - repo: local
    hooks:
      - id: check-licenses
        name: Check Licenses
        description: Checks that all files have correct copyright licenses
        entry: python -m CheckLicensesInFiles
        language: python
        types: [python]
  - repo: local
    hooks:
      - id: check-release-notes-format
        name: Check Release Notes Format
        description: Validate release note filename and contents format before commit
        entry: python  -m CheckReleaseNoteFormat
        language: python
        files: ^docs/release_notes/next/
        additional_dependencies: [requests]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: "v1.17.1"
    hooks:
      - id: mypy
        files: ^mantidimaging/
        args: [--ignore-missing-imports]
        additional_dependencies: [types-docutils, types-PyYAML, types-requests]
  - repo: local
    hooks:
      - id: pyright
        name: pyright
        description: Checks that all files pass pyright checks
        entry: pyright
        language: system
        types: [python]
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.3
    hooks:
      - id: ruff
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.0.0
    hooks:
      - id: prettier
        files: \.(json|ya?ml)$
        exclude: ^conda/

Update documentation
  _modules/mantidimaging/gui/windows/geometry/presenter.html
  release_notes/next.html
  searchindex.js
Due: none

Update documentation
  _modules/mantidimaging/gui/windows/main/model.html
  _modules/mantidimaging/gui/windows/stack_visualiser/presenter.html
  _modules/mantidimaging/gui/windows/stack_visualiser/view.html
  api/mantidimaging.gui.windows.stack_visualiser.html
  api/mantidimaging.gui.windows.stack_visualiser.view.html
  genindex.html
  objects.inv
  release_notes/next.html
  searchindex.js
Due: none

improve code implmentation and fix row and col bug
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

Allow CoR correction after late angle/geometry load and improve error handling
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/recon/model.py
  mantidimaging/gui/windows/recon/presenter.py
Due: check-licenses, pyright

rounding system test
  mantidimaging/gui/test/gui_system_loading_test.py
Due: check-licenses, pyright

stop enable button
  mantidimaging/gui/windows/recon/presenter.py
Due: check-licenses, pyright

made suggested change
  mantidimaging/gui/windows/main/model.py
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/recon/presenter.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/gui/windows/geometry/model.html
  _modules/mantidimaging/gui/windows/geometry/view.html
  release_notes/next.html
  searchindex.js
Due: none

Allow CoR correction after late angle/geometry load and improve error handling
  mantidimaging/gui/test/gui_system_loading_test.py
  mantidimaging/gui/windows/main/model.py
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/main/view.py
  mantidimaging/gui/windows/recon/model.py
  mantidimaging/gui/windows/recon/presenter.py
Due: check-licenses, pyright

Move validation logic to the presenter to ensure consistency with existing angle handling and avoid duplication. The view is now responsible only for updating UI state.
  mantidimaging/gui/windows/recon/presenter.py
  mantidimaging/gui/windows/recon/view.py
Due: check-licenses, pyright

Fix: Only show RITS ROI in Image sub-tab when "Normalise to open beam" is toggled
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
Due: check-licenses, pyright

Add documentation on how to load, save, and view sinograms in Mantid Imaging
  docs/_static/image_view_sinograms.png
  docs/_static/load_sinograms.png
  docs/_static/save_as_image_files.png
  docs/_static/view_as_sinograms_menu.png
  docs/user_docs/explanations/gui/image_view.rst
  docs/user_docs/explanations/gui/loading_saving.rst
Due: none

Wait for Window Close Instead of always waiting 100MS
  mantidimaging/gui/test/gui_system_base.py
  mantidimaging/test_helpers/qt_test_helpers.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/gui/windows/spectrum_viewer/presenter.html
Due: none

remove Mark as projections/sinograms menu option and StackVisualiserView.mark_as_sinograms()
  mantidimaging/gui/windows/stack_visualiser/view.py
Due: check-licenses, pyright

remove Create sinograms from stack and associated logic
  mantidimaging/gui/windows/main/presenter.py
  mantidimaging/gui/windows/stack_visualiser/presenter.py
  mantidimaging/gui/windows/stack_visualiser/view.py
Due: check-licenses, pyright

remove test_add_sinograms_to_dataset_with_no_sinograms_and_update_view
  mantidimaging/gui/windows/main/test/presenter_test.py
Due: check-licenses, pyright

remove StackVisualiserPresenterTest.test_add_sinograms_to_model_and_update_view
  mantidimaging/gui/windows/stack_visualiser/test/presenter_test.py
Due: check-licenses, pyright

Update documentation
  _modules/mantidimaging/gui/windows/recon/presenter.html
  _modules/mantidimaging/gui/windows/recon/view.html
  api/mantidimaging.gui.windows.recon.html
  api/mantidimaging.gui.windows.recon.presenter.html
  api/mantidimaging.gui.windows.recon.view.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

Update documentation
  _modules/mantidimaging/gui/windows/main/presenter.html
  _modules/mantidimaging/gui/windows/stack_visualiser/presenter.html
  _modules/mantidimaging/gui/windows/stack_visualiser/view.html
  api/mantidimaging.gui.windows.main.html
  api/mantidimaging.gui.windows.main.presenter.html
  api/mantidimaging.gui.windows.stack_visualiser.html
  api/mantidimaging.gui.windows.stack_visualiser.presenter.html
  api/mantidimaging.gui.windows.stack_visualiser.view.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

Increase Windows CI Timeout
  .github/workflows/windows.yml
Due: none

Update documentation
  _modules/mantidimaging/gui/windows/spectrum_viewer/presenter.html
  api/mantidimaging.gui.windows.spectrum_viewer.html
  api/mantidimaging.gui.windows.spectrum_viewer.presenter.html
  genindex.html
  objects.inv
  searchindex.js
Due: none

Return RuntimeError to avoid Cascasde to Vague zip() Error
  mantidimaging/core/io/instrument_log.py
Due: check-licenses, pyright

Require Only Valid Log Header or Data
  mantidimaging/core/io/instrument_log_implmentations.py
Due: check-licenses, pyright

File Load Dialog and Warning Helpers
  mantidimaging/gui/mvp_base/view.py
  mantidimaging/gui/windows/image_load_dialog/field.py
Due: check-licenses, pyright

Handle Various Log File Mismatch Scenarios
  mantidimaging/gui/windows/image_load_dialog/presenter.py
Due: check-licenses, pyright

remove references to _is_sinograms in ImageStack class
  mantidimaging/core/data/imagestack.py
Due: check-licenses, pyright

remove sinogram data ordering checks from recon algorithms
  mantidimaging/core/reconstruct/cil_recon.py
  mantidimaging/core/reconstruct/tomopy_recon.py
Due: check-licenses, pyright

remove references to ImageStack.is_sinograms from operations
  mantidimaging/core/operations/remove_all_stripe/remove_all_stripe.py
  mantidimaging/core/operations/remove_dead_stripe/remove_dead_stripe.py
  mantidimaging/core/operations/remove_large_stripe/remove_large_stripe.py
  mantidimaging/core/operations/remove_stripe_filtering/remove_stripe_filtering.py
  mantidimaging/core/operations/remove_stripe_sorting_fitting/remove_stripe_sorting_fitting.py
Due: check-licenses, pyright

remove all references to ImageStack.is_sinogram from relevant tests
  mantidimaging/core/data/test/image_stack_test.py
  mantidimaging/core/operations/remove_all_stripe/test/remove_all_stripe_test.py
  mantidimaging/gui/windows/operations/test/presenter_test.py
Due: check-licenses, pyright

remove all references to OPERATION_NAME_AXES_SWAP
  mantidimaging/core/operation_history/const.py
  mantidimaging/core/operation_history/operations.py
Due: check-licenses, pyright

Allow running fit on sub ROIs and updating the export table asynchronously
  docs/release_notes/next/dev-2954-async_run_fit_on_sub_rois
  mantidimaging/gui/windows/spectrum_viewer/presenter.py
  mantidimaging/gui/windows/spectrum_viewer/view.py
Due: check-licenses, check-release-notes-format, pyright

remove sinogram specific functions from stripe removal operations
  mantidimaging/core/operation_history/operations.py
  mantidimaging/core/operations/remove_all_stripe/remove_all_stripe.py
  mantidimaging/core/operations/remove_dead_stripe/remove_dead_stripe.py
  mantidimaging/core/operations/remove_large_stripe/remove_large_stripe.py
  mantidimaging/core/operations/remove_stripe_filtering/remove_stripe_filtering.py
  mantidimaging/core/operations/remove_stripe_sorting_fitting/remove_stripe_sorting_fitting.py
Due: check-licenses, pyright

suggested changes
  docs/user_docs/explanations/gui/image_view.rst
  docs/user_docs/explanations/gui/loading_saving.rst
Due: none

Sum ToF Dataset
  mantidimaging/core/operations/sum_stack_intensities/sum_intensities.py
Due: check-licenses, pyright

Sum Tomography Data
  mantidimaging/core/operations/sum_stack_intensities/sum_intensities.py
Due: check-licenses, pyright

Determine Sumation Based on Angle Data
  mantidimaging/core/operations/sum_stack_intensities/sum_intensities.py
Due: check-licenses, pyright

Update Notification Handling
  mantidimaging/gui/windows/operations/view.py
Due: check-licenses, pyright

Notify if Matched by Angle or Index Based on Availability
  mantidimaging/core/operations/sum_stack_intensities/sum_intensities.py
Due: check-licenses, pyright

Angle Variance Warning and Assume Angles Ordered
  mantidimaging/core/operations/sum_stack_intensities/sum_intensities.py
Due: check-licenses, pyright
